<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}
<h1><center>Global Chat Room</center></h1>
<form method="post" action="" autocomplete="off">
	<input type="text" name="message" value="">
	<input type="submit" value="Send">
</form>
<ul>
    <p>Should be newest to oldest! Check order_by in Game object.</p>
	{% for entry in chat_messages %}
	<li><strong>{{ entry.timestamp.strftime("%H:%M:%S") }} - {{ entry.sender_name }}:</strong> {{ entry.message }}</li>
	{% endfor %}
</ul>
<div align="right">
	Users:
	{% for name in active_chatters %}
		<font color="red">
			<br>{{ name }}
		</font>
	{% endfor %}
</div>
{% endblock %}
