<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}
<h1>Global Chat Room</h1>
<form method="post" action="" autocomplete="off">
	<input type="text" name="message" value="" autofocus tabindex="1">
	<input type="submit" value="Send" tabindex="2">
</form>
<ul>
	{% for entry in chat_messages %}
	<li><strong>{{ entry.timestamp.strftime("%H:%M:%S") }} - {{ entry.sender_name }}:</strong> {{ entry.message }}</li>
	{% endfor %}
</ul>
<div align="right">
	Users:
	{% for name in active_chatters %}
		<font color="red">
			<br>{{ name }}
		</font>
	{% endfor %}
</div>
{% endblock %}
