{% extends "layout.html" %}
{% block nav_bar %}
    <div class="topbar">
        <ul>
            <li><a href="/inbox/inbox" {% if not outbox %}style="background-color:Red;"{% endif %}>Inbox</a></li>
            <li><a href="/inbox/outbox" {% if outbox %}style="background-color:Red;"{% endif %}>Outbox</a></li>
        </ul>
    </div>
{% endblock %}
{% block block1 %}
<div style="clear: both;"></div>
<button style="height:50px;" onclick="newPopupReplyBox(this);">
    Compose Message
</button>
<br><br>
<button type="button" form="messageForm" onclick="toggleSelectAll(this);">SELECT ALL</button><input type="submit" name="delete" form="messageForm" value="DELETE" onclick="return sendToPy(event, updateMessageTable, null, null, getIdsFromCheckboxes);"/>
<form id="messageForm">
    <table id="inboxTable">
        <tr>
            <th style="width:7%;">Status</th>
            {% if outbox %}
                <th style="width:7%;">To</th>
            {% else %}
                <th style="width:7%;">From</th>
            {% endif %}
            <th style="width:46%;">Message</th>
            <th style="width:10%;">Timestamp</th>
            <th style="width:3%;">ID</th>
        </tr>
        {% macro message_list(message) %}
        <tr id="messageID-{{ message.id }}">
            <td><input id="selectableCheckbox" type="checkbox" value="{{ message.id }}" />{% if message.unread %}NEW{% else %}OLD{% endif %}</td>
            {% if outbox %}
                <td><a href=/display_accounts/see_account/{{ message.receiver.account.username }}>{{ message.receiver.account.username }}</a></td>
            {% else %}
                <td><a href=/display_accounts/see_account/{{ message.sender.account.username }}>{{ message.sender.account.username }}</a></td>
            {% endif %}
            <td
                {% if message.unread %}
                     id="inboxTableUnreadMessage"> <!-- Makes the box bold -->
                {% else %}
                    >
                {% endif %}
                <!-- Trigger/Open The Modal -->
                <button onclick="sendToPy(event, popupReplyBox, 'get_message_content_and_sender_by_id', {'id': {{ message.id }}});">
                    {{ message.content[0:7] }}...
                </button>
            <td>{{ message.timestamp }}</td>
            <td>{{ message.id }}</td>
        </tr>
        {% endmacro %}
        {% if outbox %}
            {% for message in hero.account.inbox.sent_messages %}
                {{ message_list(message) }}
            {% endfor %}
        {% else %}
            {% for message in hero.account.inbox.received_messages %}
                {{ message_list(message) }}
            {% endfor %}
        {% endif %}
    </table>
</form>

<!-- The Modal for a reply box -->
<div id="inboxPopupWindow" class="modal row">
    <div class="col-2"></div>
    <div class="col-8">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            {% if outbox %}
                <form action="#" id="inbox-form" method="post" name="replyToMessage">
                    <h2>Message received from <span id="replyBoxMessageSender"></span></h2>
                    <h3>Content:</h3>
                    <div id="replyBoxMessageContent"></div>
                    <br>
                  </form>
            {% else %}
                <form action="#" id="inbox-form" method="post" name="form">
                    <h2>Message from <span id="replyBoxMessageSender"></span></h2>
                    <h3>Content:</h3>
                    <div id="replyBoxMessageContent"></div>
                    <h3>Response:</h3>
                    <input type="hidden" name="message_id" value="">
                    <input type="text" name="replyContent" placeholder="reply...">
                    <br><br>
                    <input type="submit" name="replyToMessage" value="Reply">
                  </form>
            {% endif %}
        </div>
    </div>
    <div class="col-2"></div>
</div>

<!-- The Modal for a new message -->
<div id="inboxNewPopupWindow" class="modal row">
    <div class="col-2"></div>
    <div class="col-8">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
                <form action="#" id="inbox-form" method="post" name="newMessage">
                    <input type="hidden" name="message_id" value="">
                    <h2>Send message to:</h2>
                    <input type="text" name="receiver" placeholder="username">
                    <h3>Content:</h3>
                    <textarea name="newMessageContent" rows="10" cols="30" placeholder="reply..."></textarea>
                    <br><br>
                    <input type="submit" name="newMessage" value="Send">
                  </form>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}
