<!-- This shows the admin page -->

{% extends "layout.html" %}

{% block nav_bar %}
        <div class="topbar">
            <ul>
                <li><a {% if quest_log %}style="background-color:Red;"{% endif %} href=/quest_log>Quests</a></li>
                <li><a {% if bestiary %}style="background-color:Red;"{% endif %} href=/bestiary/0>Bestiary</a></li>
                <li><a {% if people_log %}style="background-color:Red;"{% endif %} href=/people_log/0>People</a></li>
                <li><a {% if atlas %}style="background-color:Red;"{% endif %} href=/atlas/0>Atlas</a></li>
                <li><a {% if achievement_log %}style="background-color:Red;"{% endif %} href=/achievements/None>Achievements</a></li>
            </ul>
        </div>
{% endblock %}

{% block block1 %}
        <!-- This shows the quest log within the journal -->
        <h1 style="text-align:center;">{{ page_title }}</h1>
        <div style="clear:both"></div>
    {% if quest_log %}
        <div style="position:relative;border:dotted;width:1200px;height:700px;padding:10px;scroll:auto;">
            <div class="leftPageHalf" style="width:75%;">
                <h2>Current Quests</h2>
                {% for path in hero.journal.quest_paths if not path.completed %}
                <button class="genericAccordion" onclick="sendToPy(event, questTooltip, 'change_path_tooltip', {'id': {{ path.id }}});">{{ path.name.title() }} (Progress: {{ path.stage+1 }} / {{ path.stages }})</button>
                <div class="genericAccordionPanel">
                    <ul>
                        {% for i in range(path.stage + 1) %} <!-- This should iterate over all completed+current stages, but not stages you haven't reached yet -->
                        <!-- @elthran Nice one! - Marlen -->
                        {% set quest = path.quests[i] %} <!-- This may be in random order? -->
                        <li>
                            <button class="genericTooltipTrigger" onclick="sendToPy(event, questTooltip, 'change_quest_tooltip', {'id': {{ quest.id }}});">
                                {{ quest.name }} (Stage: {{ i+1 }})
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
                <h2>Completed Quests</h2>
                {% for path in hero.journal.quest_paths if path.completed %}
                <button class="genericAccordion" onclick="sendToPy(event, questTooltip, 'change_path_tooltip', {'id': {{ path.id }}});">{{ path.name.title() }} (Progress: {{ path.stage+1 }} / {{ path.stages }})</button>
                <div class="genericAccordionPanel">
                    <ul>
                        {% for quest in path.quests %} <!-- This should iterate over all completed+current stages, but not stages you haven't reached yet -->
                        <li>
                            <button class="genericTooltipTrigger" onclick="sendToPy(event, questTooltip, 'change_quest_tooltip', {'id': {{ quest.id }}});">
                                {{ quest.name }} (Stage: {{ loop.index }})
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
            <div class="genericTooltip">
                <div><span id="questTooltip">Click on a quest to see more information.</span></div>
                <div><span id="questReward"></span></div>
            </div>
        </div>
    {% elif bestiary %}
        <div style="position:relative;border:dotted;width:1200px;height:700px;padding:10px;scroll:auto;">
            <div style="position:relative;float:left;width:75%;">
                {% if display_monster %}
                    <h2>{{ display_monster.name }}</h2>
                    <ul style="line-height:25px;">
                        {# <!--
                        <li>Average Level: {{ (display_monster.maximum_level + display_monster.level_min) // 2 }}</li>
                        <li>Species: {{ display_monster.species }}</li>
                        <li>Description: This animal is very common.</li>
                        <li style="margin-top: 50px;">
                            <img src="/static/images/bestiary/display_{{ display_monster.id }}.jpg" alt="{{ display_monster.name }} Picture" style="width:250px;height:250px;">
                        </li>
                        --> #}
                        <li>{{ display_monster.name }}</li>
                        <li>{{ display_monster.monster_id }}</li>
                    </ul>
                {% else %}
                    Here is a list of all of the beasts you have encountered. Click on any monster to see more information.
                {% endif %}
            </div>
            <div style="position:relative;float:right;width:20%;height:100%;border:dotted;">
                {% for monster in all_monsters %}
                    <ul>
                        <li><a href=/bestiary/{{ monster.monster_id }}>{{ monster.name }}</a></li>
                    </ul>
                {% endfor %}
            </div>
        </div>

    <!-- This shows the People Log within the journal-->
    {% elif people_log %}
        <div style="position:relative;border:dotted;width:1200px;height:700px;padding:10px;scroll:auto;">
            <div style="position:relative;float:left;width:75%;">
                {% if display_npc %}
                    <h2>{{ display_npc.name }}</h2>
                    <ul style="line-height:25px;">
                        <li>Real Name: Unknown</li>
                        <li>Age: {{ display_npc.age }}</li>
                        <li>Race: {{ display_npc.race }}</li>
                        <li>Home: Htrae</li>
                        <li>Relation: Neutral</li>
                        <li style="margin-top: 50px;">
                            <img src="/static/images/npcs/display_{{ display_npc.id }}.jpg" alt="{{ display_npc.name }} Picture" style="width:250px;height:250px;">
                        </li>
                    </ul>
                {% else %}
                    Here is a list of all of the beasts you have encountered. Click on any npc to see more information.
                {% endif %}
            </div>
            <div style="position:relative;float:right;width:20%;height:100%;border:dotted;">
                {% for npc in all_npcs %}
                    <ul>
                        <li><a href=/people_log/{{ npc.id }}>{{ npc.name }}</a></li>
                    </ul>
                {% endfor %}
            </div>
        </div>

<!-- This shows the map log within the journal -->
{% elif atlas %}
<div style="position:relative;border:dotted;width:1200px;height:700px;padding:10px;scroll:auto;">
    <div style="position:relative;float:left;width:800px;">
        {% if display_map %}
        <h2>{{ display_map.name }}</h2>
        <div style="line-height:25px;">
            Country: {{ display_map.parent }}
            <div class="atlas_map">
                <img src="/static/images/maps/world_{{ display_map.display.page_image }}" />
                <div class="atlas_nodes" style="cursor:pointer;">
                    {% for node in nodes %}
                    {% if node[1] == "Self" %}
                        <a href={{ node[1] }}><img src="/static/images/maps/character.jpg" style="margin-left:{{ node[0].point.x }}px;margin-top:{{ node[0].point.y }}px;height:40px;width:40px;" onmouseenter="showText('{{ node[0].name }}', '{{ node[0].point.x }}', '{{ node[0].point.y }}')" onmouseout="hideText()"/></a>
                    {% elif node[1] != "None" %}
                        <a href={{ node[1] }}><img src="/static/images/maps/{{ node[2] }}_node.jpg" style="margin-left:{{ node[0].point.x }}px;margin-top:{{ node[0].point.y }}px;" onmouseenter="showText('{{ node[0].name }}', '{{ node[0].point.x }}', '{{ node[0].point.y }}')" onmouseout="hideText()"/></a>
                    {% else %}
                        <img src="/static/images/maps/{{ node[2] }}_node.jpg" style="margin-left:{{ node[0].point.x }}px;margin-top:{{ node[0].point.y }}px;" onmouseenter="showText('{{ node[0].name }}', '{{ node[0].point.x }}', '{{ node[0].point.y }}')" onmouseout="hideText()" />
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        Here is a list of all the maps you have explored. Choose one from the list to see more.
        {% endif %}

        Mouse over a node to see its information<span id="nodeName" style="font-weight:bold;"></span>
    </div>
    <div style="position:relative;float:right;width:20%;height:100%;border:dotted;">
        {% for map in all_maps %}
        <ul>
            <li><a href=/atlas/{{ map.id }}>{{ map.name }}</a></li>
        </ul>
        {% endfor %}
    </div>
</div>
{% for map in maps %}
{{ map }}
<img src="/static/images/maps/world_{{ map.display.page_image }}"/>
{% endfor %}

    <!-- This shows the achievement log within the journal -->
    {% elif achievement_log %}
        <div style="position:relative;border:dotted;width:800px;height:300px;padding:10px;scroll:auto;">
            <div style="position:relative;float:left;width:75%;">
            {% if display_achievement %}
                <h2>{{ display_achievement.name }}</h2>
                <p>Current level of {{ display_achievement.current_level }}</p>
                <p>Reward of {{ display_achievement.experience }} experience points.</p>
                <p>Next level of {{ display_achievement.next_level }}</p>
            </div>
            <div style="position:relative;float:right;width:20%;height:100%;border:dotted;">
                <p>Back to <a href="/achievements/0">All Achievements</a></p>
            {% else %}
                <p>Here is a list of all the achievements you have explored. Choose one from the list to see more information.</p>
            {% endif %}
            {% for achievement in all_achievements %}
                <ul>
                    <li><a href=/achievements/{{ achievement.id }}><b>{{ achievement.name }} -> Current level: {{ achievement.current_level }} -> Next level: {{ achievement.next_level }}</b></a></li>
                </ul>
            {% endfor %}
            </div>
            {% if completed_achievements %}
            {% for achievement in completed_achievements %}
            <h2><br><b>{{ achievement.name }} &nbsp; &nbsp; &nbsp; (+{{ achievement.experience }} experience)</b></h2>
            {% endfor %}
            {% endif %}
        {% for map in maps %}
            {{ map }}
            <img src="/static/images/maps/world_{{ map.display.page_image }}"/>
        {% endfor %}
        </div>

    {% endif %}
        <!-- I don't know why this needs to be below my code and not above it -->
        <!-- Because the page loads sequentially and your code would be referring to elements that didn't exist yet if it was above them. -->
        <script>
        var allProfs = document.getElementsByClassName("genericAccordion");
        var index;
        for (index = 0; index < allProfs.length; index++) {
            allProfs[index].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }

        function showText(name, x, y) {
            console.log(name, x, y)
            document.getElementById('nodeName').style.display = 'block';
            document.getElementById('nodeName').innerHTML = "Location: " + name + "<br /> Map Coordinates: " + x + "," + y;
        }

        function hideText(name) {
            document.getElementById('nodeName').style.display = 'none';
        }
        </script>
{% endblock %}
