<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body onscroll="stickyTopAndBottom();" style="min-height:815px;background:#bbc;">
    <div class="sidebar" id="sidebar" style="border-radius:10px;border-width:1px;border-style:outset;">
        <div>
            <h1>{{ hero.name }}</h1>
            <img src="/static/images/character.jpg" alt="Sample" width="100px" height="100px" style="border-radius:3%;border-width:1px;border-style:inset;" />
            Age: {{ hero.age }}
            <br>Gold: <span id="heroGold">{{ hero.gold }}</span>
        </div>
        <div class="sideBarProgressDiv">Health:
            <div class="sideBarProgressMeter">
                <span style="width:{{ hero.get_summed_proficiencies('health').percent }}%"></span>
            </div>
        </div>
        {% if hero.get_summed_proficiencies('sanctity').final %}
        <div class="sideBarProgressDiv">Sanctity:
            <div class="sideBarProgressMeter sidebarSanctity">
                <span style="width:{{ hero.get_summed_proficiencies('sanctity').percent }}%"></span>
            </div>
        </div>
        {% endif %}
        <div class="sideBarProgressDiv">Endurance:
            <div class="sideBarProgressMeter sidebarEndurance">
                <span style="width:{{ hero.get_summed_proficiencies('endurance').percent }}%"></span>
            </div>
        </div>
        <div class="sideBarProgressDiv">Progress:
            <div class="sideBarProgressMeter sidebarProgress" style="">
                <span style="width:{{ hero.experience_percent }}%"></span>
            </div>
        </div>
        <div>
            <ul>
                <li onclick="this.firstChild.click();"><a href=/home>Profile</a></li>
                <li onclick="this.firstChild.click();"><a href=/inventory_page>Inventory</a></li>
                <li onclick="this.firstChild.click();"><a href=/spellbook>Spellbook</a></li>
                <li onclick="this.firstChild.click();"><a href={{ hero.current_location.url }}>{{ hero.current_location.name }}</a></li>
                <li onclick="this.firstChild.click();"><a href=/quest_log>Journal</a></li>
            {% if hero.account.is_admin %}
                <li onclick="this.firstChild.click();"><a href=/admin>Admin</a></li>
            {% endif %}
                <li onclick="this.firstChild.click();"><a href=/display_accounts/display/id>Users</a></li>
                <li onclick="this.firstChild.click();"><a href=/about>About</a></li>
            {% if hero.account.inbox_alert %}
                <li onclick="this.firstChild.click();"><a href=/inbox/inbox><font color="blue">New Message</font></a></li>
            {% else %}
                <li onclick="this.firstChild.click();"><a href=/inbox/inbox>Mailbox</a></li>
            {% endif %}
                <li onclick="this.firstChild.click();"><a href=/global_chat>Chat</a></li>
                <li onclick="this.firstChild.click();"><a href=/forum/0/0>Forum</a></li>
                <li onclick="this.firstChild.click();"><a href=/settings/profile/none>Settings</a></li>
                <li onclick="this.firstChild.click();"><a href=/logout>Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- This is where you want to add HTML that will not be contained within the main body of the page -->
    <!-- Here you can add a navigation bar at the top of the page -->
    <!-- This is for content that is displayed on the main page -->
    <div class="content">
        {% block nav_bar %}{% endblock %}
        <div style="clear:both;"></div>
        <!-- This is info pulled from other html files -->
        {% block block1 %}{% endblock %}
        {% block block2 %}{% endblock %}
        <!-- This ends the main body container of the page -->
    </div>
    <!-- This displays notifications stacked on the bottom left of the page -->
    <div id="temporaryNoticeContainer">
        {% for notice in hero.journal.notifications %}
        <div id="notice-{{ notice.id }}" class="temporaryNotice" onclick="sendToPy(event, redirectUserFromNotification, 'send_notification_data', {'id': {{ notice.id }}, 'redirect': 'True'});">
            <button id="temporaryNoticeClose" onclick="sendToPy(event, redirectUserFromNotification, 'send_notification_data', {'id': {{ notice.id }}, 'redirect': 'False'});">x</button>
            <h1>{{ notice.header }}</h1>
            <h2>{{ notice.body }}</h2>
            <h3>{{ notice.footer }}</h3>
            <p>{{ notice.redirect_message }}</p>
        </div>
        {% endfor %}
    </div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>





