{% extends "profile_template.html" %}
{% block block1 %}
<!-- This is the ability page. It let's you learn/upgrade abilities -->

<div style="clear: both;"></div>

{% if becomeType %} <!-- The hero hasn't chosen his type. So don't let him choose an ability. Only choose a type. -->
    <h1 style="text-align:center;">{{ ability_tree.title() }} Abilities</h1>
    <div style="width:1100px;height:500px;">
        <div style="float:left;width:600px;border:dotted;">
            <h2>You have yet to choose a {{ ability_tree }}. After you choose, you will be able to learn abilities related to that {{ ability_tree }}.</h2>
            <ul>
            {% for spec in spec_choices %}
                {% set hsa = hero.specialization_access[spec.id] if spec.id in hero.specialization_access else None %}
                <li>
                    {% if not hsa or (hsa and hsa.hidden) %} {# check if spec has a hero.spec_access ... then check it's hidden property #}
                    <button class="genericTooltipTrigger"
                            onclick="sendToPy(event, specializationTooltip, 'update_specialization_tooltip', {'id': 0});">
                        Unknown
                        {% elif hsa and not hsa.hidden %}
                        <button class="genericTooltipTrigger"
                                onclick="sendToPy(event, specializationTooltip, 'update_specialization_tooltip', {'id': {{ spec.id }}});">
                            {{ spec.name.title() }}
                        {% endif %}
                        </button>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div style="float:left;width:400px;border:dotted;height:auto;padding:5px;margin-left:50px;">
            <div>
                <span id="specializationTooltip">You must choose a {{ ability_tree.title() }} before you can learn any abilities.</span>
                <br>
                <span id="specializationRequirements" style="color: red;"></span>
                <br>
                <button style="position:absolute;width:80px;height:30px;" id="specializationButton" disabled>Choose</button>
            </div>
        </div>
    </div>
{% else %} <!-- Hero has a chosen type. Let him choose their abilities! -->

{% if ability_tree == "basic" %}
{% set points_remaining = hero.basic_ability_points %}
{% set spec_name = "Basic" %}
{% set page_header = "Basic" %}
{% elif ability_tree == "archetype" %}
{% set points_remaining = hero.archetype_ability_points %}
{% set spec_name = hero.specializations.archetype.name %}
{% elif ability_tree == "calling" %}
{% set points_remaining = hero.calling_ability_points %}
{% set spec_name = hero.specializations.calling.name %}
{% elif ability_tree == "pantheon" %}
{% set points_remaining = hero.pantheon_ability_points %}
{% set spec_name = hero.specializations.pantheon.name %}
{% endif %}

<h1 style="text-align:center;">{{ spec_name }}</h1>
<div class="stickyPointsRemainingBar">Points Remaining: <div style="display: inline" id="pointsRemaining">{{ points_remaining }}</div></div>
<div style="clear: both;"></div>
<div style="width:1100px;height:500px;">
	<div style="float:left;width:600px;border:dotted;">
        <ul>
        {% for ability in all_abilities %}
                <button class="genericTooltipTrigger"
                            onclick="sendToPy(event, abilityTooltip, 'change_ability_tooltip', {'id': {{ ability.id }}});">
                    {{ ability.name}}
                    <div style="display: inline" id="ability-{{ ability.id }}">{{ ability.level if ability.level > 0 else '' }}</div> <!-- If you have points in this, show the user how many -->
                </button>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div style="float:left;width:400px;border:dotted;height:auto;padding:5px;margin-left:50px;">
        <div>
            <span id="abilityTooltip">These abilities are available to {{ spec_name }} heroes. Click on an ability to see more information about it or to increase its level."</span>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}


