<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}

<h1>Settings</h1>
<div class="topbar">
	<ul>
		<li><a href="/settings/profile/none" {% if tab == "profile" %}style="background-color:Red;"{% endif %}>Profile</a></li>
		<li><a href="/settings/security/none" {% if tab == "security" %}style="background-color:Red;"{% endif %}>Security</a></li>
	</ul>
</div>
<div style="clear: both;"></div>
{% if message %}
<h2 style="margin-left:500px;"><font color="green">{{ message }}</font></h2>
{% endif %}
{% if tab == "profile" %}
<button class="settingsAccordion">Username</button>
<div class="settingsPanel">
	{{ hero.account.username.title() }}
</div>
<button class="settingsAccordion">Join Date</button>
<div class="settingsPanel">
	{{ hero.account.timestamp }}
</div>
<button class="settingsAccordion">Account Prestige</button>
<div class="settingsPanel">
	{{ hero.account.prestige }}
</div>
<button class="settingsAccordion">Avatar</button>
<div class="settingsPanel">
	{% for i in range(1,4) %}
	<img class="avatarImageSelect" id="img-{{ i }}" src="/static/images/avatars/{{ i }}.jpg" alt="{{ i }}" {% if i|string == hero.account.avatar %}style="border:thick solid blue"{% endif %}>
	{% endfor %}
	<button id="changeAvatar" class="settingsButton" onclick="sendToPy(event, successMessage, 'change_avatar', {'id': '{{ hero.account.avatar }}', 'name': 'avatar'});">Change Avatar</button>
	<span id="avatarSuccess" class="settingsSuccess"></span>
</div>
<button class="settingsAccordion">Signature</button>
<div class="settingsPanel">
	<input id="newSignature" type="text" value="{{ hero.account.signature }}" style="width:500px;" />
	<button id="signatureButton" class="settingsButton" onclick="sendToPy(event, successMessage, 'change_signature', {'signature': '{{ hero.account.signature }}', 'name': 'signature'});">Update Signature</button>
	<span id="signatureSuccess" class="settingsSuccess"></span>
</div>
{% elif tab == "security" %}
<button class="settingsAccordion">Password</button>
<div class="settingsPanel">
	<form method="post" action="" autocomplete="off">
		<input class="hide" type="text" name="type" value="update_password" />
		<ul class="settingsList">
			<li>Old Password<br><br><input type="password" name="old_password" tabindex=1 /></li>
			<li>New Password<br><br><input id="newPassword" type="password" name="new_password" tabindex=2 />
				<span id="passwordInfo1" class="settingsTooltip"></span></li>
			<li>Repeat Password<br><br><input id="newPassword2" type="password" tabindex=3 />
				<span id="passwordInfo2" class="settingsTooltip"></span></li>
		</ul>
		<button id="passwordButton" class="settingsButton" type="submit" disabled>Update password</button>
	</form>
</div>
<button class="settingsAccordion">Update Email</button>
<div class="settingsPanel">
	<form method="post" action="" autocomplete="off">
		<input class="hide" type="text" name="type" value="update_email" />
		<ul>
			<li>{% if hero.account.email %}Change{% else %}Add{% endif %} Email Address: <input id="newEmail" type="email" tabindex=1 name="new_email" /></li>
		</ul>
		<button id="emailButton" class="settingsButton" type="submit" disabled>Update Email</button>
		<span id="emailInfo1"></span>
	</form>
</div>
{% endif %}

<script>
/* Runs the accordion script. Opens and closes the options for each category */
var acc = document.getElementsByClassName("settingsAccordion");
var i;
for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}

/* Runs the avatar selection script. Highlights selected choices and updates the submit button */
var acc = document.getElementsByClassName("avatarImageSelect");
var i;
for (i = 0; i < acc.length; i++) {
    // NOTE: the following 'event's refer to 2 different things.
    // function(event) -> event.target.alt - refers to the event spawned when the acc[i] image
    // is clicked. The event.target here is the <img>.
    //
    // sendToPy(event) - refers to the event spawned when the changeAvatar button is clicked.
    // The event.target here would be the changeAvatar <button>.
    acc[i].addEventListener("click", function(event) {
    	submitButton = document.getElementById("changeAvatar");
    	submitButton.setAttribute("onclick", "sendToPy(event, successMessage, 'change_avatar', {'id': '" + event.target.alt + "', 'name': 'avatar'});");
    	for (i = 0; i < acc.length; i++) {
    		acc[i].style.border = "none";
    	};
        this.style.border = "thick solid blue";
    });
}

/* Updates the error/correct screen for input fields to notify the user if their typing has been validated */
var newPassword = document.getElementById("newPassword");
if (newPassword) {
	newPassword.addEventListener("input", function(event) {sendToPy(event, toggleButton, 'verify_password', {'password': document.getElementById("newPassword").value, 'password2': document.getElementById("newPassword2").value, 'field': '1'})});
}
var newPassword2 = document.getElementById("newPassword2");
if (newPassword2) {
	document.getElementById("newPassword2").addEventListener("input", function(event) {sendToPy(event, toggleButton, 'verify_password', {'password': document.getElementById("newPassword").value, 'password2': document.getElementById("newPassword2").value, 'field': '2'})});
}
var newEmail = document.getElementById("newEmail");
if (newEmail) {
	newEmail.addEventListener("input", verifyEmail);
}
var newSignature = document.getElementById("newSignature");
if (newSignature) {
	newSignature.addEventListener("input", toggleSignature);
}
function verifyPassword() {
    sendToPy(event, toggleButton, 'verify_password', {'password': document.getElementById("newPassword").value, 'password2': document.getElementById("newPassword2").value});
}
function verifyEmail() {
    sendToPy(event, toggleButton, 'verify_email', {'email': document.getElementById("newEmail").value});
}
function toggleSignature() {
	var newSignature = document.getElementById("newSignature");
	var signatureButton = document.getElementById("signatureButton");
	console.log(signatureButton);
	signatureButton.setAttribute( "onclick", "sendToPy(event, successMessage, 'change_signature', {'signature': '" + newSignature.value + "', 'name': 'signature'} )" );
}
function toggleButton(response) {
	var i;
	for (i = 1; i < response.fields+1; i++) {
		var hide = document.getElementById(response.button + "Info" + i);
		hide.style.visibility = "hidden";
	}
	var verify = document.getElementById(response.button + "Button");
	var info = document.getElementById(response.button + "Info" + response.field);
	info.style.visibility = "visible";
	info.innerHTML = response.message;
	if (response.success === "yes") {
		verify.disabled = false;
		info.style.color = "green";
	} else {
		verify.disabled = true;
		info.style.color = "red";
	}
}
</script>
{% endblock %}
