__pycache__/
*.pyo
*.bak
.editorconfig
mydb_data.sql
mydb_new_database.sql
.idea/
.cache/
templates/desktop.ini
.pytest_cache/
private_config.py
elthranonline.egg-info/
specifications/.ipynb_checkpoints/
