__pycache__/
*.pyo
*.bak
.editorconfig
elthranonline/static/mydb_data.sql
.idea/
.cache/
templates/desktop.ini
.pytest_cache/
private_config.py
elthranonline.egg-info/
specifications/.ipynb_checkpoints/
