/* Body and Basics */

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  background-color: LightGray;
}

h1 { 
  color: Black; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 35px; 
  font-weight: 900; 
  letter-spacing: -1px; 
  line-height: 100%; 
}

h1.indented {
  margin-left: 5%;
}

h2 { 
  color: Black; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 25px; 
  font-weight: 600;
  line-height: 100%;  
}

p { 
  color: Black; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 14px; 
  font-weight: 300;
  line-height: 100%;   
}

ul {
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5px;
}


/* Basic Content throughout the game */

#content {
  width: 80%;
  padding-top: 60px;
  float: right;
}

#content img {
  opacity:1;
  border-radius: 50%;

}

.nav ul {
  list-style: none;
  background-color: #333;
  padding-left: 0;
  margin: 0;
  display:inline-block;
  width:125px;
  }

 .nav li a {
  display:block;
  text-decoration: none;
  padding:14px 16px;
  color: #fff;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.rightside {
  float:right;
  overflow-y: scroll;
}

/* Sidebar used for all pages */

#sidebar {
  width:14%;
  position: fixed;
  overflow: auto;
  height:100%;
  background-color: Gray;
}

#sidebartop {
  overflow: hidden;
}

#sidebartop img {
  margin-right: 15px;
  float: left;
}

#sidebarmiddle li {
  line-height: 30px;
}

#sidebar ul{
  overflow: hidden; 
  list-style: none;
  line-height: 15px;
  color: Black;
}

#sidebar li{
  list-style-type: none;
  padding-bottom: 10px;
}

#sidebarbottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: Gray;
  text-align: center;
  line-height: 20px;
  padding-bottom: 0px;
}

#sidebarbottom li a {
  display: block;
  border: 1px outset Black;
  border-radius: 5px;
  color: Black;
  padding: 5px 16px;
  text-decoration: none;
}

#sidebarbottom li a:hover {
  background-color: Brown;
  color: white;
}

/* Topbar used in profile_template */

.topbar {
  float: right;
  width: 40%;
}

.topbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: Black;
}

.topbar li {
  float: left;
}

.topbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topbar li a:hover:not(.active) {
    background-color: Green;
}

.topbarActive {
    background-color: Red;
}

.topbarGlowing {
  background-color: Blue;
}

/* Top bar added drop-down portion */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Attribute Page */

.profilePage {
    float: left;
     text-align: left;
     font-family: arial;
     font-size: 30px;
     padding: 5px;
     margin: 30px;
     border: 5px Double Black;  
     width: 40%;
     background-color: Gray;
     color: white;
     line-height: 35px;
}

.submitButton {
  float: left;
  font-size: 30px;
  margin: 30px;
}

.profilePageAttributes {
  float: left;
  padding-left: 10px;
} 

.profilePageValues {
  float: right;
  padding-right: 10px;
} 

.profilePageAttributes .profilePageValues ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.profilePageInfo {
  float: right;
  height: 50%;
}

.profilePageInfo h1 {
  text-align: center;
}

button.profileText {
    background:none;
    border:none;
    margin:0;
    padding:0;
    width: 100%
    text-align: left;
    font-family: arial;
    font-size: 30px;
     text-transform: uppercase;
}

.profilePageAttributes li:hover {
  background-color: lightGrey;
}

input.abilityButton {
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 20px;           /* make this the size of your image */
    padding-left: 15px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}

input.abilityButtonPlus {
  background-image: url(/static/images/plus_button.jpg); /* Image size needs to match abilityButton (about 16px x 16px) */
  float: right;
}

input.abilityButtonMinus {
    background-image: url(/static/images/minus_button.jpg); /* Image size needs to match abilityButton (about 16px x 16px) */
    float: left;
}

/* The % full bars used in the game */

.progressBar { 
  height: 10px; 
  width: 100px;
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  float: right;
}

.progressBar > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(to bottom, Green, Lime);
  box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.progressBar.sanctity > span {
  background-image: linear-gradient(to bottom, Blue, Pink);
}

.progressBar.endurance > span {
  background-image: linear-gradient(to bottom, Red, Yellow);
}

.progressBar.progress > span {
  background-image: linear-gradient(to bottom, Orange, Yellow);
}

/* Profile Page */

img.profileImage {
  width: 20%;
  height: auto;
  padding-left: 100px;
}

.profileContainer {
  width: 100%;
    margin: 0 auto;
}

.profileContainer h1 {
  padding-left: 40px;
}

.profileContainer li {
  font-size: 20px;
}

.profileColumn {
  float: left;
  width: 40%;
  margin: 20px;
}

/***** Jacob's messing around *******/

/* Attribute Page Container to split page into 2 vertical halves using absolute positioning technique
    temporary because absolute positioning requires set height and will mess up display below it */


/* Ability button design */

.button_ability {
	font-size: 18px;
	width: 700px;
	height: 700px;
	background-repeat: no-repeat;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Popup container for achievement pop up - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popupachievement {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popupachievement::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}