body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  
}

#page {
margin:0 auto;
overflow:hidden;
}

#page:after {
  clear:both;
}


h1 {
    font-size: 40px;
    color: #08edb2;
}

h3 {
    font-size: 32px;
    color: #08edb2;
}

p{
  font-size:14px;
  line-height:25px;
}


/******* content ******/

#content {
  width: 80%;
  padding-top: 60px;
  float: right;
}

#content img {
  opacity:1;
  border-radius: 50%;

}



.nav ul {
  list-style: none;
  background-color: #333;
  padding-left: 0;
  margin: 0;
  display:inline-block;
  width:125px;
  }

 .nav li a {
  display:block;
   text-decoration: none;
   padding:14px 16px;
  color: #fff;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


.rightside {
  float:right;
  overflow-y: scroll;
}


/*****side bar *******/

#sidebar {
  width:15%;
  position:fixed;
  overflow-y: scroll;
  height:100%;
  background-image: url(images/back.jpg);
}

.sidebarinfo {
 color:white;
}
 

#sidebar ul{
   overflow: hidden; 
    list-style: none;
     line-height: 20px;
        color: :white;
}

#sidebar li{
    list-style-type: none;
    padding-bottom: 14px;

}

.sidebarmenu li {
   line-height: 30px;
}

.sidebarmenu a{
 font-size: 20px;
 color:#e5c100;
}


a:hover {
    color: #339966;
    text-decoration: none;
    position: relative;
    z-index: 2;
}


/***** Jacob's messing around *******/

.button_ability {
	font-size: 18px;
	width: 700px;
	height: 700px;
	background-repeat: no-repeat;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

