/* Marlen's CSS, could be very bugged! 
See Responsive web design https://www.w3schools.com/css/css_rwd_grid.asp
*/

/*In theory this means select all elements that have
a parent of div with a class=row

*/

div.row > * {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.5%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 10px;
    border: 1px dotted gray;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* End Marlen's CSS */

/* Body and Basics */

body {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: LightGray;
}

h1 { 
	color: Black; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 35px; 
	font-weight: 900; 
	letter-spacing: -1px; 
	line-height: 100%; 
}

h1.indented {
	margin-left: 5%;
}

h2 { 
	color: Black; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 25px; 
	font-weight: 600;
	line-height: 100%;  
}
/* Commented out by Marlen because it overrides _all_ format tags inside
of <p> tag.
i.e.
<p><strong>Should be bold</strong></p> doesn't work.
p { 
	color: Black; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 14px; 
	font-weight: 300;
	line-height: 100%;   
}
*/

ul {
	list-style-type: none;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 5px;
}


/* Basic Content throughout the game */

#content {
	width: 85%;
	padding-top: 60px;
	float: right;
}

#content img {
	opacity:1;
	border-radius: 50%;

}

.nav ul {
	list-style: none;
	background-color: #333;
	padding-left: 0;
	margin: 0;
	display:inline-block;
	width:125px;
  }

 .nav li a {
	display:block;
	text-decoration: none;
	padding:14px 16px;
	color: #fff;
	transition: .3s background-color;
}

.nav a:hover {
	background-color: #005f5f;
}
 
.nav a.active {
	background-color: #fff;
	color: #444;
	cursor: default;
}

.rightside {
	float:right;
	overflow-y: scroll;
}

/* Sidebar used for all pages */

#sidebar {
    font-size: 12px;
	width:12%;
	position: fixed;
	overflow: auto;
	height:100%;
	background-color: Gray;
}

#sidebartop {           /* The top pictures */
	overflow: hidden;
}

#sidebartop img {
	margin-right: 15px;
	float: left;
}

#sidebarmiddle li {     /* The 4 color progress bars */
	line-height: 30px;
}

#sidebar ul{
	overflow: hidden; 
	list-style: none;
	line-height: 15px;
	color: Black;
}

#sidebar li{
	list-style-type: none;
	padding-bottom: 3px;
}

#sidebarbottom ul {     /* The menu list */
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: Gray;
	text-align: center;
	line-height: 15px;
	padding-bottom: 0px;
}

#sidebarbottom li a {
	display: block;
	border: 1px outset Black;
	border-radius: 5px;
	color: Black;
	padding: 5px 16px;
	text-decoration: none;
}

#sidebarbottom li a:hover {
	background-color: Brown;
	color: white;
}

/* Topbar used in profile_template */

.topbar {
	float: right;
	width: 40%;
}

.topbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: Black;
}

.topbar li {
	float: left;
}

.topbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topbar li a:hover:not(.active) {
	background-color: Green;
}

.topbarActive {
	background-color: Red;
}

.topbarGlowing {
	background-color: Blue;
}

/* Top bar added drop-down portion (used on Ability section) */

.topbarDropLink li a {
	display: inline-block;
	color: Black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topbarDropdownOuter li {
	display: inline-block;
}

.topbarDropdownInner {
	display: none;
	position: absolute;
	min-width: 160px;       /* Not Sure what it does */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   /* Not Sure what it does */
    z-index: 1;   /* Not Sure what it does */
	background-color: Black;
}

.topbarDropdownInner a {
	color: Black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.topbarDropdownOuter:hover .topbarDropdownInner {
	display: block;
}

/* Topbar used in inbox */

.inboxTopbar {
	float: left;
	width: auto;
}

.inboxTopbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: Black;
}

.inboxTopbar li {
	float: left;
}

.inboxTopbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.inboxTopbar li a:hover:not(.active) {
	background-color: Green;
}

/* INBOX CODE */
#inboxTable tr td {
    border: 0.5px dotted #000;
}

#inboxTable tr td:first-child {
    width: 5%;
}
#inboxTable tr td:nth-child(2) {
    width: 10%;
}

#inboxTable tr td:nth-child(3) {
    width: 50%;
}

#inboxTable tr td:nth-child(4) {
    width: 10%;
}

#inboxTable tr td:last-child {
    width: 3%;
}

/* Attribute Page */

.profilePage {
	float: left;
	text-align: left;
	font-family: arial;
	font-size: 30px;
	padding: 5px;
	margin: 30px;
	border: 5px Double Black;  
	width: 40%;
	background-color: Gray;
	color: white;
	line-height: 35px;
}

.submitButton {
	float: left;
	font-size: 30px;
	margin: 30px;
}

.profilePageAttributes {
	float: left;
	padding-left: 10px;
} 

.profilePageValues {
	float: right;
	padding-right: 10px;
} 

.profilePageAttributes .profilePageValues ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

.profilePageInfo { /* This page shows the description for each attribute */
	float: right;
	height: 350px;
}

.profilePageInfo h1 {
	text-align: center;
}

button.profileText {
	background:none;
	border:none;
	margin:0;
	padding:0;
	width: 100%;
	text-align: left;
	font-family: arial;
	font-size: 30px;
	text-transform: uppercase;
}

.profilePageAttributes li:hover {
	background-color: lightGrey;
}

input.abilityButton {
	background-color: transparent; /* make the button transparent */
	background-repeat: no-repeat;  /* make the background image appear only once */
	background-position: 0px 0px;  /* equivalent to 'top left' */
	border: none;           /* assuming we don't want any borders */
	cursor: pointer;        /* make the cursor like hovering over an <a> element */
	height: 20px;           /* make this the size of your image */
	padding-left: 15px;     /* make text start to the right of the image */
	vertical-align: middle; /* align the text vertically centered */
}

input.abilityButtonPlus {
	background-image: url(/static/images/plus_button.jpg); /* Image size needs to match abilityButton (about 16px x 16px) */
	float: right;
}

input.abilityButtonMinus {
	background-image: url(/static/images/minus_button.jpg); /* Image size needs to match abilityButton (about 16px x 16px) */
	float: left;
}

/* Proficiency Page */

.proficiencyPage {
	font-family: arial;
	font-size: 20px;
	margin: 5px;
	width: 1100px;
	height: 1000px;
	color: white;
	line-height: 55px;
	overflow-x: auto;  /* Makes sure that if the screen is too small, you can scroll to the right instead of chopping up the page */
}

.proficiencyPage h1 {
	font-size: 30px;
}

.proficiencyPageInner {
	width: 350px;
	height: auto;
	border: 5px Double Black;
	margin: 0;
	padding: 0;
	float: left;
	background-color: Darkgray;
}

#proficiencyButton {
	background-color: transparent; /* make the button transparent */
	background-repeat: no-repeat;  /* make the background image appear only once */
	background-position: 0px 0px;  /* equivalent to 'top left' */
	border: none;           /* assuming we don't want any borders */
	cursor: pointer;        /* make the cursor like hovering over an <a> element */
	height: 20px;           /* make this the size of your image */
	padding-left: 15px;     /* make text start to the right of the image */
	vertical-align: middle; /* align the text vertically centered */
	background-image: url(/static/images/prof_button.jpg); /* Image size needs to match abilityButton (about 16px x 16px) */
}

.tooltip {
	outline:none; 
}

.tooltip:hover {
	text-decoration:none;
} 

.tooltip span {
    z-index: 1;
    display: none; 
    padding: 25px 25px; /* Padding inside the tooltip */
    margin-top:-50px; /* Moves the tooltip relative to the text you are hovering over */
    margin-left: 28px;    /* How far to the right of your text the display box will show */
    width: auto; 
    line-height: 35px;
}

.tooltipLeft span {   /* Add this if you want the tooltip to display to the left of what you are hovering over */
	margin-left: -500px;
}

.tooltip:hover span {
    display:inline; 
    position:absolute; 
    color:White;
    border:1px 
    solid #DCA;
    background-color: Black;
}

.tooltip span {
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

/* Ability Pages */

    /* Religion Individual Containers */
.religioncontainer {
    width: 14%;
    height: 300px;
    float: left;
    padding: 10px;
    background-image: url("/static/images/grayscale.jpg");
    border: 1px dotted gray;
}

    /* Container for the 6 archetype fields */
.popuparchetypecontainer {
	display: inline;
	float: left;
	cursor: pointer;
	height: 350px;
	width: 16%;
	border: 1px dotted gray;
}

    /* {TAGGED FOR DELETION ONCE REPLACED} The popup message you get if you click on an archetype container*/
.popuparchetypechangingmessage {
	visibility: hidden;
	max-width: 100px;
	height: 50px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	position: static;
	z-index: 1;
	margin: auto;
}

    /* {REPLACING CONTENT DIRECTLY ABOVE} The popup message that should show up below the 6 archetypes */
.popuparchetypemessage {
    text-align: center;
}

.popuparchetypemessage li {
    color: red;
}

    /* The toggle of the popup message of the archetype containers */
.show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.hide {
    display: none;
}

/* The % full bars used in the game */

.progressBar { 
	height: 10px; 
	width: 70px;
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	float: right;
}

.progressBar > span {
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(43,194,83);
	background-image: linear-gradient(to bottom, Green, Lime);
	box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

.progressBar.sanctity > span {
	background-image: linear-gradient(to bottom, Blue, Pink);
}

.progressBar.endurance > span {
	background-image: linear-gradient(to bottom, Red, Yellow);
}

.progressBar.progress > span {
	background-image: linear-gradient(to bottom, Orange, Yellow);
}

/* Profile Page */

img.profileImage {
	width: 20%;
	height: auto;
	padding-left: 100px;
}

.profileContainer {
	width: 100%;
	margin: 0 auto;
}

.profileContainer h1 {
	padding-left: 40px;
}

.profileContainer li {
	font-size: 20px;
}

.profileColumn {
	float: left;
	width: 40%;
	margin: 20px;
}

.archetypeImages {
    width: 175px;
    height: 325px;
    }

/***** Jacob's messing around *******/

/* Attribute Page Container to split page into 2 vertical halves using absolute positioning technique
    temporary because absolute positioning requires set height and will mess up display below it */


/* Ability button design */

.button_ability {
	font-size: 18px;
	width: 700px;
	height: 700px;
	background-repeat: no-repeat;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Popup container for achievement pop up - can be anything you want */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popupachievement {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popupachievement::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
}

/* Choose character page */
.imageContainer {
    position: relative;
    text-align: center;
    color: white;
}
.label {
    position: absolute;
    bottom: 0.8em;
    width: 100%;
    left: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe; /* Makes the background an off-white */
    border-radius:10px; /* Makes the corners round */
    font-family:raleway;
    padding: 10px 50px; /* Makes sure the box is big enough to fit the text */
    display: inline-block; /* Makes sure it stays in the center */
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.inventory {
    border: 5px solid;
    position: absolute;
    height: 125px;
    width: 125px;
}

#inventory-helmet {
    left: 50%;
    top: 10%;
}

#inventory-chest {
    left: 50%;
    top: 30%;
}

#inventory-shoulders {
    left: 40%;
    top: 20%;
}

#inventory-sleeves {
    left: 65%;
    top: 40%;
}

#inventory-gloves {
    left: 35%;
    top: 45%;
}

#inventory-legs {
    left: 50%;
    top: 50%;
}

#inventory-feet {
    left: 50%;
    top: 70%;
}

#inventory-left-hand {
    left: 70%;
    top: 65%;
}

#inventory-right-hand {
    left: 30%;
    top: 65%;
}