<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}
<h1>
    <center>Reset Character
        <ul>
            <li><a href=/reset_character/tough>Tough Guy</a></li>
            <li><a href=/reset_character/rich>Rich Guy</a></li>
            <li><a href=/reset_character/custom>Customizable</a></li>
        </ul>
    </center>
</h1>
<br><br>
<h1 style="text-align:center;">Primary Attributes</h1>
<form method="post" action="" autocomplete="off">
    <ul>
        {%- for attribute in admin %}
        <li><label for="name">{{ attribute[0] }}: {{ attribute[1] }}</label>
            <input type="number" name="{{ attribute[0] }}" min="0" title="Numbers only" value={{ attribute[1] }}><br>
        </li>
        {%- endfor %}
    </ul>
    	<h1>*TESTING PURPOSES* Modify your character</h1>
	Archetype:
    <select name="archetype" autofocus tabindex=1>
	    <option value="Ascetic">Ascetic</option>
	    <option value="Woodsman">Woodsman</option>
	</select><br>
    Specialization:
    <select name="spec" autofocus tabindex=1>
	    <option value="Priest">Priest</option>
	    <option value="Hunter">Hunter</option>
	</select><br>
    Religion:
    <select name="religion" autofocus tabindex=1>
	    <option value="God1">God1</option>
	    <option value="God2">God2</option>
	</select><br><br>
<input class="btn btn-default" type="submit" value="Save">
</form>
<h1 style="text-align:center;">Hidden Attributes</h1>
<ul>
    <li>Experience Modifier: {{ hero.experience_gain_modifier }}</li>
    <li>Gold Modifier: {{ hero.gold_gain_modifier }}</li>
</ul>
{% endblock %}


