<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>Choose Hero</title>
</head>
<body>
<div class="container">
    <form action="" method="post">
        <h1>Welcome {{ user.username }}!</h1>
        <br>
        <h3>Please choose the Hero you want to play as:</h3>
        {%- for hero in user.heroes %}
        <label for="{{ hero.id }}">{{ hero | validate_hero_name }}</label>
        <input id="{{ hero.id }}" type="image" name="hero_id" value={{ hero.id }} src="/static/images/{{ hero | validate_hero_image }}" border="0" alt="{{ hero.name }}" autofocus tabindex={{ loop.index }} onsubmit="return confirm('Are you sure you want to play as {{ hero.name }}?');" />
        {%- endfor %}
    </form>
</div>
</body>
</html>
