<!-- This should be merged with generic_location hopefully -->

{% extends "layout.html" %}
{% set location = hero.current_location %}
{% if page_title is not defined %}
    {% set page_title = location.display.page_title %}
{% endif %}
{% if places_of_interest is not defined %}
    {% set places_of_interest = location.places_of_interest %}
{% endif %}
{% block block1 %}
    <h1>I am at {{ location.name }}</h1>
    <h1>{{ location.display.page_heading }}</h1>
    <img src="/static/images/{{ location.display.page_image }}" height="500" width="500" alt="{{ location.display.page_image }}">
    <p>{{ location.display.paragraph }}</p>
{% for link in page_links%}
<h2>{{ link[0] }} <a href={{ link[1] }}>{{ link[2] }}</a>{{ link[3] }}</h2>
{% endfor %}
    {% if places_of_interest['children'] %}
    <h3>Explore this location</h3>
    {% for place in places_of_interest['children'] %}
     	<h2><a href="{{ place.url }}">{{ place.name }}</a>: {{ place.display.paragraph }}</h2>
    {% endfor %}
    {% endif %}
    {% if places_of_interest['siblings'] %}
    <h3>Explore nearby locations</h3>
    {% for place in places_of_interest['siblings'] %}
     	<h2><a href="{{ place.url }}">{{ place.name }}</a>: {{ place.display.paragraph }}</h2>
    {% endfor %}
    {% endif %}
    {% if location.parent %}
        <p>Return to <a href="{{ location.parent.url }}">
            {{ location.parent.type }}</a>:
            {{ location.parent.display.paragraph }}
        </p>
    {% endif %}
{% endblock %}

