<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}

<!-- These should use things like thread.title and post.thread but I need to attach these objects to the database -->
{% if thread == None %}
    <h1>Choose a thread to join</h1>
    {% for thread in forum.threads %}
        <a href="/forum/{{ thread.title }}" style="font-size:25px;">{{ thread.title }}</a> Created by: {{ thread.creator }} at {{ thread.timestamp }}<br><br><br>
    {% endfor %}
<!-- Basic form to let you type a new post. You can type in any thread title andpost content.
    If the thread title already exists, it should place your post into that thread. -->
    <h1>Create a new thread</h1>
    <form action="" method="post">
        Write new post.
        <input type="hidden" name="thread_type" value="new"> <!-- Tells python to run code for creating a new thread -->
        Thread name: <input type="text" name="thread_name">
        First Post: <input type="text" name="post_content">
        <input class="btn btn-default" type="submit" value="Next">
    </form>
{% else %}
    <h1>Read posts:</h1>
        {% for post in thread.posts %}
            {{ post.content }}<br><br><br>
        {% endfor %}
    <h1>Reply to thread</h1>
        <form action="" method="post">
            <input type="hidden" name="thread_type" value="old"> <!-- Tells python to run code for an existing thread -->
            Reply: <input type="text" name="post_content">
            <input class="btn btn-default" type="submit" value="Next">
        </form>
    <br><br><br><a href="/forum/home" style="font-size:25px;">Return to forum home</a><br><br><br>
{% endif %}

<!--
{{ forum }}
{% for post in forum.all_posts %}
                {% if post[0] == forum.title %}
                <h3>Post: {{ post[1] }}</h3>
            {% endif %}
        {% endfor %}

<br><br><br><a href="/forum/home" style="font-size:25px;">Return to forum home</a><br><br><br>
-->


{% endblock %}

