<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}

<!-- Print this at top of HTML for testing purposes -->
{{ forum.all_threads }}<br><br>
{{ forum.all_posts }}

<!-- These should use things like thread.title and post.thread but I need to attach these objects to the database -->
{% for thread in forum.all_threads %}
    <h1>Thread Name: {{ thread }}</h1>
    {% for post in forum.all_posts %}
        {% if post[0] == thread %}
            <h3>Post: {{ post[1] }}</h3>
        {% endif %}
    {% endfor %}
{% endfor %}

<!-- Basic form to let you type a new post. You can type in any thread title andpost content.
If the thread title already exists, it should place your post into that thread. -->
<form action="" method="post">
    Write new post.
    Thread name: <input type="text" name="thread_name">
    Post Content: <input type="text" name="post_content">
    <input class="btn btn-default" type="submit" value="Next">
</form>

{% endblock %}

