<!DOCTYPE html>
<html>
<head lang="en">
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="loginBody">
    <div class="loginPage">
        <div class="loginDiv">
            <form id="register-form" class="hide" action="" method="post">
                <input class="hide" type="text" name="type" value="register" />
                <input id="registerFocus" type="text" placeholder="username" name="username" tabindex=1/>
                <input type="password" placeholder="password" name="password" tabindex=2 />
                <input type="email" placeholder="email" name="email" tabindex=3 />
                <button tabindex=4>create account</button>
                <br>
                <p>Already have an account? <a class="loginAlternateButton" title="Switch to login" href="#" onclick="toggleLoginRegister(this);return false;" data="login" >Login</a></p>
            </form>
            <form id="login-form" class="login-form" action="" method="post">
                <input class="hide" type="text" name="type" value="login" />
                <input id="loginFocus"  type="text" placeholder="username" name="username" autofocus/>
                <input type="password" placeholder="password" name="password" tabindex=2 />
                <button tabindex=3>login</button>
                <br>
                <p>New user? <a class="loginAlternateButton" title="Switch to register" href="#" onclick="toggleLoginRegister(this);return false;" data="register" >Create account</a></p>
            </form>
            <form id="reset-form" class="hide" action="" method="post">
                <p style="float:left;">Email reset link for account: <strong>{{ username }}</strong></p>
                <input class="hide" type="text" name="type" value="reset" />
                <input id="resetFocus" type="email" placeholder="email" name="email" autofocus tabindex=1 />
                <input class="hide" type="text" placeholder="username" name="username" value="{{ username }}"/>
                <button tabindex=2>Email reset link</button>
                <br>
                <p>Go back to login? <a class="loginAlternateButton" title="Switch to login" href="#" onclick="toggleLoginRegister(this);return false;" data="login">Login</a></p>
            </form>
            <p id="error" class="error {{ '' if error else 'hide' }}">{{ error }} <a class="loginAlternateButton" title="Switch to reset password" href="#" onclick="toggleLoginRegister(this);return false;" data="reset">Forgot password?</a></p>
      </div>
    </div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
