<!DOCTYPE html>
<html>
  <head>
    <title>Create a New Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/style.css" rel="stylesheet" media="screen">
  </head>
  <body>

{% if create_account %}
    <div class="container">
      <h1>Please create a new account</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}" autofocus tabindex=1 />
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}" tabindex=2 />
        <input class="btn btn-default" type="submit" value="Create" tabindex=3 />
      </form>
<br><br><br>
<li><a href=/login>Login</a></li>


{% elif login %}
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}" autofocus tabindex=1 />
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}" tabindex=2 />
        <input class="btn btn-default" type="submit" value="Login" tabindex=3 />
</form>
<br><br><br>
<li><a href=/create_account>Create Account</a></li>
<li><a href=/password_recovery>Forgot Your Password</a></li>

{% elif password_recovery %}
    <div class="container">
      <h1>You Must Not Forget Your Password</h1>
      <br>
      <form action="" method="post">
		<p> Please enter your username: </p>
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
        <input class="btn btn-default" type="submit" value="Submit">
      </form>
<br><br><br>
<li><a href=/login>Login</a></li>


{% else %}
      <h1>Thank you for playing today!</h1>
      <br>

      <p>Click <a href="/">here</a> to go home.</p>


{% endif %}



      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
  </body>
</html>