<!-- This shows the admin page -->

{% extends "layout.html" %}

{% block nav_bar %}
<div class="topbar">
    <ul>
        <li><a {% if quest_log %}style="background-color:Red;"{% endif %} href=/quest_log>Quests</a></li>
        <li><a {% if bestiary %}style="background-color:Red;"{% endif %} href=/bestiary/0>Bestiary</a></li>
        <li><a {% if people_log %}style="background-color:Red;"{% endif %} href=/people_log/0>People</a></li>
        <li><a {% if atlas %}style="background-color:Red;"{% endif %} href=/atlas/0>Atlas</a></li>
        <li><a {% if achievement_log %}style="background-color:Red;"{% endif %} href=/achievements/0>Achievements</a></li>
    </ul>
</div>
{% endblock %}

{% block block1 %}
<!-- This shows the quest log within the journal -->
<h1 style="text-align:center;">{{ page_title }}</h1>
<div style="clear:both"></div>
{% if quest_log %}
    <div style="position:relative;border:dotted;width:800px;height:700px;padding:10px;scroll:auto;">
        <div class="leftPageHalf" style="width:75%;">
            <h2>Current Quests</h2>
            {% for path in hero.journal.quest_paths if not path.completed %}
                <button class="genericAccordion" data-py-function="change_path_tooltip" data="{{ path.description }}" data-js-callback="questTooltip">{{ path.name.title() }} (Progress: {{ path.stage+1 }} / {{ path.stages }})</button>
                <div class="genericAccordionPanel">
                    <ul>
                        {% for i in range(path.stage + 1) %} <!-- This sgithould iterate over all completed+current stages, but not stages you haven't reached yet -->
                        {% set quest = path.quests[i] %}
                                <li>
                                    <button class="genericTooltipTrigger" data-py-function="change_quest_tooltip" data="{{ quest.id }}" data-js-callback="questTooltip">
                                        {{ quest.name }} (Stage: {{ i+1 }})
                                    </button>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <h2>Completed Quests</h2>
            {% for path in hero.journal.quest_paths if path.completed %}
                <button class="genericAccordion" data-py-function="change_path_tooltip" data="{{ path.description }}" data-js-callback="questTooltip">{{ path.name.title() }} (Progress: {{ path.stage+1 }} / {{ path.stages }})</button>
                <div class="genericAccordionPanel">
                    <ul>
                        {% for quest in path.quests %} <!-- This should iterate over all completed+current stages, but not stages you haven't reached yet -->

                                <li>
                                    <button class="genericTooltipTrigger" data-py-function="change_quest_tooltip" data="{{ quest.id }}" data-js-callback="questTooltip">
                                        {{ quest.name }} (Stage: {{ loop.index }})
                                    </button>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
        <div class="genericTooltip">
            <div><span id="questTooltip">Click on a quest to see more information.</span></div>
            <div><span id="questReward"></span></div>
        </div>
    </div>

{% elif bestiary %}
    <div style="position:relative;border:dotted;width:800px;height:700px;padding:10px;scroll:auto;">
        <div style="position:relative;float:left;width:75%;">
            {% if display_monster %}
                <h2>{{ display_monster.name }}</h2>
                <ul style="line-height:25px;">
                    <li>Average Level: {{ (display_monster.level_max + display_monster.level_min) // 2 }}</li>
                    <li>Species: {{ display_monster.species }}</li>
                    <li>Description: This animal is very common.</li>
                    <li style="margin-top: 50px;">
                        <img src="/static/images/bestiary/display_{{ display_monster.id }}.jpg" alt="{{ display_monster.name }} Picture" style="width:250px;height:250px;">
                    </li>
                </ul>
            {% else %}
                Here is a list of all of the beasts you have encountered. Click on any monster to see more information.
            {% endif %}
        </div>
        <div style="position:relative;float:right;width:20%;height:100%;border:dotted;">
            {% for monster in all_monsters %}
                <ul>
                    <li><a href=/bestiary/{{ monster.id }}>{{ monster.name }}</a></li>
                </ul>
            {% endfor %}
        </div>
    </div>

<!-- This shows the People Log within the journal-->
{% elif people_log %}
    <div style="position:relative;border:dotted;width:800px;height:700px;padding:10px;scroll:auto;">
        <div style="position:relative;float:left;width:75%;">
            {% if display_npc %}
                <h2>{{ display_npc.name }}</h2>
                <ul style="line-height:25px;">
                    <li>Real Name: Unknown</li>
                    <li>Age: {{ display_npc.age }}</li>
                    <li>Race: {{ display_npc.race }}</li>
                    <li>Home: Htrae</li>
                    <li>Relation: Neutral</li>
                    <li style="margin-top: 50px;">
                        <img src="/static/images/npcs/display_{{ display_npc.id }}.jpg" alt="{{ display_npc.name }} Picture" style="width:250px;height:250px;">
                    </li>
                </ul>
            {% else %}
                Here is a list of all of the beasts you have encountered. Click on any npc to see more information.
            {% endif %}
        </div>
        <div style="position:relative;float:right;width:20%;height:100%;border:dotted;">
            {% for npc in all_npcs %}
                <ul>
                    <li><a href=/people_log/{{ npc.id }}>{{ npc.name }}</a></li>
                </ul>
            {% endfor %}
        </div>
    </div>

<!-- This shows the map log within the journal -->
{% elif atlas %}
    <div style="position:relative;border:dotted;width:800px;height:700px;padding:10px;scroll:auto;">
        <div style="position:relative;float:left;width:75%;">
            {% if display_map %}
                <h2>{{ display_map.name }}</h2>
                <ul style="line-height:25px;">
                    <li>Country: {{ display_map.parent }}</li>
                    <li style="margin-top: 50px;">
                        <img src="/static/images/maps/world_{{ display_map.display.page_image }}"/>
                    </li>
                </ul>
            {% else %}
                Here is a list of all the maps you have explored. Choose one from the list to see more.
            {% endif %}
        </div>
        <div style="position:relative;float:right;width:20%;height:100%;border:dotted;">
            {% for map in all_maps %}
                <ul>
                    <li><a href=/atlas/{{ map.id }}>{{ map.name }}</a></li>
                </ul>
            {% endfor %}
        </div>
    </div>
    {% for map in maps %}
        {{ map }}
        <img src="/static/images/maps/world_{{ map.display.page_image }}"/>
    {% endfor %}

<!-- This shows the achievement log within the journal -->
{% elif achievement_log %}
    <div style="position:relative;border:dotted;width:800px;height:300px;padding:10px;scroll:auto;">
        <div style="position:relative;float:left;width:75%;">
            {% if display_achievement %}
                <h2>{{ display_achievement[1] }}</h2>
                <p>Reward of {{ display_achievement[2] }} experience points.</p>
            {% else %}
                Here is a list of all the achievemets you have explored. Choose one from the list to see more.
            {% endif %}
        </div>
        <div style="position:relative;float:right;width:20%;height:100%;border:dotted;">
            {% for achievement in all_achievements %}
                <ul>
                    <li><a href=/achievements/{{ achievement[0] }}>{{ achievement[1] }}</a></li>
                </ul>
            {% endfor %}
        </div>
    </div>
    {% for map in maps %}
        {{ map }}
        <img src="/static/images/maps/world_{{ map.display.page_image }}"/>
    {% endfor %}

{% endif %}

<!-- I don't know why this needs to be below my code and not above it -->
<script>
var allProfs = document.getElementsByClassName("genericAccordion");
var index;
for (index = 0; index < allProfs.length; index++) {
    allProfs[index].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>

{% endblock %}

