<!DOCTYPE html>
{%- if hero %}
    {%- set myHero = hero %}
{%- elif myHero %}
    {%- set hero = myHero %}
{%- endif %}
<html lang="en">

<head>
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>

<body>
<div id="sidebar">
    <div id="sidebartop">
        <h1>{{ myHero.name }}</h1>
        <h3><img src="/static/images/character.jpg" alt="Sample" width="100px" height="100px">
            Age: {{ myHero.age }}<br>
            Gold: <span id="heroGold">{{ myHero.gold }}</span></h3>
    </div>
    <div id="sidebarmiddle">
        <ul>
            <li>Health:
                <div class="progressBar"><span style="width:{{ myHero.proficiencies.health.percent }}%"></span></div>
            </li>
            {% if myHero.proficiencies.sanctity.maximum %}
            <li>Sanctity:
                <div class="progressBar sanctity"><span
                        style="width:{{ myHero.proficiencies.sanctity.percent }}%"></span></div>
            </li>
            {% endif %}
            <li>Endurance:
                <div class="progressBar endurance"><span
                        style="width:{{ myHero.proficiencies.endurance.percent }}%"></span></div>
            </li>
            <li>Progress:
                <div class="progressBar progress"><span style="width:{{ myHero.experience_percent }}%"></span></div>
            </li>
        </ul>
    </div>
    <div id="sidebarbottom">
        <ul>
            <li><a href=/home>Profile</a></li>
            <li><a href=/inventory_page>Inventory</a></li>
            <li><a href={{ myHero.current_location.url }}>{{ myHero.current_location.name }}</a></li>
            <li><a href=/quest_log>Journal</a></li>
            {% if hero.user.is_admin %}
            <li><a href=/admin>Admin</a></li>
            {% endif %}
            <li><a href=/display_users/display/id>Users</a></li>
            <li><a href=/about>About</a></li>
            {% if hero.user.inbox_alert %}
            <li><a href=/inbox/inbox><font color="blue">New Message</font></a></li>
            {% else %}
            <li><a href=/inbox/inbox>Inbox</a></li>
            {% endif %}
            <li><a href=/global_chat>Chat</a></li>
            <li><a href=/logout>Logout</a></li>
        </ul>
    </div>
    </div>

<!-- This is where you want to add HTML that will not be contained within the main body of the page -->
<!-- Here you can add a navigation bar at the top of the page -->
{% block nav_bar %}{% endblock %}

<!-- This is for content that is displayed on the main page -->
<div id="content">
    <!-- This calls a notification script to run if the Hero has any new quests completed -->
    {% if myHero.quest_notification %}
    <div class="popup" onclick="quest_popup()" style="color:red"
    >You have completed a quest stage! (+{{ myHero.quest_notification[1] }}xp)
        <span class="popupachievement" id="js_popupachievement"
        >{{ myHero.quest_notification[0] }}</span>
    </div> &nbsp; Click <a href=/quest_log>here</a> to go to your Quest Log
    {% endif %}

    <!-- This displays notifications at the top of the page -->
    {% for notice in notifications %}
        {{ notice }}
    {% endfor %}

    <!-- This is info pulled from other html files -->
    {% block block1 %}{% endblock %}
    {% block block2 %}{% endblock %}

    <!-- This ends the main body container of the page -->
</div>
</body>
</html>





