{% extends "profile_template.html" %}
{% block block1 %}

<!-- Basic Skill Page -->
<div class="profilePage">
        Points Remaining:<output type="text" name="testplz"> {{ myHero.proficiency_points }}</output>
</div>
<form method="post">
<input class="btn btn-default submitButton" type="submit" value="Save" id="level_button">
    <div style="clear: both;"></div>
    <div class="proficiencyPage">
		<div class="proficiencyPageInner">
			<h1>Offense</h1>
			<ul>
				{%- for proficiency in myHero.proficiencies %}
					{%- if proficiency.type == "Offense" %}
						<li>
							{% if proficiency.is_not_max_level %}
								{{ proficiency.name}}: {{ proficiency.level }}
								<button class="command" data="{{ proficiency.id }}" data-function="levelUp" id="proficiencyButton"></button>
								<!--<input type="number" name="{{ proficiency.name }}" min="0" title="Numbers only" value=0>-->
							{% else %}
								<span title="{{ proficiency.error }}" style="color:red">{{ proficiency.name}}: {{ proficiency.level }}</span>
							{% endif %}
						</li>
					{%- endif %}
                {%- endfor %}
			</ul>
			<h1>Stealth</h1>
			<ul>
				{%- for proficiency in myHero.proficiencies %}
					{%- if proficiency.type == "Stealth" %}
						<li>
							{% if proficiency.is_not_max_level %}
								{{ proficiency.name}}: {{ proficiency.level }}
								<button class="command" data="{{ proficiency.id }}" data-function="levelUp" id="proficiencyButton"></button>
								<!--<input type="number" name="{{ proficiency.name }}" min="0" title="Numbers only" value=0>-->
							{% else %}
								<span title="{{ proficiency.error }}" style="color:red">{{ proficiency.name}}: {{ proficiency.level }}</span>
							{% endif %}
						</li>
					{%- endif %}
                {%- endfor %}
			</ul>
		</div>
		<div class="proficiencyPageInner">
			<h1>Defence</h1>
			<ul>
				{%- for proficiency in myHero.proficiencies %}
					{%- if proficiency.type == "Defence" %}
						<li>
							{% if proficiency.is_not_max_level %}
								{{ proficiency.name}}: {{ proficiency.level }}
								<button class="command" data="{{ proficiency.id }}" data-function="levelUp" id="proficiencyButton"></button>
								<!--<input type="number" name="{{ proficiency.name }}" min="0" title="Numbers only" value=0>-->
							{% else %}
								<span title="{{ proficiency.error }}" style="color:red">{{ proficiency.name}}: {{ proficiency.level }}</span>
							{% endif %}
						</li>
					{%- endif %}
                {%- endfor %}
			</ul>
			<h1>Resistances</h1>
			<ul>
				{%- for proficiency in myHero.proficiencies %}
					{%- if proficiency.type == "Resistance" %}
						<li>
							{% if proficiency.is_not_max_level %}
								{{ proficiency.name}}: {{ proficiency.level }}
								<button class="command" data="{{ proficiency.id }}" data-function="levelUp" id="proficiencyButton"></button>
								<!--<input type="number" name="{{ proficiency.name }}" min="0" title="Numbers only" value=0>-->
							{% else %}
								<span title="{{ proficiency.error }}" style="color:red">{{ proficiency.name}}: {{ proficiency.level }}</span>
							{% endif %}
						</li>
					{%- endif %}
                {%- endfor %}
			</ul>
		</div>
		<div class="proficiencyPageInner">
			<h1>Diplomacy</h1>
			<ul>
				{%- for proficiency in myHero.proficiencies %}
					{%- if proficiency.type == "Diplomacy" %}
						<li>
							{% if proficiency.is_not_max_level %}
								{{ proficiency.name}}: {{ proficiency.level }}
								<button class="command" data="{{ proficiency.id }}" data-function="levelUp" id="proficiencyButton"></button>
								<!--<input type="number" name="{{ proficiency.name }}" min="0" title="Numbers only" value=0>-->
							{% else %}
								<span title="{{ proficiency.error }}" style="color:red">{{ proficiency.name}}: {{ proficiency.level }}</span>
							{% endif %}
						</li>
					{%- endif %}
                {%- endfor %}
			</ul>
			<h1>Holiness</h1>
			<ul>
				{%- for proficiency in myHero.proficiencies %}
					{%- if proficiency.type == "Holiness" %}
						<li>
							{% if proficiency.is_not_max_level %}
								{{ proficiency.name}}: {{ proficiency.level }}
								<button class="command" data="{{ proficiency.id }}" data-function="levelUp" id="proficiencyButton"></button>
								<!--<input type="number" name="{{ proficiency.name }}" min="0" title="Numbers only" value=0>-->
							{% else %}
								<span title="{{ proficiency.error }}" style="color:red">{{ proficiency.name}}: {{ proficiency.level }}</span>
							{% endif %}
						</li>
					{%- endif %}
                {%- endfor %}
			</ul>
		</div>
    </div>	
	<div style="clear: both;"></div>
</form>
{% endblock %}
