{% extends "layout.html" %}
{% block nav_bar %}

<div class="topbar">
	<ul>
		{% if profile %}
			<li><a class="topbarActive" href="/home">Profile</a></li>
		{% else %}
			<li><a href="/home">Profile</a></li>
		{% endif %}
		{% if attribute_information %}
			<li><a class="topbarActive" href="/attributes">Attributes</a></li>
		{% elif myHero.attribute_points %}
			<li><a class="topbarGlowing" href="/attributes">Level Up!</a></li>
		{% else %}
			<li><a href="/attributes">Attributes</a></li>
		{% endif %}
		{% if page_title == "Proficiencies" %}
			<li><a class="topbarActive" href="/proficiencies">Proficiencies</a></li>
		{% elif myHero.proficiency_points %}
			<li><a class="topbarGlowing" href="/proficiencies">Upgrade!</a></li>
		{% else %}
			<li><a href="/proficiencies">Proficiencies</a></li>
		{% endif %}
		{% if ability_tree %}
			<li class="topbarDropdownOuter topbarActive">
		{% else %}
			<li class="topbarDropdownOuter">
		{% endif %}
				<a href="javascript:void(0)" class="topbarDropLink">Abilities</a>
				<div class="topbarDropdownInner">
					<a href="/ability_tree/Basic">Basic</a>
					<a href="/ability_tree/Archetype">Archetype</a>
					<a href="/ability_tree/Class">Class</a>
					<a href="/ability_tree/Religious">Religious</a>
				</div>
			</li>
	</ul>
</div>

{% endblock %}

