{% extends "profile_template.html" %}
{% block block1 %}

<!-- Basic Skill Page -->
<div class="profilePage">
        Points Remaining:<output type="text" name="testplz"> {{ myHero.proficiency_points }}</output>
</div>
<form method="post">
    <div style="clear: both;"></div>
    <div class="proficiencyPage">
		<div class="proficiencyPageInner">
			<h1>Offense</h1>
			<ul>
				{%- for proficiency in myHero.proficiencies %}
					{%- if proficiency.type == "Offense" %}
						<li>
							<div class="tooltip">
								{{ proficiency.name}}: {{ proficiency.level }}
								<span>
									{{ proficiency.description }}:
									{% set proficiency_tooltip = proficiency.tooltip.split(';') %}
									{% for tooltip in proficiency_tooltip %}
										<br>• {{ tooltip }}
									{% endfor -%}
									{% if not proficiency.is_not_max_level %}
										<br>{{ proficiency.error }}
									{% endif %}
								</span>
								{% if myHero.proficiency_points and proficiency.is_not_max_level %}
									<button class="command command-proficiency-{{ proficiency.formatted_name }}" value="level_proficiency?proficiency={{ proficiency.formatted_name }}" id="proficiencyButton"></button>
								{% endif %}
							</div>							
						</li>
					{%- endif %}
                {%- endfor %}
			</ul>
			<h1>Stealth</h1>
			<ul>
				{%- for proficiency in myHero.proficiencies %}
					{%- if proficiency.type == "Stealth" %}
						<li>
							<div class="tooltip">
								{{ proficiency.name}}: {{ proficiency.level }}
								<span>
									{{ proficiency.description }}:
									{% set proficiency_tooltip = proficiency.tooltip.split(';') %}
									{% for tooltip in proficiency_tooltip %}
										<br>• {{ tooltip }}
									{% endfor -%}
									{% if not proficiency.is_not_max_level %}
										<br>{{ proficiency.error }}
									{% endif %}
								</span>
								{% if myHero.proficiency_points and proficiency.is_not_max_level %}
									<button class="command command-proficiency-{{ proficiency.formatted_name }}" value="level_proficiency?proficiency={{ proficiency.formatted_name }}" id="proficiencyButton"></button>
								{% endif %}
							</div>							
						</li>
					{%- endif %}
                {%- endfor %}
			</ul>
		</div>
		<div class="proficiencyPageInner">
			<h1>Defence</h1>
			<ul>
				{%- for proficiency in myHero.proficiencies %}
					{%- if proficiency.type == "Defence" %}
						<li>
							<div class="tooltip">
								{{ proficiency.name}}: {{ proficiency.level }}
								<span>
									{{ proficiency.description }}:
									{% set proficiency_tooltip = proficiency.tooltip.split(';') %}
									{% for tooltip in proficiency_tooltip %}
										<br>• {{ tooltip }}
									{% endfor -%}
									{% if not proficiency.is_not_max_level %}
										<br>{{ proficiency.error }}
									{% endif %}
								</span>
								{% if myHero.proficiency_points and proficiency.is_not_max_level %}
									<button class="command command-proficiency-{{ proficiency.formatted_name }}" value="level_proficiency?proficiency={{ proficiency.formatted_name }}" id="proficiencyButton"></button>
								{% endif %}
							</div>							
						</li>
					{%- endif %}
                {%- endfor %}
			</ul>
			<h1>Resistances</h1>
			<ul>
				{%- for proficiency in myHero.proficiencies %}
					{%- if proficiency.type == "Resistance" %}
						<li>
							<div class="tooltip">
								{{ proficiency.name}}: {{ proficiency.level }}
								<span>
									{{ proficiency.description }}:
									{% set proficiency_tooltip = proficiency.tooltip.split(';') %}
									{% for tooltip in proficiency_tooltip %}
										<br>• {{ tooltip }}
									{% endfor -%}
									{% if not proficiency.is_not_max_level %}
										<br>{{ proficiency.error }}
									{% endif %}
								</span>
								{% if myHero.proficiency_points and proficiency.is_not_max_level %}
									<button class="command command-proficiency-{{ proficiency.formatted_name }}" value="level_proficiency?proficiency={{ proficiency.formatted_name }}" id="proficiencyButton"></button>
								{% endif %}
							</div>							
						</li>
					{%- endif %}
                {%- endfor %}
			</ul>
		</div>
		<div class="proficiencyPageInner">
			<h1>Diplomacy</h1>
			<ul>
				{%- for proficiency in myHero.proficiencies %}
					{%- if proficiency.type == "Diplomacy" %}
						<li>
							<div class="tooltip tooltipLeft">
								{{ proficiency.name}}: {{ proficiency.level }}
								<span>
									{{ proficiency.description }}:
									{% set proficiency_tooltip = proficiency.tooltip.split(';') %}
									{% for tooltip in proficiency_tooltip %}
										<br>• {{ tooltip }}
									{% endfor -%}
									{% if not proficiency.is_not_max_level %}
										<br>{{ proficiency.error }}
									{% endif %}
								</span>
								{% if myHero.proficiency_points and proficiency.is_not_max_level %}
									<button class="command command-proficiency-{{ proficiency.formatted_name }}" value="level_proficiency?proficiency={{ proficiency.formatted_name }}" id="proficiencyButton"></button>
								{% endif %}
							</div>							
						</li>
					{%- endif %}
                {%- endfor %}
			</ul>
			<h1>Holiness</h1>
			<ul>
				{%- for proficiency in myHero.proficiencies %}
					{%- if proficiency.type == "Holiness" %}
						<li>
							<div class="tooltip tooltipLeft">
								{{ proficiency.name}}: {{ proficiency.level }}
								<span>
									{{ proficiency.description }}:
									{% set proficiency_tooltip = proficiency.tooltip.split(';') %}
									{% for tooltip in proficiency_tooltip %}
										<br>• {{ tooltip }}
									{% endfor -%}
									{% if not proficiency.is_not_max_level %}
										<br>{{ proficiency.error }}
									{% endif %}
								</span>
								{% if myHero.proficiency_points and proficiency.is_not_max_level %}
									<button class="command command-proficiency-{{ proficiency.formatted_name }}" value="level_proficiency?proficiency={{ proficiency.formatted_name }}" id="proficiencyButton"></button>
								{% endif %}
							</div>							
						</li>
					{%- endif %}
                {%- endfor %}
			</ul>
		</div>
    </div>	
	<div style="clear: both;"></div>
</form>
{% endblock %}
