{% extends "profile_template.html" %}
{% block block1 %}
 <!-- This sets the width of the entire page. I'm not sure which width is best. -->
<br><h1 style="text-align:center;">General</h1>
<table class="profileColumns">
	<tr>
		<th colspan="2">Basic Information</th>
	</tr>
	<tr>
		<td>Name</td>
		<td>{{ hero.character_name}}</td>
	</tr>
	<tr>
		<td>Age</td>
		<td>{{ hero.age}}</td>
	</tr>
	<tr>
		<td>Experience</td>
		<td>{{ hero.experience }} / {{ hero.experience_maximum }}</td>
	</tr>
	<tr>
		<td>Renown</td>
		<td>{{ hero.proficiencies.renown.final|int }}</td>
	</tr>
	<tr>
		<td>Devotion</td>
		<td>{{ hero.base_proficiencies['devotion'].current }}</td>
	</tr>
	<tr>
		<td>Virtue</td>
		<td>{{ hero.base_proficiencies['virtue'].current }}</td>
	</tr>
	<tr>
		<td>Health</td>
		<td>{{ hero.base_proficiencies['health'].current }} / {{ hero.proficiencies.health.final|int }}</td>
	</tr>
	<tr>
		<td>Sanctity</td>
		<td>{{ hero.base_proficiencies['sanctity'].current }} / {{ proficiencies.sanctity.final|int }}</td>
	</tr>
	<tr>
		<td>Storage</td>
		<td>{{ hero.base_proficiencies['storage'].current }} / {{ proficiencies.storage.final|int }}</td>
	</tr>
	<tr>
		<td>Endurance</td>
		<td>{{ hero.base_proficiencies['endurance'].current }} / {{ proficiencies.endurance.final|int }}</td>
	</tr>
	<tr>
		<td>Player Kills</td>
		<td>{{ hero.journal.achievements.player_kills }}</td>
	</tr>
	<tr>
		<td>Monster Kills</td>
		<td>{{ hero.journal.achievements.monster_kills }}</td>
	</tr>
	<tr>
		<td>Deaths</td>
		<td>{{ hero.journal.achievements.deaths }}</td>
	</tr>
</table>

<table class="profileColumns">
	<tr>
		<th colspan="2">Skills</th>
	</tr>
	{% if hero.specializations.archetype %}
	<tr>
		<td>Archetype</td>
		<td>{{ hero.specializations.archetype.name }}</td>
	</tr>
	{% endif %}
	{% if hero.specializations.calling %}
	<tr>
		<td>Calling</td>
		<td>{{ hero.specializations.calling.name }}</td>
	</tr>
	{% endif %}
	{% if hero.specializations.pantheon %}
	<tr>
		<td>Pantheon</td>
		<td>{{ hero.specializations.pantheon.name }}</td>
	</tr>
	{% endif %}
	{% if hero.house %}
	<tr>
		<td>House</td>
		<td>{{ hero.house.name }}</td>
	</tr>
	{% endif %}
	<tr>
		<td>Stealth</td>
		<td>{{ proficiencies.stealth.final }}%</td>
	</tr>
	<tr>
		<td>Pickpocketing</td>
		<td>{{ proficiencies.pickpocketing.final }}%</td>
	</tr>
	<tr>
		<td>Faith</td>
		<td>{{ proficiencies.faith.final }}%</td>
	</tr>
	<tr>
		<td>Bartering</td>
		<td>{{ proficiencies.bartering.final }}%</td>
	</tr>
	<tr>
		<td>Oration</td>
		<td>{{ proficiencies.oration.final }}%</td>
	</tr>
	<tr>
		<td>Literacy</td>
		<td>{{ proficiencies.literacy.final }}%</td>
	</tr>
	<tr>
		<td>Luck</td>
		<td>{{ proficiencies.luck.final }}%</td>
	</tr>
</table>
<div style="clear:both;"></div>
<br><h1 style="text-align:center;">Combat</h1>
<table class="profileColumns">
	<tr>
		<th colspan="2">Offense</th>
	</tr>
	<tr>
		<td>{{ hero.damage_type }} Damage</td>
		<td>{{ proficiencies.combat.final }}-{{ proficiencies.combat.final + proficiencies.strength.final }}</td>
	</tr>
	{% if proficiencies.frost_damage.final %}
	<tr>
		<td>Frost Damage</td>
		<td>{{ proficiencies.frost_damage.final }}</td>
	</tr>
	{% endif %}
	{% if proficiencies.flame_damage.final %}
	<tr>
		<td>Flame Damage</td>
		<td>{{ proficiencies.flame_damage.final }}</td>
	</tr>
	{% endif %}
	<tr>
		<td>Attack Speed</td>
		<td>{{ proficiencies.speed.final }}</td>
	</tr>
	<tr>
		<td>Accuracy</td>
		<td>{{ proficiencies.accuracy.final }}%</td>
	</tr>
	<tr>
		<td>First Strike Chance</td>
		<td>{{ proficiencies.first_strike.final }}%</td>
	</tr>
	<tr>
		<td>Kill Shot Chance</td>
		<td>{{ proficiencies.precision.final }}%</td>
	</tr>
	<tr>
		<td>Kill Shot Multiplier</td>
		<td>{{ proficiencies.killshot.final }}x</td>
	</tr>
	<tr>
		<td>Evasion</td>
		<td>{{ proficiencies.evade.final }}%</td>
	</tr>
	<tr>
		<td>Parry</td>
		<td>{{ proficiencies.parry.final }}%</td>
	</tr>
	<tr>
		<td>Fatigue</td>
		<td>{{ proficiencies.fatigue.current }}</td>
	</tr>
</table>

<table class="profileColumns">
	<tr>
		<th colspan="2">Defence</th>
	</tr>
	<tr>
		<td>Defence</td>
		<td>{{ proficiencies.defence.final|int }}%</td>
	</tr>
	<tr>
		<td>Block Chance</td>
		<td>{% if hero.inventory.hero.inventory.left_hand.type == "Shield"%}{{ proficiencies.block.final }}%{% else %}<font color="red">-</font>{% endif %}</td>
	</tr>
	<tr>
		<td>Block Amount</td>
		<td>{% if hero.inventory.hero.inventory.left_hand.type == "Shield"%}{{ proficiencies.block_amount.final }}%{% else %}<font color="red">-</font>{% endif %}</td>
	</tr>
	<tr>
		<td>Resist Frost</td>
		<td>{{ proficiencies.resist_frost.final|int }}%</td>
	</tr>
	<tr>
		<td>Resist Flame</td>
		<td>{{ proficiencies.resist_flame.final|int }}%</td>
	</tr>
	<tr>
		<td>Resist Shadow</td>
		<td>{{ proficiencies.resist_shadow.final|int }}%</td>
	</tr>
	<tr>
		<td>Resist Holy</td>
		<td>{{ proficiencies.resist_holy.final|int }}%</td>
	</tr>
	<tr>
		<td>Resist Poison</td>
		<td>{{ proficiencies.resist_poison.final|int }}%</td>
	</tr>
	<tr>
		<td>Resist Blunt</td>
		<td>{{ proficiencies.resist_blunt.final|int }}%</td>
	</tr>
	<tr>
		<td>Resist Slashing</td>
		<td>{{ proficiencies.resist_slashing.final|int }}%</td>
	</tr>
	<tr>
		<td>Resist Piercing</td>
		<td>{{ proficiencies.resist_piercing.final|int }}%</td>
	</tr>
</table>
<div style="clear:both;"></div>
<br><h1 style="text-align:center;">Advanced</h1>
<table class="profileColumns">
	<tr>
		<th colspan="2">Weaponry</th>
	</tr>
	<tr>
		<td>Current Weapon Affinty</td>
		<td>+ {{ proficiencies.weapon_affinity.final|int }}%</td>
	</tr>
	<tr>
		<td>Unarmed Combat</td>
		<td>+ {{ proficiencies.unarmed.final|int }}%</td>
	</tr>
	<tr>
		<td>Blunt Weaponry</td>
		<td>+ {{ proficiencies.blunt.final|int }}%</td>
	</tr>
	<tr>
		<td>Piercing Weaponry</td>
		<td>+ {{ proficiencies.piercing.final|int }}%</td>
	</tr>
	<tr>
		<td>Slashing Weaponry</td>
		<td>+ {{ proficiencies.slashing.final|int }}%</td>
	</tr>
</table>

<table class="profileColumns">
	<tr>
		<th colspan="2">Modifiers</th>
	</tr>
	<tr>
		<td>Experience Gain</td>
		<td>+ {{ proficiencies.understanding.final|int }}%</td>
	</tr>
	<tr>
		<td>Renown Gain</td>
		<td>+ {{ proficiencies.reputation.final|int }}%</td>
	</tr>
	<tr>
		<td>Devotion Gain</td>
		<td>+ {{ proficiencies.piety.final|int }}%</td>
	</tr>
	<tr>
		<td>Virtue Gain</td>
		<td>+ {{ proficiencies.dualism.final|int }}%</td>
	</tr>
	{% if proficiencies.lifesteal_static.final or proficiencies.lifesteal_percent.final %}
	<tr>
		<td>Average life stolen per hit</td>
		<td>{{ proficiencies.lifesteal_percent.final * proficiencies.combat.final * 0.01 + proficiencies.lifesteal_static.final }}</td>
	</tr>
	{% endif %}
	{% if proficiencies.poison_amount.final %}
		<tr>
			<td>Poison Damage</td>
			<td>{{ proficiencies.poison_amount.final|int }} per round</td>
		</tr>
		<tr>
			<td>Poison Duration</td>
			<td>{{ proficiencies.poison_duration.final|int }} combat rounds</td>
		</tr>
		<tr>
			<td>Poison Chance</td>
			<td>{{ proficiencies.poison_chance.final|int }}% per hit</td>
		</tr>
	{% endif %}
	{% if proficiencies.freezing_chance.final %}
	<tr>
		<td>Freezing Chance</td>
		<td>{{ proficiencies.freezing_chance.final|int }}% per hit</td>
	</tr>
	{% endif %}
	<tr>
		<td>Thawing Chance</td>
		<td>{% if proficiencies.thawing_chance.final %}{{ proficiencies.thawing_chance.final|int }}%{% else %}-{% endif %}</td>
	</tr>
</table>
{% endblock %}

