{% extends "profile_template.html" %}
{% block block2 %}

<!-- Basic Skill Page -->

<h1 style="text-align:center;">Attributes</h1>
<div class="stickyPointsRemainingBar">Points Remaining: <div style="display: inline" id="points_remaining">{{ myHero.attribute_points }}</div></div>
<div style="clear: both;"></div>
<div>
	<div class="leftPageHalf" style="width:65%;">
        <ul>
        {% for attribute in all_attributes %}
            <li>
            <button class="proficiencyTooltipTrigger" data-py-function="change_attribute_tooltip" data="{{ attribute.description }}" data-js-callback="attributeTooltip">{{ attribute.name }} (Current level: <div style="display: inline" id="attribute-{{ attribute.id }}">{{ attribute.level }}</div>)</button>
            <button class="upgradeButton" data-py-function="update_attribute" data="{{ attribute.id }}" id="attributeButton" data-js-callback="updateAttribute" {% if myHero.attribute_points <= 0 %}style="display: none"{% endif %}>
                                    </button>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="attributeTooltip">
            <span id="attributeTooltip">Click on an attribute to see more information.</span>
    </div>
</div>

{% endblock %}
