{% extends "profile_template.html" %}
{% block block1 %}
 <!-- This sets the width of the entire page. I'm not sure which width is best. -->
<br><h1 style="text-align:center;">General</h1>
<table class="profileColumns">
	<tr>
		<th colspan="2">Basic Information</th>
	</tr>
	<tr>
		<td>Name</td>
		<td>{{ hero.character_name}}</td>
	</tr>
	<tr>
		<td>Age</td>
		<td>{{ hero.age}}</td>
	</tr>
	<tr>
		<td>Experience</td>
		<td>{{ hero.experience }} / {{ hero.experience_maximum }}</td>
	</tr>
	<tr>
		<td>Renown</td>
		<td>{{ hero.proficiencies.renown.final|int }}</td>
	</tr>
	<tr>
		<td>Devotion</td>
		<td>{{ hero.base_proficiencies['devotion'].current }}</td>
	</tr>
	<tr>
		<td>Virtue</td>
		<td>{{ hero.base_proficiencies['virtue'].current }}</td>
	</tr>
	<tr>
		<td>Health</td>
		<td>{{ hero.base_proficiencies['health'].current }} / {{ hero.proficiencies.health.final|int }}</td>
	</tr>
	<tr>
		<td>Sanctity</td>
		<td>{{ hero.base_proficiencies['sanctity'].current }} / {{ proficiencies.sanctity.final|int }}</td>
	</tr>
	<tr>
		<td>Storage</td>
		<td>{{ hero.base_proficiencies['storage'].current }} / {{ proficiencies.storage.final|int }}</td>
	</tr>
	<tr>
		<td>Endurance</td>
		<td>{{ hero.base_proficiencies['endurance'].current }} / {{ proficiencies.endurance.final|int }}</td>
	</tr>
	<tr>
		<td>Player Kills</td>
		<td>{{ hero.journal.achievements.player_kills }}</td>
	</tr>
	<tr>
		<td>Monster Kills</td>
		<td>{{ hero.journal.achievements.monster_kills }}</td>
	</tr>
	<tr>
		<td>Deaths</td>
		<td>{{ hero.journal.achievements.deaths }}</td>
	</tr>
</table>

<table class="profileColumns">
	<tr>
		<th colspan="2">Skills</th>
	</tr>
	<tr>
		<td>Archetype</td>
		<td>{% if hero.specializations.archetype %}{{ hero.specializations.archetype.name }}{% else %}None{% endif %}</td>
	</tr>
	<tr>
		<td>Calling</td>
		<td>{% if hero.specializations.calling %}{{ hero.specializations.calling.name }}{% else %}None{% endif %}</td>
	</tr>
	<tr>
		<td>Pantheon</td>
		<td>{% if hero.specializations.pantheon %}{{ hero.specializations.pantheon.name }}{% else %}None{% endif %}</td>
	</tr>
	<tr>
		<td>House</td>
		<td>{% if hero.house %}{{ hero.house.name }}{% else %}None{% endif %}</td>
	</tr>
	<tr>
		<td>Stealth</td>
		<td>{{ proficiencies.stealth.final }}%</td>
	</tr>
	<tr>
		<td>Pickpocketing</td>
		<td>{{ proficiencies.pickpocketing.final }}%</td>
	</tr>
	<tr>
		<td>Faith</td>
		<td>{{ proficiencies.faith.final }}%</td>
	</tr>
	<tr>
		<td>Bartering</td>
		<td>{{ proficiencies.bartering.final }}%</td>
	</tr>
	<tr>
		<td>Oration</td>
		<td>{{ proficiencies.oration.final }}%</td>
	</tr>
	<tr>
		<td>Literacy</td>
		<td>{{ proficiencies.literacy.final }}%</td>
	</tr>
	<tr>
		<td>Luck</td>
		<td>{{ proficiencies.luck.final }}%</td>
	</tr>
</table>
<div style="clear:both;"></div>
<br><h1 style="text-align:center;">Combat</h1>
<table class="profileColumns">
	<tr>
		<th colspan="2">Offense</th>
	</tr>
	<tr>
		<td>Average Damage</td>
		<td>{{ proficiencies.combat.final }}</td>
	</tr>
	<tr>
		<td>Maximum Damage</td>
		<td>{{ proficiencies.damage.final + proficiencies.combat.final }}</td>
	</tr>
	<tr>
		<td>Attack Speed</td>
		<td>{{ proficiencies.speed.final }}</td>
	</tr>
	<tr>
		<td>Accuracy</td>
		<td>{{ proficiencies.accuracy.final }}%</td>
	</tr>
	<tr>
		<td>First Strike Chance</td>
		<td>{{ proficiencies.first_strike.final }}%</td>
	</tr>
	<tr>
		<td>Kill Shot Chance</td>
		<td>{{ proficiencies.precision.final }}%</td>
	</tr>
	<tr>
		<td>Kill Shot Multiplier</td>
		<td>{{ proficiencies.killshot.final }}x</td>
	</tr>
	<tr>
		<td>Evasion</td>
		<td>{{ proficiencies.evade.final }}%</td>
	</tr>
	<tr>
		<td>Parry</td>
		<td>{{ proficiencies.parry.final }}%</td>
	</tr>
	<tr>
		<td>Fatigue</td>
		<td>{{ proficiencies.fatigue.current }}</td>
	</tr>
</table>

<table class="profileColumns">
	<tr>
		<th colspan="2">Defence</th>
	</tr>
	<tr>
		<td>Defence</td>
		<td>{{ proficiencies.defence.final }}%</td>
	</tr>
	<tr>
		<td>Block Chance</td>
		<td>{% if hero.inventory.hero.inventory.left_hand.type == "Shield"%}{{ proficiencies.block.final }}%{% else %}<font color="red">-</font>{% endif %}</td>
	</tr>
	<tr>
		<td>Block Amount</td>
		<td>{% if hero.inventory.hero.inventory.left_hand.type == "Shield"%}{{ proficiencies.block_amount.final }}%{% else %}<font color="red">-</font>{% endif %}</td>
	</tr>
	<tr>
		<td>Resist Frost</td>
		<td>{{ proficiencies.resist_frost.final }}%</td>
	</tr>
	<tr>
		<td>Resist Flame</td>
		<td>{{ proficiencies.resist_flame.final }}%</td>
	</tr>
	<tr>
		<td>Resist Shadow</td>
		<td>{{ proficiencies.resist_shadow.final }}%</td>
	</tr>
	<tr>
		<td>Resist Holy</td>
		<td>{{ proficiencies.resist_holy.final }}%</td>
	</tr>
	<tr>
		<td>Resist Poison</td>
		<td>{{ proficiencies.resist_poison.final }}%</td>
	</tr>
	<tr>
		<td>Resist Blunt</td>
		<td>{{ proficiencies.resist_blunt.final }}%</td>
	</tr>
	<tr>
		<td>Resist Slashing</td>
		<td>{{ proficiencies.resist_slashing.final }}%</td>
	</tr>
	<tr>
		<td>Resist Piercing</td>
		<td>{{ proficiencies.resist_piercing.final }}%</td>
	</tr>
</table>
<div style="clear:both;"></div>
<br><h1 style="text-align:center;">Advanced</h1>
<table class="profileColumns">
	<tr>
		<th colspan="2">Weaponry</th>
	</tr>
	<tr>
		<td>Current Weapon Affinty</td>
		<td>{{ proficiencies.weapon_affinity.final }}%</td>
	</tr>
	<tr>
		<td>Blunt Weaponry</td>
		<td>{{ proficiencies.blunt.final }}%</td>
	</tr>
	<tr>
		<td>Piercing Weaponry</td>
		<td>{{ proficiencies.piercing.final }}%</td>
	</tr>
	<tr>
		<td>Slashing Weaponry</td>
		<td>{{ proficiencies.slashing.final }}%</td>
	</tr>
</table>

<table class="profileColumns">
	<tr>
		<th colspan="2">Modifiers</th>
	</tr>
	<tr>
		<td>Experience Gain</td>
		<td>{% if proficiencies.understanding.final %}+{{ proficiencies.understanding.final }}%{% else %}-{% endif %}</td>
	</tr>
	<tr>
		<td>Renown Gain</td>
		<td>{% if proficiencies.reputation.final %}+{{ proficiencies.reputation.final }}%{% else %}-{% endif %}</td>
	</tr>
	<tr>
		<td>Devotion Gain</td>
		<td>{% if proficiencies.piety.final %}+{{ proficiencies.piety.final }}%{% else %}-{% endif %}</td>
	</tr>
	<tr>
		<td>Virtue Gain</td>
		<td>{% if proficiencies.dualism.final %}+{{ proficiencies.dualism.final }}%{% else %}-{% endif %}</td>
	</tr>
	<tr>
		<td>Lifesteal</td>
		<td>{% if proficiencies.lifesteal_static.final %}+{{ proficiencies.lifesteal_static.final|int }} per hit{% else %}-{% endif %} and {% if proficiencies.lifesteal_percent.final %}+{{ proficiencies.lifesteal_percent.final }}% of damage dealt{% else %}-{% endif %}</td>
	</tr>
</table>
{% endblock %}

