{% extends "profile_template.html" %}
{% block block1 %}
<!-- This is the ability page. It let's you learn/upgrade abilities -->
     <h1 style="text-align:center;">Abilities</h1>
    {% if ability_tree == "Archetype" %}
		Archetype Points: {{ myHero.archetype_ability_points }}<br><br>
		Choose Archetype (Currently {{ myHero.archetype }}): <button class="command command-woodsman" value="woodsman">Woodsman</button><button class="command command-priest" value="priest">Priest</button><br> You are a <b>{{ myHero.archetype }}</b>
	{% elif ability_tree == "Class" %}
		Class Points: {{ myHero.ability_points }}<br><br>
		Choose Specialization (Currently {{ myHero.specialization }}): <button class="command command-hunter" value="hunter">Hunter</button><button class="command command-trapper" value="trapper">Trapper</button><br> Your class is <b>{{ myHero.specialization }}</b>
	{% elif ability_tree == "Religion" %}
		Religious Points: {{ myHero.pantheonic_ability_points }}<br><br>
		Choose Religion (Currently <span id="hero_religion">{{ myHero.religion }}</span>): <button class="command command-forgoth" value="choose_religion?">Forgoth</button><button class="command command-dryarch" value="choose_religion?">Dryarch</button>
		<br> You are a follower of <b><span id="hero_religion">{{ myHero.religion }}</span></b>
	{% else %}
		Ability Points: {{ myHero.basic_ability_points }}<br><br>
	{% endif %}



    <h2 style="text-align:left;">New Abilities</h2>
{% for ability in myHero.abilities %}
{% if not ability.level %}
Ability: {{ ability.name.title() }} (Level: <div style="display: inline" id="ability-{{ ability.id }}">{{ ability.level }}</div>)
<button class="command" data={{ ability.id }}" data-function="updateAbility">{{ ability.name }}</button><br>
{% endif %}
{% endfor %}

    <h2 style="text-align:left;">Other Abilities</h2>
{% for ability in myHero.abilities %}
{% if ability.level %}
Ability: {{ ability.name.title() }} (Level: <div style="display: inline" id="ability-{{ ability.id }}">{{ ability.level }}</div>)
<button class="command" data={{ ability.id }}" data-function="updateAbility">{{ ability.name }}</button><br>
{% endif %}
{% endfor %}
{% endblock %}


