{% extends "layout.html" %}
{% block nav_bar %}

<div class="topbar">
	<ul>
		<li><a {% if profile %}style="background-color:Red;"{% endif %} href="/home">General</a></li>
		<li><a {% if page_title == "Attributes" %}style="background-color:Red;" {% elif hero.attribute_points %}style="background-color:Blue;"{% endif %} href="/attributes">{% if hero.attribute_points %}Level Up!{% else %}Attributes{% endif %}</a></li>
		<li><a {% if page_title == "Proficiencies" %}style="background-color:Red;"{% elif hero.proficiency_points %}style="background-color:Blue;"{% endif %} href="/proficiencies">{% if hero.proficiency_points %}Upgrade!{% else %}Proficiencies{% endif %}</a></li>
		<li class="topbarDropdownOuter" {% if ability_tree %}style="background-color:Red;"{% endif %}>
			<a href="/ability_tree/basic" style="display:inline-block;">Abilities</a>
			<div class="topbarDropdownInner">
				<a href="/ability_tree/basic">Basic</a>
				<a href="/ability_tree/archetype">Archetype</a>
				<a href="/ability_tree/calling">Calling</a>
				<a href="/ability_tree/pantheonic">Pantheonic</a>
			</div>
		</li>
	</ul>
</div>

{% endblock %}

