{% extends "profile_template.html" %}
{% block block2 %}

<!-- Basic Skill Page -->

<h1 style="text-align:center;">Attributes</h1>
<div class="stickyPointsRemainingBar">Points Remaining: <div style="display: inline" id="points_remaining">{{ hero.attribute_points }}</div></div>
<div style="clear: both;"></div>
<div style="width:1100px;height:500px;">
	<div style="float:left;width:500px;">
        <ul>
        {% for attribute in all_attributes %}
            <li>
            <button class="genericTooltipTrigger" data-py-function="change_attribute_tooltip" data="{{ attribute.description }}" data-js-callback="attributeTooltip">{{ attribute.name }} (Current level: <div style="display: inline" id="attribute-{{ attribute.id }}">{{ attribute.level }}</div>)</button>
            <button class="upgradeButton" data-py-function="update_attribute" data="{{ attribute.id }}" id="attributeButton-{{ attribute.id }}" data-js-callback="updateAttribute" {% if hero.attribute_points <= 0 %}style="display: none"{% endif %}></button>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div style="float:left;width:300px;border:dotted;height:auto;padding:5px;margin-left:50px;">
        <div><span id="attributeTooltip">Click on an attribute to see more information.</span></div>
        <div class="tooltipImage"><span id="attributeImage"></span></div>
    </div>
</div>

{% endblock %}
