<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html>
<head lang="en">
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>

<body class="loginBody">
    <div class="loginPage">
        <div class="loginDiv">
            <form id="login-form" class="login-form" action="" method="post">
                <input class="hide" type="text" name="type" value="login" />
                <input id="loginFocus" class="hide" type="text" placeholder="username" name="username" value="{{ username }}" />
                <input id="password" onkeyup="checkPasswordMatch();" type="password" placeholder="password" name="password" tabindex=1 autofocus />
                <input id="passwordCheck" onkeyup="checkPasswordMatch();" type="password" placeholder="repeat password" name="passwordCheck" tabindex=2/ >
                <button id="continueButton" tabindex=3>Confirm and log in</button>
                <br>
                <p id="error" class="error"></p>
            </form>
      </div>
    </div>
</body>
</html>
