<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}

<h1>Settings</h1>
<div class="topbar">
	<ul>
		<li><a href="/settings/profile/none" {% if tab == "profile" %}style="background-color:Red;"{% endif %}>Profile</a></li>
		<li><a href="/settings/security/none" {% if tab == "security" %}style="background-color:Red;"{% endif %}>Security</a></li>
	</ul>
</div>
<div style="clear: both;"></div>
{% if message %}
<h2 style="margin-left:500px;"><font color="green">{{ message }}</font></h2>
{% endif %}
{% if tab == "profile" %}
None.
{% elif tab == "security" %}
<button class="settingsAccordion">Password Change</button>
<div class="settingsPanel">
	<form method="post" action="" autocomplete="off">
		<input class="hide" type="text" name="type" value="update_password" />
		<ul class="settingsList">
			<li>Old Password<br><br><input type="password" name="old_password" tabindex=1 /></li>
			<li>New Password<br><br><input id="newPassword" type="password" name="new_password" tabindex=2 />
				<span id="passwordInfo1" class="settingsTooltip"></span></li>
			<li>Repeat Password<br><br><input id="newPassword2" type="password" tabindex=3 />
				<span id="passwordInfo2" class="settingsTooltip"></span></li>
		</ul>
		<button id="passwordButton" class="settingsButton" type="submit" disabled="true">Update password</button>
	</form>
</div>
<button class="settingsAccordion">Update Email</button>
<div class="settingsPanel">
	<form method="post" action="" autocomplete="off">
		<input class="hide" type="text" name="type" value="update_email" />
		<ul>
			<li>New Email: <input id="newEmail" type="email" tabindex=1 name="new_email" /></li>
		</ul>
		<button id="emailButton" class="settingsButton" type="submit" disabled="true">Update Email</button>
		<span id="emailInfo1" style="color:red;">Invalid email</span>
	</form>
</div>
{% endif %}

<script>

var acc = document.getElementsByClassName("settingsAccordion");
var i;
for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}

document.getElementById("newPassword").addEventListener("input", function() {sendToPy(event, toggleButton, 'verify_password', {'password': document.getElementById("newPassword").value, 'password2': document.getElementById("newPassword2").value, 'field': '1'})});
document.getElementById("newPassword2").addEventListener("input", function() {sendToPy(event, toggleButton, 'verify_password', {'password': document.getElementById("newPassword").value, 'password2': document.getElementById("newPassword2").value, 'field': '2'})});
document.getElementById("newEmail").addEventListener("input", verifyEmail);

function verifyPassword() {
    sendToPy(event, toggleButton, 'verify_password', {'password': document.getElementById("newPassword").value, 'password2': document.getElementById("newPassword2").value});
}

function verifyEmail() {
    sendToPy(event, toggleButton, 'verify_email', {'email': document.getElementById("newEmail").value});
}

function toggleButton(response) {
	var i;
	for (i = 1; i < response.fields+1; i++) {
		var hide = document.getElementById(response.button + "Info" + i);
		hide.style.visibility = "hidden";
	}
	var verify = document.getElementById(response.button + "Button");
	var info = document.getElementById(response.button + "Info" + response.field);
	info.style.visibility = "visible";
	info.innerHTML = response.message;
	if (response.success === "yes") {
		verify.disabled = false;
		info.style.color = "green";
	} else {
		verify.disabled = true;
		info.style.color = "red";
	}
}
</script>
{% endblock %}