<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}

<h1>Settings</h1>
<div class="topbar">
	<ul>
		<li><a href="/settings/basic/none" {% if tab == "basic" %}style="background-color:Red;"{% endif %}>Basic</a></li>
		<li><a href="/settings/advanced/none" {% if tab == "advanced" %}style="background-color:Red;"{% endif %}>Advanced</a></li>
	</ul>
</div>
<div style="clear: both;"></div>
{% if message %}
<h2 style="margin-left:500px;"><font color="green">{{ message }}</font></h2>
{% endif %}
{% if tab == "basic" %}
<ul>
	<li><a href="/settings/basic/password">Change Password</a></li>
	<li><a href="/settings/basic/email">Update Email</a></li>
</ul>
	{% if choice == "password" %}
	<h1>Password Change</h1>
	<form method="post" action="" autocomplete="off">
		<input class="hide" type="text" name="type" value="change_password" />
		<input id="verify-password" class="hide" type="text" name="verify_password"/>
		<ul>
			<li>Old Password: <input id="oldPassword" type="password" placeholder="old password" tabindex=2 /></li>
			<li>New Password: <input type="password" placeholder="new password" name="new_password" tabindex=2 /></li>
		</ul>
		<button id="passwordButton" type="submit">Update password</button>
		<span id="passwordInfo"></span>
	</form>
	{% elif choice == "email" %}
	<h1>Update Email</h1>
	<form method="post" action="" autocomplete="off">
		<input class="hide" type="text" name="type" value="update_email" />
		<ul>
			<li>Email Address: <input type="email" placeholder="email" name="email" tabindex=2 /></li>
		</ul>
		<button tabindex=2>Update email address</button>
	</form>
	{% endif %}
{% elif tab == "advanced" %}
Advanced settings are not available.
{% endif %}

<script>
document.getElementById("oldPassword").addEventListener("input", verifyPassword);
document.getElementById("passwordButton").addEventListener("onclick", passwordMessage);

function verifyPassword() {
    sendToPy(event, enable_button, 'verify_password', {'password': document.getElementById("oldPassword").value});
}

function enable_button(response) {
	var verify = document.getElementById("verify-" + response.button);
	if (response.success === "yes") {
		verify.value = "true";
	} else if (response.success === "no") {
		verify.value = "false";
		}
}
</script>
{% endblock %}