<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}

<h1>Settings</h1>
<div class="topbar">
	<ul>
		<li><a href="/settings/profile/none" {% if tab == "profile" %}style="background-color:Red;"{% endif %}>Profile</a></li>
		<li><a href="/settings/security/none" {% if tab == "security" %}style="background-color:Red;"{% endif %}>Security</a></li>
	</ul>
</div>
<div style="clear: both;"></div>
{% if message %}
<h2 style="margin-left:500px;"><font color="green">{{ message }}</font></h2>
{% endif %}
{% if tab == "profile" %}
None.
{% elif tab == "security" %}
<button class="settingsAccordion">Password Change</button>
<div class="settingsPanel">
	<form method="post" action="" autocomplete="off">
		<input class="hide" type="text" name="type" value="update_password" />
		<ul>
			<li>Old Password: <input type="password" name="old_password" tabindex=1 /></li>
			<li>New Password: <input id="newPassword" type="password" name="new_password" tabindex=2 /></li>
			<li>Repeat Password: <input id="newPassword2" type="password" tabindex=3 /></li>
		</ul>
		<button id="passwordButton" type="submit" disabled="true">Update password</button>
		<span id="passwordInfo" style="color:red;">Too short</span>
	</form>
</div>
<button class="settingsAccordion">Update Email</button>
<div class="settingsPanel">
	<form method="post" action="" autocomplete="off">
		<input class="hide" type="text" name="type" value="update_email" />
		<ul>
			<li>New Email: <input id="newEmail" type="email" tabindex=1 name="new_email" /></li>
		</ul>
		<button id="emailButton" type="submit" disabled="true">Update Email</button>
		<span id="emailInfo" style="color:red;">Invalid email</span>
	</form>
</div>
{% endif %}

<script>

var acc = document.getElementsByClassName("settingsAccordion");
var i;
for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}

document.getElementById("newPassword").addEventListener("input", verifyPassword);
document.getElementById("newPassword2").addEventListener("input", verifyPassword);
document.getElementById("newEmail").addEventListener("input", verifyEmail);

function verifyPassword() {
    sendToPy(event, toggleButton, 'verify_password', {'password': document.getElementById("newPassword").value, 'password2': document.getElementById("newPassword2").value});
}

function verifyEmail() {
    sendToPy(event, toggleButton, 'verify_email', {'email': document.getElementById("newEmail").value});
}

function toggleButton(response) {
	var verify = document.getElementById(response.button + "Button");
	var info = document.getElementById(response.button + "Info");
	if (response.success === "yes") {
		verify.disabled = false;
		info.style.color = "green";
		if (response.button === "password") {
			info.innerHTML = "Passwords match";
		} else if (response.button === "email") {
			info.innerHTML = "Valid email";
		}
	} else {
		verify.disabled = true;
		info.style.color = "red";
		info.innerHTML = response.success;
	}
}
</script>
{% endblock %}