<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}
<center>Spellbook</center>
{% for ability in hero.abilities if ability.castable and ability.level > 0 %}
{{ ability.name.title() }}
    {% if ability.sanctity_cost %}(Sanctity Cost: {{ ability.sanctity_cost }})
    {% elif ability.endurance_cost %}(Endurance Cost: {{ ability.endurance_cost }})
    {% endif %}
<button data={{ ability.id }} data-py-function="cast_spell">cast</button>
[{{ ability.description }}]<br>
{% else %}
You have no spells
{% endfor %}


{% endblock %}

