<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}

<center>Spellbook</center>
{% for ability in hero.abilities if ability.castable and ability.level > 0 %}
<h1>{{ ability.name.title() }}</h1>
<h2>Cost:
    {% if ability.sanctity_cost %}{{ ability.sanctity_cost }} Sanctity
    {% elif ability.endurance_cost %}{{ ability.endurance_cost }} Endurance
    {% else %}Free
    {% endif %}</h2>
[{{ ability.description }}]<br>
<button onclick="sendToPy(event, doNothing, 'cast_spell', {'id': {{ ability.id }}});">Cast {{ ability.name.title() }}</button>
{% else %}
You have no spells
{% endfor %}


{% endblock %}

