<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}
<h1 style="text-align:center;">Spellbook</h1>
<h2 style="text-align:center;">Spells: {{ spells|length }}</h2>
<h2 style="text-align:center;">Current page: <span id="currentPage">{{ hero.spellbook_page }}</span> / {{ max_pages }}</h2>
<div class="spellbook">
    <div class="spellList">
        <table>
            {% for spell in spells %}
            {% if loop.index < 5 %}
            <tr>
                <td><span id="spell_img_{{ loop.index }}"><img class="spellIcon" onclick="sendToPy(event, doNothing, 'cast_spell', {'id': {{ spell.id }}});" src="/static/images/abilities/{{ loop.index }}.jpg" rowspan="2"></span></td>
                <td><span id="spell_info_{{ loop.index }}"><h1>{{ spell.name.title() }}</h1><h2>{{ spell.description }}</h2></span></td>
            </tr>
            {% endif %}
            {% else %}
            You have no spells
            {% endfor %}
        </table>
    </div>
    <div class="spellList" style="margin-left:50px;">
        <table>
            {% for spell in spells %}
            {% if loop.index > 4 %}
            <tr>
                <td><span id="spell_img_{{ loop.index }}"><img class="spellIcon" onclick="sendToPy(event, doNothing, 'cast_spell', {'id': {{ spell.id }}});" src="/static/images/abilities/{{ loop.index }}.jpg" rowspan="2"></span></td>
                <td><span id="spell_info_{{ loop.index }}"><h1>{{ spell.name.title() }}</h1><h2>{{ spell.description }}</h2></span></td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
    <div style="clear:both;"></div>
    <div id="turnSpellbookBack" class="spellbookTurnPage" {% if hero.spellbook_page <= 1 %}style="display:none;"{% endif %}>
        <img src="/static/images/abilities/backward.jpg" onclick="sendToPy(event, turnSpellbookPage, 'turn_spellbook_page', {'direction': 'backward', 'max': {{ max_pages }}});">
    </div>
    <div id="turnSpellbookForward" class="spellbookTurnPageForward" {% if hero.spellbook_page >= max_pages %}style="display:none;"{% endif %}>
        <img src="/static/images/abilities/forward.jpg" onclick="sendToPy(event, turnSpellbookPage, 'turn_spellbook_page', {'direction': 'forward', 'max': {{ max_pages }}});">
    </div>
</div>

{% endblock %}
