<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}
      <h2>Here is our list of items:</h2>
    <table>
    {% for item in items_for_sale %}
        <tr>
            <td>{{ item.name }}</td>
            <td><button class="command  command-store-buy-blacksmith" value="buy?item_name={{ item.name }}">Buy</button></td>
            <td><b>{{ item.buy_price }}</b> gold</td>
        </tr>
    {% endfor %}  
    </table>       
{% for link in page_links %}
      {{ link[0] }} <a href="{{ link[1] }}"> {{ link[2] }} </a><br>
    {% endfor %}    
{% endblock %}

