<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}
<div class="row">
    <div class="col-12" style="text-align: center;"> <!-- 100% -->
        <img src="/static/images/blacksmith.jpg" alt="Sample">
    </div>
</div> 

<div class="row">
    <div class="col-4"> <!-- 33.33% -->
        <h2>Here is our list of items:</h2>
        <table>{% for item in items_for_sale %}
            <tr>
                <td>{{ item.name }}</td>
                <td><button data-py-function="buy" data="{{ item.id }}"
                data-js-callback="itemPurchasedPopup">Buy</button>
                <td><b>{{ item.buy_price }}</b> gold</td>
            </tr>{% endfor %}  
        </table>
        <p>{% for link in page_links %}
        {{ link[0] }} <a href="{{ link[1] }}"> {{ link[2] }} </a><br>{% endfor %} 
    </div>
    <div class="col-8" valign="top"> <!-- 66.66% -->
        <b>Purchase Log:</b>
        <div id="purchaseLog"></div>
    </div> 
</div>
<div>
    Return to <a href="{{hero.current_city.url }}">{{ hero.current_city.name }}</a>
</div>
{% endblock %}

