
<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}
<!-- This is called on the "Users" page and displays all accounts in the database -->
<h2>Here is a list of all current heroes:</h2>
<table class="profileColumns" style="width:100%;margin-top:50px;">
    <tr style="font-weight:bold;">
        <th><a href=/display_users/display/user.id>User ID</a></th>
        <th>Prestige</th>
        <th><a href=/display_users/display/user.username>Username</a></th>
        <th><a href=/display_users/display/name>Character</a></th>
        <th><a href=/display_users/display/age>Age</a></th>
        <th>Player Kills</th>
        <th>Monster Kills</th>
        <th>Deaths</th>
        <th>Health</th>
        <th><a href=/display_users/display/archetype>Archetype:</a></th>
        <th><a href=/display_users/display/last_login>Last Login:</a></th>
    </tr>
    {% for hero in all_heroes %} <!-- Works great for now unless some fields are None. So needs to be addressed later. -->
    <tr>
        <td>{{ hero.user.id }}</td>
        <td>{% if hero.user.is_admin %}[Admin]{% else %}{{ hero.user.prestige }}{% if hero.user.prestige > 50 %}<img src="/static/images/star.jpg">{% endif %}{% endif %}</td>
        <td><a href=/display_users/see_user/{{ hero.user.username }}>{{ hero.user.username }}</a></td>
        <td>{{ hero.character_name }}</td>
        <td>{{ hero.age }}</td>
        <td>{{ hero.journal.achievements.player_kills }}</td>
        <td>{{ hero.journal.achievements.monster_kills }}</td>
        <td>{{ hero.journal.achievements.deaths }}</td>
        <td>{{ hero.base_proficiencies['health'].current }}/{{ hero.base_proficiencies['health'].final|int }}</td>
        <td>{% if hero.specializations.archetype.name %}{{ hero.specializations.archetype.name.title() }}{% else %}-{% endif %}</td>
        <td>{% if hero.last_login %}{{ hero.last_login }}{% else %}-{% endif %}</td>
    </tr>
    {% else %}
    <tr>
        <td>None</td>
        <td>None</td>
        <td>None</td>
        <td>None</td>
        <td>None</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
