
<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}
<!-- This is called on the "Users" page and displays all accounts in the database -->
<h2>Here is a list of all current heroes:</h2>
<table style="width:100%;text-align:center;" border="1">
    <tr>
        <th><a href=/display_users/display/user.id>User ID</a></th>
        <th>Prestige</th>
        <th><a href=/display_users/display/user.username>Username</a></th>
        <th><a href=/display_users/display/name>Character Name:</a></th>
        <th><a href=/display_users/display/age>Age:</a></th>
        <th>Deepest Cave</th>
        <th>Player Kills</th>
        <th>Monster Kills</th>
        <th>Deaths</th>
        <th>Health</th>
        <th><a href=/display_users/display/archetype>Archetype:</a></th>
        <th><a href=/display_users/display/last_login>Last Login:</a></th>
    </tr>
    {% for hero in all_heroes %} <!-- Works great for now unless some fields are None. So needs to be addressed later. -->
    <tr>
        <td>{{ hero.user.id }}</td>
        <td>{{ hero.user.prestige }}{% if hero.user.prestige > 50 %}<img src="/static/images/star.jpg">{% endif %}</td>
        <td><a href=/display_users/see_user/{{ hero.user.username }}>{{ hero.user.username }}</a> {% if hero.user.is_admin %}[ADMIN]{% endif %}</td>
        <td>{{ hero.character_name }}</td>
        <td>{{ hero.age }}</td>
        <td>{{ hero.deepest_dungeon_floor }}</td>
        <td>{{ hero.player_kills }}</td>
        <td>{{ hero.monster_kills }}</td>
        <td>{{ hero.deaths }}</td>
        <td>{{ hero.base_proficiencies['health'].current }}</td>
        <td>{% if hero.archetype %}{{ hero.archetype.title() }}{% endif %}</td>
        <td>{{ hero.last_login }}</td>
    </tr>
    {% else %}
    <tr>
        <td>None</td>
        <td>None</td>
        <td>None</td>
        <td>None</td>
        <td>None</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
