<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block block1 %}
    *Cave at 2 and City at 5*
    <h1>I am at {{ myHero.current_location.name }}</h1>
    {% for move in move_on_the_map %}
     	<br><h1>MOVE TO <a href="/{{ myHero.current_world.location_type }}/{{ myHero.current_world.name }}/{{ move }}">{{ move }}</a></h1>
    {% endfor %}

    {% for town_link in places_of_interest %}
     	<h1>{{ town_link.places[0].name }}</h1><h2><a href="{{ town_link.url }}">{{ town_link.places[0].name }}</a></h2>
    {% endfor %}
{% endblock %}

