<!-- This shows the admin page -->

{% extends "layout.html" %}
{% block generic_content %}
<!-- This is the ability page IF YOU HAVE UNSPENT points. It let's you learn/upgrade abilities -->
    {% if ability_pages_learn %}
       <div id="content">
     <div class="nav">
     <ul>
       <li><a href=/ability_tree/Basic>Basic Skills</a></li>
       <li><a href=/ability_tree/Archetype>Archetype Advancements</a></li>
       <li><a href=/ability_tree/Class>Class Abilities</a></li>
       <li><a href=/ability_tree/Religious>Religious Blessings</a></li>
     </ul>
    </div>
    </div>
    
    <br>Ability Points: {{ myHero.ability_points }}
      <br>Arch Points: {{ myHero.archetype_ability_points }}
      <br>Spec Points: {{ myHero.specialization_ability_points }}
      <br>Relig Points: {{ myHero.pantheonic_ability_points }}
      <h1 style="text-align:center;">Abilities</h1>
      {% if archetype_ability_tree %}Choose Archetype (Currently {{ myHero.archetype }}): <button class="command command-woodsman" value="woodsman">Woodsman</button><button class="command command-priest" value="priest">Priest</button><br> You are a <b>{{ myHero.archetype }}</b>{% endif %}
      {% if class_ability_tree %}
Choose Specialization (Currently {{ myHero.specialization }}): <button class="command command-hunter" value="hunter">Hunter</button><button class="command command-trapper" value="trapper">Trapper</button><br> Your class is <b>{{ myHero.specialization }}</b>{% endif %}

      {% if religious_ability_tree %}
      Choose Religion (Currently <span id="hero_religion">{{ myHero.religion }}</span>): <button class="command command-forgoth" value="choose_religion?">Forgoth</button><button class="command command-dryarch" value="choose_religion?">Dryarch</button>
      <br> You are a follower of <b><span id="hero_religion">{{ myHero.religion }}</span></b>
      
      {% endif %}
      <h2 style="text-align:left;">Unknown</h2>
        {% for ability in unknown_abilities %}
          <button class="command command-{{ ability.name }}" value="{{ ability.name }}" title="{{ ability.name }} {{ ability.display_name }}: {{ ability.description }}">{{ ability.name }}</button><img src="/static/images/0.jpg" alt="?" style="width:25px;height:25px;"> {{ ability.description }}<br>
        {% endfor %}
      <h2 style="text-align:left;">Known</h2>
        {% for ability in learnable_abilities %}
          <button class="command command-{{ ability.name }}" value="{{ ability.name }}" title="{{ ability.name }} {{ ability.learn_name }}: {{ ability.description }}">{{ ability.name }}</button><img src="/static/images/{{ ability.display_name }}.jpg" alt="?" style="width:25px;height:25px;"> {{ ability.description }}<br>
        {% endfor %}
      <h2 style="text-align:left;">Mastered</h2>
        {% for ability in mastered_abilities %}
          <img src="/static/images/{{ ability.name }}.jpg"; height:70px; width:70px"><img src="/static/images/{{ ability.display_name }}.jpg" alt="?" style="width:25px;height:25px;"> {{ ability.description }}<br>
        {% endfor %}
    {% endif %}


<!-- This is the abilities page IF YOU DONT HAVE ability points. It lets you cast spells and see what you have learned -->
    {% if ability_pages_use %}
      <h1 style="text-align:center;">All Known Abilities</h1>
      {% for ability in learnable_abilities %}
        {{ ability.name }}<img src="/static/images/{{ ability.display_name }}.jpg" alt="?" style="width:25px;height:25px;">: {{ ability.description }}{% if ability.activated %}<button class="command command-{{ ability.name }}_use" value="{{ ability.name }}_use" title="Use {{ ability.name }}">   Use</button> (Costs {{ ability.cost }} Sanctity){% endif %}<br>
      {% endfor %}
    {% endif %}

{% endblock %}

