{% extends "profile_template.html" %}
{% block block2 %}
<!-- Basic Skill Page -->

<script type="text/javascript">
function changeAttributeBox(new_name, new_content){
	document.getElementById("attributeText").innerHTML=new_content;
	document.getElementById("attributeName").innerHTML=new_name;
}

var remainingPoints = {{ myHero.attribute_points }}
var agilityValue = {{ myHero.primary_attributes["Agility"] }};
function agilityModifier(modifier) {
    agilityValue = isNaN(agilityValue) ? 0 : agilityValue;
	if (modifier === 'increase' && remainingPoints > 0) {
	agilityValue++;
	remainingPoints--;
	}
	if (modifier === 'decrease' && agilityValue > {{ myHero.primary_attributes["Agility"] }}) {
	agilityValue--;
	remainingPoints++;
	}
    document.getElementById('agilityValue').value = agilityValue;
	document.getElementById('newAgilityValue').value = agilityValue;
	document.getElementById('pointsRemaining').value = remainingPoints;
}
var charismaValue = {{ myHero.primary_attributes["Charisma"] }};
function charismaModifier(modifier) {
    charismaValue = isNaN(charismaValue) ? 0 : charismaValue;
	if (modifier === 'increase' && remainingPoints > 0) {
	charismaValue++;
	remainingPoints--;
	}
	if (modifier === 'decrease' && charismaValue > {{ myHero.primary_attributes["Charisma"] }}) {
	charismaValue--;
	remainingPoints++;
	}
    document.getElementById('charismaValue').value = charismaValue;
	document.getElementById('newCharismaValue').value = charismaValue;
	document.getElementById('pointsRemaining').value = remainingPoints;
}
var divinityValue = {{ myHero.primary_attributes["Divinity"] }};
function divinityModifier(modifier) {
    divinityValue = isNaN(divinityValue) ? 0 : divinityValue;
	if (modifier === 'increase' && remainingPoints > 0) {
	divinityValue++;
	remainingPoints--;
	}
	if (modifier === 'decrease' && divinityValue > {{ myHero.primary_attributes["Divinity"] }}) {
	divinityValue--;
	remainingPoints++;
	}
    document.getElementById('divinityValue').value = divinityValue;
	document.getElementById('newDivinityValue').value = divinityValue;
	document.getElementById('pointsRemaining').value = remainingPoints;
}
var fortitudeValue = {{ myHero.primary_attributes["Fortitude"] }};
function fortitudeModifier(modifier) {
    fortitudeValue = isNaN(fortitudeValue) ? 0 : fortitudeValue;
	if (modifier === 'increase' && remainingPoints > 0) {
	fortitudeValue++;
	remainingPoints--;
	}
	if (modifier === 'decrease' && fortitudeValue > {{ myHero.primary_attributes["Fortitude"] }}) {
	fortitudeValue--;
	remainingPoints++;
	}
    document.getElementById('fortitudeValue').value = fortitudeValue;
	document.getElementById('newFortitudeValue').value = fortitudeValue;
	document.getElementById('pointsRemaining').value = remainingPoints;
}
var fortuityValue = {{ myHero.primary_attributes["Fortuity"] }};
function fortuityModifier(modifier) {
    fortuityValue = isNaN(fortuityValue) ? 0 : fortuityValue;
	if (modifier === 'increase' && remainingPoints > 0) {
	fortuityValue++;
	remainingPoints--;
	}
	if (modifier === 'decrease' && fortuityValue > {{ myHero.primary_attributes["Fortuity"] }}) {
	fortuityValue--;
	remainingPoints++;
	}
    document.getElementById('fortuityValue').value = fortuityValue;
	document.getElementById('newFortuityValue').value = fortuityValue;
	document.getElementById('pointsRemaining').value = remainingPoints;
}
var perceptionValue = {{ myHero.primary_attributes["Perception"] }};
function perceptionModifier(modifier) {
    perceptionValue = isNaN(perceptionValue) ? 0 : perceptionValue;
	if (modifier === 'increase' && remainingPoints > 0) {
	perceptionValue++;
	remainingPoints--;
	}
	if (modifier === 'decrease' && perceptionValue > {{ myHero.primary_attributes["Perception"] }}) {
	perceptionValue--;
	remainingPoints++;
	}
    document.getElementById('perceptionValue').value = perceptionValue;
	document.getElementById('newPerceptionValue').value = perceptionValue;
	document.getElementById('pointsRemaining').value = remainingPoints;
}
var reflexesValue = {{ myHero.primary_attributes["Reflexes"] }};
function reflexesModifier(modifier) {
    reflexesValue = isNaN(reflexesValue) ? 0 : reflexesValue;
	if (modifier === 'increase' && remainingPoints > 0) {
	reflexesValue++;
	remainingPoints--;
	}
	if (modifier === 'decrease' && reflexesValue > {{ myHero.primary_attributes["Reflexes"] }}) {
	reflexesValue--;
	remainingPoints++;
	}
    document.getElementById('reflexesValue').value = reflexesValue;
	document.getElementById('newReflexesValue').value = reflexesValue;
	document.getElementById('pointsRemaining').value = remainingPoints;
}
var resilienceValue = {{ myHero.primary_attributes["Resilience"] }};
function resilienceModifier(modifier) {
    resilienceValue = isNaN(resilienceValue) ? 0 : resilienceValue;
	if (modifier === 'increase' && remainingPoints > 0) {
	resilienceValue++;
	remainingPoints--;
	}
	if (modifier === 'decrease' && resilienceValue > {{ myHero.primary_attributes["Resilience"] }}) {
	resilienceValue--;
	remainingPoints++;
	}
    document.getElementById('resilienceValue').value = resilienceValue;
	document.getElementById('newResilienceValue').value = resilienceValue;
	document.getElementById('pointsRemaining').value = remainingPoints;
}
var strengthValue = {{ myHero.primary_attributes["Strength"] }};
function strengthModifier(modifier) {
    strengthValue = isNaN(strengthValue) ? 0 : strengthValue;
	if (modifier === 'increase' && remainingPoints > 0) {
	strengthValue++;
	remainingPoints--;
	}
	if (modifier === 'decrease' && strengthValue > {{ myHero.primary_attributes["Strength"] }}) {
	strengthValue--;
	remainingPoints++;
	}
    document.getElementById('strengthValue').value = strengthValue;
	document.getElementById('newStrengthValue').value = strengthValue;
	document.getElementById('pointsRemaining').value = remainingPoints;
}
var survivalismValue = {{ myHero.primary_attributes["Survivalism"] }};
function survivalismModifier(modifier) {
    survivalismValue = isNaN(survivalismValue) ? 0 : survivalismValue;
	if (modifier === 'increase' && remainingPoints > 0) {
	survivalismValue++;
	remainingPoints--;
	}
	if (modifier === 'decrease' && survivalismValue > {{ myHero.primary_attributes["Survivalism"] }}) {
	survivalismValue--;
	remainingPoints++;
	}
    document.getElementById('survivalismValue').value = survivalismValue;
	document.getElementById('newSurvivalismValue').value = survivalismValue;
	document.getElementById('pointsRemaining').value = remainingPoints;
}
var vitalityValue = {{ myHero.primary_attributes["Vitality"] }};
function vitalityModifier(modifier) {
    vitalityValue = isNaN(vitalityValue) ? 0 : vitalityValue;
	if (modifier === 'increase' && remainingPoints > 0) {
	vitalityValue++;
	remainingPoints--;
	}
	if (modifier === 'decrease' && vitalityValue > {{ myHero.primary_attributes["Vitality"] }}) {
	vitalityValue--;
	remainingPoints++;
	}
    document.getElementById('vitalityValue').value = vitalityValue;
	document.getElementById('newVitalityValue').value = vitalityValue;
	document.getElementById('pointsRemaining').value = remainingPoints;
}
var wisdomValue = {{ myHero.primary_attributes["Wisdom"] }};
function wisdomModifier(modifier) {
    wisdomValue = isNaN(wisdomValue) ? 0 : wisdomValue;
	if (modifier === 'increase' && remainingPoints > 0) {
	wisdomValue++;
	remainingPoints--;
	}
	if (modifier === 'decrease' && wisdomValue > {{ myHero.primary_attributes["Wisdom"] }}) {
	wisdomValue--;
	remainingPoints++;
	}
    document.getElementById('wisdomValue').value = wisdomValue;
	document.getElementById('newWisdomValue').value = wisdomValue;
	document.getElementById('pointsRemaining').value = remainingPoints;
} 
</script>

<form method="post" class="level_up_form">
 <div class="profilePage">
 Points Remaining:<output type="text" name="total" id="pointsRemaining" value="{{ myHero.attribute_points }}"/>{{ myHero.attribute_points }}</output>
</div>

<div style="clear: both;"></div>

<div class="profilePage">
	<div class="profilePageAttributes">
		<ul>
			<li><button type="button" class="profileText" onclick="changeAttributeBox('Agility', 'How fast you are.')">Agility:</button></li>
			<li><button type="button"  class="profileText" onclick="changeAttributeBox('Charisma', 'How much they love you.')">Charisma:</button></li>
			<li><button type="button"  class="profileText" onclick="changeAttributeBox('Divinity', 'Your relationship with god.')">Divinity:</button></li>
			<li><button type="button"  class="profileText" onclick="changeAttributeBox('Fortitude', 'forty')">Fortitude:</button></li>
			<li><button type="button"  class="profileText" onclick="changeAttributeBox('Fortuity', 'fortytuity')">Fortuity:</button></li>
			<li><button type="button"  class="profileText" onclick="changeAttributeBox('Perception', 'see it')">Perception:</button></li>
			<li><button type="button"  class="profileText" onclick="changeAttributeBox('Reflexes', 'dodge it')">Reflexes:</button></li>
			<li><button type="button"  class="profileText" onclick="changeAttributeBox('Resilience', 'resist it')">Resilience:</button></li>
			<li><button type="button"  class="profileText" onclick="changeAttributeBox('Strength', 'beat it')">Strength:</button></li>
			<li><button type="button"  class="profileText" onclick="changeAttributeBox('Survivalism', 'dont die')">Survivalism:</button></li>
			<li><button type="button"  class="profileText" onclick="changeAttributeBox('Vitality', 'stay healthy')">Vitality:</button></li>
			<li><button type="button"  class="profileText" onclick="changeAttributeBox('Wisdom', 'be wise')">Wisdom:</button></li>
		</ul>
	</div>
	<div class="profilePageValues">
		<ul>
			<li>
				<input type="button" onclick="agilityModifier('decrease')" value="-">
				<input id="agilityValue" type="hidden" name="agilityInput" value="{{ myHero.primary_attributes["Agility"] }}">
				<output name="agilityOutput" id="newAgilityValue">{{ myHero.primary_attributes["Agility"] }}</output>
				<input type="button" onclick="agilityModifier('increase')" value="+">
			</li>
			<li>
				<input type="button" onclick="charismaModifier('decrease')" value="-">
				<input id="charismaValue" type="hidden" name="charismaInput" value="{{ myHero.primary_attributes["Charisma"] }}">
				<output name="charismaOutput" id="newCharismaValue">{{ myHero.primary_attributes["Charisma"] }}</output>
				<input type="button" onclick="charismaModifier('increase')" value="+">
			</li>
			<li>
				<input type="button" onclick="divinityModifier('decrease')" value="-">
				<input id="divinityValue" type="hidden" name="divinityInput" value="{{ myHero.primary_attributes["Divinity"] }}">
				<output name="divinityOutput" id="newDivinityValue">{{ myHero.primary_attributes["Divinity"] }}</output>
				<input type="button" onclick="divinityModifier('increase')" value="+"></li>
			<li>
				<input type="button" onclick="fortitudeModifier('decrease')" value="-">
				<input id="fortitudeValue" type="hidden" name="fortitudeInput" value="{{ myHero.primary_attributes["Fortitude"] }}">
				<output name="fortitudeOutput" id="newFortitudeValue">{{ myHero.primary_attributes["Fortitude"] }}</output>
				<input type="button" onclick="fortitudeModifier('increase')" value="+"></li>
			<li>
				<input type="button" onclick="fortuityModifier('decrease')" value="-">
				<input id="fortuityValue" type="hidden" name="fortuityInput" value="{{ myHero.primary_attributes["Fortuity"] }}">
				<output name="fortuityOutput" id="newFortuityValue">{{ myHero.primary_attributes["Fortuity"] }}</output>
				<input type="button" onclick="fortuityModifier('increase')" value="+"></li>
			<li>
				<input type="button" onclick="perceptionModifier('decrease')" value="-">
				<input id="perceptionValue" type="hidden" name="perceptionInput" value="{{ myHero.primary_attributes["Perception"] }}">
				<output name="perceptionOutput" id="newPerceptionValue">{{ myHero.primary_attributes["Perception"] }}</output>
				<input type="button" onclick="perceptionModifier('increase')" value="+"></li>
			<li>
				<input type="button" onclick="reflexesModifier('decrease')" value="-">
				<input id="reflexesValue" type="hidden" name="reflexesInput" value="{{ myHero.primary_attributes["Reflexes"] }}">
				<output name="reflexesOutput" id="newReflexesValue">{{ myHero.primary_attributes["Reflexes"] }}</output>
				<input type="button" onclick="reflexesModifier('increase')" value="+"></li>
			<li>
				<input type="button" onclick="resilienceModifier('decrease')" value="-">
				<input id="resilienceValue" type="hidden" name="resilienceInput" value="{{ myHero.primary_attributes["Resilience"] }}">
				<output name="resilienceOutput" id="newResilienceValue">{{ myHero.primary_attributes["Resilience"] }}</output>
				<input type="button" onclick="resilienceModifier('increase')" value="+"></li>
			<li>
				<input type="button" onclick="strengthModifier('decrease')" value="-">
				<input id="strengthValue" type="hidden" name="strengthInput" value="{{ myHero.primary_attributes["Strength"] }}">
				<output name="strengthOutput" id="newStrengthValue">{{ myHero.primary_attributes["Strength"] }}</output>
				<input type="button" onclick="strengthModifier('increase')" value="+"></li>
			<li>
				<input type="button" onclick="survivalismModifier('decrease')" value="-">
				<input id="survivalismValue" type="hidden" name="survivalismInput" value="{{ myHero.primary_attributes["Survivalism"] }}">
				<output name="survivalismOutput" id="newSurvivalismValue">{{ myHero.primary_attributes["Survivalism"] }}</output>
				<input type="button" onclick="survivalismModifier('increase')" value="+"></li>
			<li>
				<input type="button" onclick="vitalityModifier('decrease')" value="-">
				<input id="vitalityValue" type="hidden" name="vitalityInput" value="{{ myHero.primary_attributes["Vitality"] }}">
				<output name="vitalityOutput" id="newVitalityValue">{{ myHero.primary_attributes["Vitality"] }}</output>
				<input type="button" onclick="vitalityModifier('increase')" value="+"></li>
			<li>
				<input type="button" onclick="wisdomModifier('decrease')" value="-">
				<input id="wisdomValue" type="hidden" name="wisdomInput" value="{{ myHero.primary_attributes["Wisdom"] }}">
				<output name="wisdomOutput" id="newWisdomValue">{{ myHero.primary_attributes["Wisdom"] }}</output>
				<input type="button" onclick="wisdomModifier('increase')" value="+"></li>
		</ul>
	</div>
</div>

<div class="profilePage profilePageInfo">
	<h1><div id="attributeName">Choose An Attribute</div></h1>
	<p><div id="attributeText">See what it does.</div></p>
</div>

<input class="btn btn-default" type="submit" value="Save" id="level_button">
</form>


{% endblock %}
