<html>
  <head>
    <title>Create Character</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>What would you like to name your character?</h1>
      <br>

<form action="" method="post">
        <h2>Choose your name:</h2>
        <input type="text" placeholder="Name" name="char_name" pattern="[A-Za-z]{1,30}" title="Alphabets only, maximum length 30" value="{{
          request.form.char_name }}">

        <h2>Choose your archetype:</h2>
        <select name="spec">
          <option value="Scholar">Scholar</option>
          <option value="Brute">Brute</option> 
          <option value="Scoundrel">Scoundrel</option>        
        </select>

        <br><br><br><br>
        <input class="btn btn-default" type="submit" value="Submit">
</form>

<h3>
<br>Strength: {{ myHero.strength }}
<br>Speed: {{ myHero.speed }}
<br>Wisdon: {{ myHero.wisdom }}
</h3>


      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}

{% if myHero %}
<h2> 
<br>Name: {{ myHero.name}}
<br>Class: {{ myHero.spec }}
</h2>
{% endif %}

      <p>Click <a href="/profile">here</a> to see your profile.</p>
      <p>Click <a href="/">here</a> to go to the main menu.</p>
      <p>Click <a href="/logout">here</a> to logout.</p>

    </div>
  </body>
</html>