<!DOCTYPE html>
<html>

  <head>
    {% if page_title %}
    <title>{{ page_title }}</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style.css" rel="stylesheet" media="screen">
  </head>

  <body>
  <div id="page">

    <div id="sidebar">
      <div class="sidebarinfo">
        <img src="static/images/character.jpg" alt="Sample" style="width:100px;height:100px;">
        <ul>
        <li>Name: {{ myHero.name}} </li>
        <li>Age: {{ myHero.age }}</li>
        <li>Experience: {{ myHero.current_exp }} / {{ myHero.max_exp }}</li>
        <li>Health: {{ myHero.current_health }} / {{ myHero.max_health }}</li></li>
        <li>Sanctity: {{ myHero.current_sanctity }} / {{ myHero.max_sanctity }}
        <li>Endurance: {{ myHero.current_endurance }} / {{ myHero.max_endurance }}</li>
        <li>Gold: {{ myHero.gold }}</li>
        </ul>
      </div>
      <div class="sidebarmenu">
        <ul>
        <li><a href=/home>Profile</a></li>
        <li><a href=/town>Town</a></li>
        <li><a href=/quest_log>Journal</a></li>
        <li><a href=/bestiary>Bestiary</a></li>
        <li><a href=/under_construction>Inventory</a></li>
        <li><a href=/under_construction>Abilities</a></li>
        <li><a href=/under_construction>Users</a></li>
		<li><a href=/admin>Admin</a></li>
        <li><a href=/logout>Logout</a></li>
        </ul>
      </div>
     

 
  <div class="content">

{% if journal %}
<div id="content">
     <div class="nav">
     <ul>
     <li><a href=/Quest>Quest</a></li>
      <li><a href=/Bestiary>Bestiary</a></li>
        <li><a href=/People>People</a></li>
        <li><a href=/Map>Map</a></li>
     </ul>
    </div>
{% endif %}


    {% if page_heading %}
    <h1>{{ page_heading }}</h1>
    {% endif %}

    {% if page_image %}
    <img src="static/images/{{ page_image }}.jpg" alt="{{ page_image }}" style="width:304px;height:228px;">
    {% endif %}

    {% if paragraph %}
    <p>{{ paragraph }}</p>
    {% endif %}

    {% for text in conversation %}
    <br><b>{{ text[0] }}</b> {{ text[1] }}<br>
    {% endfor %}

    {% for status in status_display %}
      <h2>{{ status[2] }}</h2><b>{{ status[0] }}</b> {{ status[1] }}
    {% endfor %}

    {% if items_for_sale %}
      <h2>Here is our list of items:</h2>
      <form method="post" action="">
      {% for item in items_for_sale %}
        {{ item[0] }} &nbsp; <input type="number" placeholder="0" name="{{ item[0] }}" min="0" max="99" title="Numbers only" value="0"> &nbsp; <b>Cost:</b> {{ item[1] }}<br>
      {% endfor %}
      <input class="btn btn-default" type="submit" value="Submit">
      </form>
    {% endif %}

    {% for link in page_links %}
    <h2>{{ link[0] }}<a href="{{ link[1] }}">{{ link[2] }}</a>{{ link[3] }}</h2>
    {% endfor %}

    {% for town_link in town_links %}
      <h1>{{ town_link[2] }}</h1><h2><a href="{{ town_link[0] }}">{{ town_link[1] }}</a></h2>
    {% endfor %}

    {% if primary_attributes %}
      <form method="post" action="" autocomplete="off">
      {% for attribute in primary_attributes %}
        <label for="name">{{ attribute[0] }}: {{ attribute[1] }}</label>
        <input type="number" name="{{ attribute[0] }}" min="0" max="{{ myHero.attribute_points }}" title="Numbers only" value="0"><br>
      {% endfor %}
    <input class="btn btn-default" type="submit" value="Submit">
    <h1>&emsp; &emsp; &emsp; &emsp; <b>Points remaining {{ myHero.attribute_points }}</b></h1>
      </form>
    {% endif %}

    {% if tavern %}
      <form action="" method="post">
	I would like to
        <select name="tavern_choice">
        {% for key,value in dialogue_options.items() %}
	<option value={{ key }}>{{ value }}</option>
        {% endfor %}
	</select>
      <input class="btn btn-default" type="submit" value="Next">
      </form>
    {% endif %}

    {% if quest_log %}
      <h1>Current Quests</h1>
      {% if current_quests %}
        {% for quest in current_quests %}
          <h2><br><b>{{ quest[0] }}</b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(Stage: {{ quest[2] }})</h2>
          {{ quest[1] }}
        {% endfor %}
      {% else %}
        No current quests.
      {% endif %}
      <h1>Current Errands</h1>
      {% if errands %}
        {% for errand in errands %}
          <br><b>{{ errand }}</b>
        {% endfor %}
      {% else %}
        No current errands.
      {% endif %}
      <h1>Completed Quests</h1>
      {% if completed_quests %}
        {% for quest in completed_quests %}
          <br><b>{{ quest }}</b><br>
          {{ paragraph }}
        {% endfor %}
      {% else %}
        No completed quests.
      {% endif %}
    {% endif %}

    {% if bestiary %}
      <h1 style="text-align:center;">Bestiary</h1>
      <h2>Entry:</h2><br>
      Name: {{ bestiary_name }}<br><br>
      Age: {{ bestiary_age }}<br><br>
      <img src="static/images/{{ bestiary_picture }}.jpg" alt="Bestiary Picture" style="width:100px;height:100px;">
    {% endif %}
	
	{% if admin %}
      <form method="post" action="" autocomplete="off">
      {% for attribute in admin %}
        <label for="name">{{ attribute[0] }}: {{ attribute[1] }}</label>
        <input type="number" name="{{ attribute[0] }}" min="0" title="Numbers only" value=5><br>
      {% endfor %}
    <input class="btn btn-default" type="submit" value="Save">
      </form>
    {% endif %}

    {% for link in bottom_page_links %}
    <h2>{{ link[0] }}<a href="{{ link[1] }}">{{ link[2] }}</a>{{ link[3] }}</h2>
    {% endfor %}

	
	
{% if home %}
<h1>General Statistics</h1>
<h2> 
Name: {{ myHero.character_name}}
<br>Age: {{ myHero.age }}
<br>Class: {{ myHero.character_class }}
<br>Experience: {{ myHero.current_exp }} / {{ myHero.max_exp }}
<br>Carrying Capacity: {{ myHero.current_carrying_capacity }} / {{ myHero.max_carrying_capacity }}
<br>Gold: {{ myHero.gold }}
<br>Endurance: {{ myHero.current_endurance }} / {{ myHero.max_endurance }}
</h2>


<h1>Battle Statistics</h1>
<table style="width:50%">
<tr>
<td><h2>Damage: {{ myHero.min_damage }} - {{ myHero.max_damage }}</td>
<td><h2>Health: {{ myHero.current_health }} / {{ myHero.max_health }}</h2></td>
</tr>
<tr>
<td><h2>Attack Speed: {{myHero.attack_speed }}</h2></td>
<td><h2>Accuracy: {{myHero.attack_accuracy }}%</h2></td>
</tr>
<tr>
<td><h2>Defence: {{ myHero.defence_modifier }}%</h2></td>
<td><h2>Evade: {{ myHero.evade_chance }}%</h2></td>
</tr>
<tr>
<td><h2>Critical Hit: {{ myHero.critical_hit }}%</h2></td>
<td><h2>First Strike: {{ myHero.first_strike }}%</h2></td>
</tr>
<tr>
<td><h2>Sanctity: {{ myHero.current_sanctity }} / {{ myHero.max_sanctity }}</h2></td>
<td><h2>Faith: {{ myHero.faith }}</h2></td>
</tr>
</table>

<h1>Abilities</h1>
<h2>
{% for ability in myHero.abilities %} 
{{ ability.name }} {{ ability.display_name }}<br>
{% endfor %}
</h2>

<h1>Equipped Item(s):</h1>

<h2>{% for item in myHero.equipped_items %}  
<br>{{ item.name }} &emsp;  <button class="command command-{{ item.name }}" value="{{ item.name }}">Unequip</button>
{% endfor %}</h2>
<h1>Inventory:</h1>
<h2>{% for item in myHero.inventory %}   
<br>{{ item.amount_owned }} {{ item.name }} &emsp;  <button class="command command-{{ item.name }}" value="{{ item.name }}">Equip</button>
{% endfor %}
</h2>


<h1>Attributes</h1>
<h2><title="Damage and carrying capacity">Strength</>: {{ myHero.strength }}
<br>Resilience: {{ myHero.resilience }}
<br>Vitality: {{ myHero.vitality }}
<br>Fortitude: {{ myHero.fortitude }}
<br>Reflexes: {{ myHero.reflexes }}
<br>Agility: {{ myHero.agility }}
<br>Perception: {{ myHero.perception }}
<br>Wisdom: {{ myHero.wisdom }}
<br>Divinity: {{ myHero.divinity }}
<br>Charisma: {{ myHero.charisma }}
<br>Survivalism: {{ myHero.survivalism }}
<br>Fortuity: {{ myHero.fortuity }}
</h2>
<h1><a href="/reset_character">Reset Character</a></h1>

{% endif %}


<br>

      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
  </body>
</html>

<script>
// Only run what comes next *after* the page has loaded
addEventListener("DOMContentLoaded", function() {
  // Grab all of the elements with a class of command
  // (which all of the buttons we just created have)
  var commandButtons = document.querySelectorAll(".command");
  for (var i=0, l=commandButtons.length; i<l; i++) {
    var button = commandButtons[i];
    // For each button, listen for the "click" event
    button.addEventListener("click", function(e) {
      // When a click happens, stop the button
      // from submitting our form (if we have one)
      e.preventDefault();

      var clickedButton = e.target;
      var command = clickedButton.value;

      // Now we need to send the data to our server
      // without reloading the page - this is the domain of
      // AJAX (Asynchronous JavaScript And XML)
      // We will create a new request object
      // and set up a handler for the response
      var request = new XMLHttpRequest();
      // We point the request at the appropriate command
      request.open("GET", "/" + command, true);
      // and then we send it off
      request.send();
	  location.reload();
	  
    });
  }
  
}, true);
</script>
