<!DOCTYPE html>
<html>

  <head>
    {% if page_title %}
    <title>{{ page_title }}</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style.css" rel="stylesheet" media="screen">
  </head>


  <div class="sidebar">
    <u1>
      <img src="images/character.jpg" alt="Sample" style="width:100px;height:100px;">
      <br>Name: {{ myHero.name}}
      <br>Class: {{ myHero.starting_class }}
      <br>Level: {{ myHero.level }}
      <br>Experience: {{ myHero.current_exp }} / {{ myHero.max_exp }}
      <br>Health: {{ myHero.current_hp }} / {{ myHero.max_hp }}
      <br>Mana: {{ myHero.current_mp }} / {{ myHero.max_mp }}
      <br>Gold: {{ myHero.gold }}
    </u1>
    <h1>
      <li><a href=/home>Profile</a></li>
      <li><a href=/arena>Arena</a></li>
      <li><a href=/store_greeting>Store</a></li>
      <li><a href=/logout>Logout</a></li>
    </h1>

  </div>

  <body>
  <div class="content">

    {% if page_heading %}
    <h1>{{ page_heading }}</h1>
    {% endif %}

    {% if page_image %}
    <img src="images/{{ page_image }}.jpg" alt="{{ page_image }}" style="width:304px;height:228px;">
    {% endif %}

    {% if paragraph %}
    <p>{{ paragraph }}</p>
    {% endif %}

    {% for text in conversation %}
    <br><b>{{ text[0] }}</b> {{ text[1] }}<br>
    {% endfor %}

    {% if items_for_sale %}
      <h2>Here is our list of items:</h2>
      <form method="post" action="">
      {% for item in items_for_sale %}
        {{ item[0] }} &nbsp; <input type="number" placeholder="0" name="{{ item[0] }}" min="0" max="99" title="Numbers only" value="0"> &nbsp; <b>Cost:</b> {{ item[1] }}<br>
      {% endfor %}
      <input class="btn btn-default" type="submit" value="Submit">
      </form>
    {% endif %}

    {% for link in page_links %}
    <h2><a href="/{{ link[0] }}">{{ link[1] }}</a></h2>
    {% endfor %}

    {% if primary_attributes %}
      <form method="post" action="" autocomplete="off">
      {% for attribute in primary_attributes %}
        <label for="name">{{ attribute[0] }}: {{ attribute[1] }}</label>
        <input type="number" name="{{ attribute[0] }}" min="0" max="{{ myHero.attribute_points }}" title="Numbers only" value="0"><br>
      {% endfor %}
    <input class="btn btn-default" type="submit" value="Submit">
    <h1>&emsp; &emsp; &emsp; &emsp; <b>Points remaining {{ myHero.attribute_points }}</b></h1?
      </form>
    {% endif %}

{% if arena %}
<h2>Compete in the <a href="/battle" title="Battle a random opponent.">arena.</a>
<br>Battle another <a href="/arena" title="Under construction.">player.</a></h2>

<h1>A challenger approaches!</h1>
<h2>
<br>{{ game.enemy.name }} ({{ game.enemy.species }})
<br>Level: {{ game.enemy.level }}
<br>Damage: {{ game.enemy.min_damage }} - {{ game.enemy.max_damage }}
<br>Attack Speed: {{ game.enemy.attack_speed }}
<br>Health: {{ game.enemy.current_hp }} / {{ game.enemy.max_hp }}
<br>Accuracy: {{ game.enemy.accuracy }}%
<br>Dodge: {{ game.enemy.dodge_chance }}%
<br>Defence: {{ game.enemy.defence_modifier }}%
</h2>

{% elif home %}

<h1>General Statistics</h1>
<h2> 
Name: {{ myHero.name}}
<br>Class: {{ myHero.starting_class }}
<br>Level: {{ myHero.level }}
<br>Experience: {{ myHero.current_exp }} / {{ myHero.max_exp }}
<br>Carrying Capacity: {{ myHero.carrying_capacity }}
<br>Gold: {{ myHero.gold }}
</h2>

<h1>Battle Statistics</h1>
<h2>Damage: {{ myHero.min_damage }} - {{ myHero.max_damage }}
<br>Attack Speed: {{myHero.attack_speed }}
<br>Accuracy: {{myHero.attack_accuracy }}%
<br>Defence: {{ myHero.defence_modifier }}%
<br>Dodge: {{ myHero.dodge_chance }}%
<br>Health: {{ myHero.current_hp }} / {{ myHero.max_hp }}
<br>Mana: {{ myHero.current_mp }} / {{ myHero.max_mp }}
</h2>

<h1>Abilities</h1>
<h2>
{% for abilitiy in myHero.abilities %} 
{{ ability }}
{% endfor %}
</h2>

<h1>Equipped Item(s):</h1>
<h2>{% for item in myHero.equipped_items %}  
<br>{{ item.name }} &emsp;  <input type="submit" name="{{ item.name }}" value="Unequip">
{% endfor %}</h2>
<h1>Inventory:</h1>
<h2>{% for item in myHero.inventory %}   
<br>{{ item.name }} &emsp;  <input type="submit" name="{{ item.name }}" value="Equip">
{% endfor %}
</h2>

<h1>Attributes</h1>
<h2><title="Damage and carrying capacity">Strength</>: {{ myHero.strength }}
<br>Endurance: {{ myHero.endurance }}
<br>Vitality: {{ myHero.vitality }}
<br>Agility: {{ myHero.agility }}
<br>Dexterity: {{ myHero.dexterity }}
<br>Devotion: {{ myHero.devotion }}
<br>Resistance: {{ myHero.resistance }}
<br>Wisdom: {{ myHero.wisdom }}
<br>Charm: {{ myHero.charm }}
<br>Instinct: {{ myHero.instinct }}
</h2>
<h1><a href="/reset_character">Reset Character</a></h1>
{% endif %}


<br>

      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
  </body>
</html>
