<!DOCTYPE html>
<html>

  <head>
    {% if page_title %}
    <title>{{ page_title }}</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/style.css" rel="stylesheet" media="screen">
  </head>


  <div class="sidebar">
    <u1>
      <img src="/images/character.jpg" alt="Sample" style="width:100px;height:100px;">
      <br>Name: {{ myHero.name}}
      <br>Class: {{ myHero.starting_class }}
      <br>Level: {{ myHero.level }}
      <br>Experience: {{ myHero.current_exp }} / {{ myHero.max_exp }}
      <br>Health: {{ myHero.current_hp }} / {{ myHero.max_hp }}
    </u1>
    <h1>
      <li><a href=/home>Profile</a></li>
      <li><a href=/arena>Arena</a></li>
      <li><a href=/store_greeting>Store</a></li>
      <li><a href=/logout>Logout</a></li>
    </h1>

  </div>

  <body>
  <div class="content">

    {% if page_heading %}
    <h1>{{ page_heading }}</h1>
    {% endif %}

    {% if page_image %}
    <img src="images/{{ page_image }}.jpg" alt="{{ page_image }}" style="width:304px;height:228px;">
    {% endif %}

    {% if paragraph %}
    <p>{{ paragraph }}</p>
    {% endif %}

    {% for text in conversation %}
    <br><b>{{ text[0] }}</b>{{ text[1] }}<br>
    {% endfor %}

{% if arena %}
<h2>Compete in the <a href="/battle" title="Battle a random opponent.">arena.</a>
<br>Battle another <a href="/arena" title="Under construction.">player.</a></h2>

<h1>A challenger approaches!</h1>
<h2>
<br>{{ game.enemy.name }} ({{ game.enemy.species }})
<br>Damage: {{ game.enemy.min_damage }} - {{ game.enemy.max_damage }}
<br>Attack Speed: {{ game.enemy.speed }}
<br>Health: {{ game.enemy.current_hp }} / {{ game.enemy.max_hp }}
</h2>
{% endif %}

{% if leveling_up %}
<br>

<form method="post" action="">
    <div>
        <label for="name">Strength: {{ myHero.strength }}</label>
        <input type="number" placeholder="0" name="strength_upgrade" min="0" max="{{ myHero.attribute_points }}" title="Numbers only" value="0">
    	<br>
        <label for="name">Endurance: {{ myHero.endurance }}</label>
        <input type="number" placeholder="0" name="endurance_upgrade" min="0" max="{{ myHero.attribute_points }}" title="Numbers only" value="0">
        <br>
        <label for="name">Vitality: {{ myHero.vitality }}</label>
        <input type="number" placeholder="0" name="vitality_upgrade" min="0" max="{{ myHero.attribute_points }}" title="Numbers only" value="0">
        <br>
        <label for="name">Agility: {{ myHero.agility }}</label>
        <input type="number" placeholder="0" name="agility_upgrade" min="0" max="{{ myHero.attribute_points }}" title="Numbers only" value="0">
        <br>
        <label for="name">Dexterity: {{ myHero.dexterity }}</label>
        <input type="number" placeholder="0" name="dexterity_upgrade" min="0" max="{{ myHero.attribute_points }}" title="Numbers only" value="0">
        <br>
        <label for="name">Devotion: {{ myHero.devotion }}</label>
        <input type="number" placeholder="0" name="devotion_upgrade" min="0" max="{{ myHero.attribute_points }}" title="Numbers only" value="0">
        <br>
        <label for="name">Resistance: {{ myHero.resistance }}</label>
        <input type="number" placeholder="0" name="resistance_upgrade" min="0" max="{{ myHero.attribute_points }}" title="Numbers only" value="0">
        <br>
        <label for="name">Wisdom: {{ myHero.wisdom }}</label>
        <input type="number" placeholder="0" name="wisdom_upgrade" min="0" max="{{ myHero.attribute_points }}" title="Numbers only" value="0">
        <br>
        <label for="name">Charm: {{ myHero.charm }}</label>
        <input type="number" placeholder="0" name="charm_upgrade" min="0" max="{{ myHero.attribute_points }}" title="Numbers only" value="0">
        <br>
        <label for="name">Instinct: {{ myHero.instinct }}</label>
        <input type="number" placeholder="0" name="instinct_upgrade" min="0" max="{{ myHero.attribute_points }}" title="Numbers only" value="0">
</div>
</h2>
<input class="btn btn-default" type="submit" value="Submit">
<h1>&emsp; &emsp; &emsp; &emsp; <b>Points remaining {{ myHero.attribute_points }}</b>
</form>

{% elif home %}

<h1>General Statistics</h1>
<h2> 
Name: {{ myHero.name}}
<br>Class: {{ myHero.starting_class }}
<br>Level: {{ myHero.level }}
<br>Experience: {{ myHero.current_exp }} / {{ myHero.max_exp }}
</h2>

<h1>Battle Statistics</h1>
<h2>Damage: {{ myHero.min_damage }} - {{ myHero.max_damage }}
<br>Attack Speed: {{myHero.speed }}
<br>Health: {{ myHero.current_hp }} / {{ myHero.max_hp }}
<br>Defence: {{ myHero.defence }}
</h2>

<h1>Abilities</h1>
<h2>
{% for abilitiy in myHero.abilities %} 
{{ ability }}
{% endfor %}
</h2>

<h1>Inventory</h1>
<h2>Item(s): {{ myHero.items[0].name }}
</h2>

<h1>Attributes</h1>
<h2><title="Damage and carrying capacity">Strength</>: {{ myHero.strength }}
<br>Endurance: {{ myHero.endurance }}
<br>Vitality: {{ myHero.vitality }}
<br>Agility: {{ myHero.agility }}
<br>Dexterity: {{ myHero.dexterity }}
<br>Devotion: {{ myHero.devotion }}
<br>Resistance: {{ myHero.resistance }}
<br>Wisdom: {{ myHero.wisdom }}
<br>Charm: {{ myHero.charm }}
<br>Instinct: {{ myHero.instinct }}
</h2>
<h1><a href="/create_character">Create New Character</a></h1>
{% endif %}

{% if inside_store %}
  {% if items_for_sale %}
  <h2>Here is our list of items:</h2>
    {% for item in items_for_sale %}
        {{ item}}<br>
     {% endfor %}
  {% endif %}
  {% for link in page_links %}
    <h2><a href="/{{ link[0] }}">{{ link[1] }}</a></h2>
  {% endfor %}
{% endif %}

<br>

      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
  </body>
</html>
