<!DOCTYPE html>
<html lang="en">

  <head>
    {% if page_title %}
      <title>{{ page_title }}</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
  </head>

  <body>
  <div id="page">
    <div id="sidebar">
      <div class="sidebarinfo">
        <img src="/static/images/character.jpg" alt="Sample" style="width:100px;height:100px;">
        <ul>
        <li>Name: {{ myHero.name}} </li>
        <li>Age: {{ myHero.age }}</li>
        <li>Experience: {{ myHero.current_exp }} / {{ myHero.max_exp }}</li>
        <li>Health: {{ myHero.current_health }} / {{ myHero.max_health }}</li></li>
        <li>Sanctity: {{ myHero.current_sanctity }} / {{ myHero.max_sanctity }}
        <li>Endurance: {{ myHero.current_endurance }} / {{ myHero.max_endurance }}</li>
        <li>Gold: {{ myHero.gold }}</li>
        </ul>
      </div>
      <div class="sidebarmenu">
        <ul>
        <li><a href=/home>Profile</a></li>
        <li><a href=/inventory_page>Inventory</a></li>
        {% if myHero.current_city %}
           <li><a href=/{{ myHero.current_city.location_type }}/{{ myHero.current_city.name }}>{{ myHero.current_city.name }}</a></li>
        {% else %}
          <li><a href=/{{ myHero.current_world.location_type }}/{{ myHero.current_world.name }}/{{ myHero.current_location.id }}>{{ myHero.current_world.location_type }}</a></li>
        {% endif %}
        <li><a href=/quest_log>Journal</a></li>
        <li><a href=/ability_tree/Basic>Abilities</a></li>
        <li><a href=/admin>Admin</a></li>
        <li><a href=/display_users>Users</a></li>
        <li><a href=/logout>Logout</a></li>
        </ul>
      </div>
    </div>

<!-- This is where you want to add HTML that will not be contained within the main body of the page -->

<!-- This creates a list of tabs at the top of the main page -->
{% if journal %}
  <div id="content">
     <div class="nav">
     <ul>
       <li><a href=/quest_log>Quests</a></li>
       <li><a href=/bestiary/default>Bestiary</a></li>
       <li><a href=/people_log/default>People</a></li>
       <li><a href=/map_log>Map</a></li>
       <li><a href=/achievement_log>Achievements</a></li>
     </ul>
    </div>
  </div>
{% endif %}

<!-- This is for content that is displayed on the main page -->
 <div id="content">

{% block generic_content %}{% endblock %}

<!-- This calls a notification script to run if the Hero has any new quests completed -->
    {% if myHero.quest_notification %}
      <div class="popup" onclick="quest_popup()" style="color:red">You have complete a quest! (+{{ myHero.quest_notification[1] }}xp)<span class="popupachievement" id="js_popupachievement">{{ myHero.quest_notification[0] }}</span></div> &nbsp; Click <a href=/quest_log>here</a> to go to your Quest Log
    {% endif %}

<!-- You can pass page headings through with this variable-->
    {% if page_heading %}
      <h1>{{ page_heading }}</h1>
    {% endif %}

<!-- You can pass a page image through with this variable -->
    {% if page_image %}
      <img src="/static/images/{{ page_image }}.jpg" alt="{{ page_image }}" style="width:304px;height:228px;">
    {% endif %}

<!-- You can pass through walls of text with this variable -->
    {% if paragraph %}
      <p>{{ paragraph }}</p>
    {% endif %}

<!-- You can pass through a conversation which displays character names with this variable-->
    {% for text in conversation %}
      <br><b>{{ text[0] }}</b> {{ text[1] }}<br>
    {% endfor %}

<!-- I forget what this does :'( -->
    {% for status in status_display %}
      <h2>{{ status[2] }}</h2><b>{{ status[0] }}</b> {{ status[1] }}
    {% endfor %}

<!-- This let's you pass through HTML links with descriptions. Currently used in places such as the Town Square to navigate -->
    {% for link in page_links %}
      <h2>{{ link[0] }}<a href="{{ link[1] }}">{{ link[2] }}</a>{{ link[3] }}</h2>
    {% endfor %}

<!-- This variable can be passed the add links to the bottom of any page -->
    {% for link in bottom_page_links %}
      <h2>{{ link[0] }}<a href="{{ link[1] }}">{{ link[2] }}</a>{{ link[3] }}</h2>
    {% endfor %}

<!-- You can pass Red Error messages through this variable -->
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}

<!-- This ends the main body container of the page -->
    </div>
  </body>
</html>

<script>
// Only run what comes next *after* the page has loaded
document.addEventListener("DOMContentLoaded", function () {
    "use strict";
    // Grab all of the elements with a class of command
    // (which all of the buttons we just created have)
    var commandButtons = document.querySelectorAll(".command");

    // Iterate through the NodeList created by "querySelectorAll"
    commandButtons.forEach(function (button) {
        // For each button, listen for the "click" event
        button.addEventListener("click", function (e) {
            // When a click happens, stop the button
            // from submitting our form (if we have one)
            e.preventDefault();

            var clickedButton = e.target;
            var command = clickedButton.value;

            //get buttons class and save it as the .
            console.log("Button clicked was:", clickedButton);
            var buttonClass = clickedButton.class;

            // Now we need to send the data to our server
            // without reloading the page - this is the domain of
            // AJAX (Asynchronous JavaScript And XML)
            // We will create a new request object
            // and set up a handler for the response
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                // Wait until response gets full formed .. and isn't an error.
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    // Current response format must be of the form key=value
                    // I will put some error checking in to make sure that this happens at some point.
                    //
                    // If response can't be used to find content to update (old code)
                    // Then the whole page is reloaded instead. See if (!objectIDs.length).
                    var requestArray = xhttp.responseText.split("=");
                    var key = requestArray[0];
                    var value = requestArray[1];
                    console.log("Response: key=" + key + ", value=" + value);

                    // Get all locations/objects that are going to be updated by this response.
                    // currently all info to be updated must be of the form
                    // <span id="{{ myHero.religion }}">{{ myHero.religion }}</span>
                    // which might really looks like <span id="Forgoth">Forgoth</span>
                    // when the folling loop executes both the id and value between
                    // the span tags gets updated.

                    // There is probably a faster way cleaner way. Maybe having a default
                    // <span id="update_me">html to be updated</span> would be better?
                    // And leaving the id the same? Instead of dynamically updating it?
                    // Perhaps I could build all Jinja2 variables inside an update_me span tag?
                    // That way all of the dynamic content would get updated?
                    var idElements = document.querySelectorAll("#" + key);
                    // For backwards compatability until I update all of the old code.
                    // Runs if no objectIDs are found.
                    if (!idElements.length) {
                        location.reload();
                    } else {
                        console.log("Elements to be updated:", idElements);
                        // Iterate through the NodeList created by "querySelectorAll"
                        idElements.forEach(function (item, index) {
                            console.log("object " + index + ": " + item);
                            item.innerHTML = value;
                            item.id = value;
                        });
                    }
                }
            };
            // We point the request at the appropriate command
            // Send data to python. To send no string args you must not use the "+" operator.
            // Then you can send the data raw or in lots of other formats.
            // See https://www.w3schools.com/xml/ajax_xmlhttprequest_send.asp
            //
            // Note: command == button.value so <button value="foo"> command == "foo"
            //
            // While buttonClass == button.class (which might be able to be multiple values?)
            // such that <button class="classFoo"> buttonClass = "classFoo"
            //
            // I don't know what would happen if a button has multiple classes
            // e.g. <button class="foo otherFoo">
            //
            // "&&" acts like the "," in pythonic {key:value, key2:value2}
            xhttp.open("GET", "/" + command + "?class=" + buttonClass + "&&key2=value2", true);
            // and then we send it off
            xhttp.send();
        });
    });
}, true);
</script>





