<!DOCTYPE html>
<html lang="en">

  <head>
    {% if page_title %}
    <title>{{ page_title }}</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script>
      function agility_updater(AR) {
    document.querySelector('#agility_output').value = AR;
    var select_agility = document.querySelector('#agility_output').value
    console.log(select_agility);
    }
      function charisma_updater(AR) {
    document.querySelector('#charisma_output').value = AR;
    var select_charisma = document.querySelector('#charisma_output').value
    console.log(select_charisma); 
}
      function divinity_updater(AR) {
    document.querySelector('#divinity_output').value = AR;
    var select_divinity = document.querySelector('#divinity_output').value
    console.log(select_divinity);
    }
      function fortitude_updater(AR) {
    document.querySelector('#fortitude_output').value = AR;
    var select_fortitude = document.querySelector('#fortitude_output').value
    console.log(select_fortitude);
    }
      function fortuity_updater(AR) {
    document.querySelector('#fortuity_output').value = AR;
    var select_fortuity = document.querySelector('#fortuity_output').value
    console.log(select_fortuity);
    }
      function perception_updater(AR) {
    document.querySelector('#perception_output').value = AR;
    var select_perception = document.querySelector('#perception_output').value
    console.log(select_perception);
    }
      function reflexes_updater(AR) {
    document.querySelector('#reflexes_output').value = AR;
    var select_reflexes = document.querySelector('#reflexes_output').value
    console.log(select_reflexes);
    }
      function resilience_updater(AR) {
    document.querySelector('#resilience_output').value = AR;
    var select_resilience = document.querySelector('#resilience_output').value
    console.log(select_resilience);
    }
      function strength_updater(AR) {
    document.querySelector('#strength_output').value = AR;
    var select_strength = document.querySelector('#strength_output').value
    console.log(select_strength); 
}
      function survivalism_updater(AR) {
    document.querySelector('#survivalism_output').value = AR;
    var select_survivalism = document.querySelector('#survivalism_output').value
    console.log(select_survivalism);
    }
      function vitality_updater(AR) {
    document.querySelector('#vitality_output').value = AR;
    var select_vitality = document.querySelector('#vitality_output').value
    console.log(select_vitality);
    }
      function wisdom_updater(AR) {
    document.querySelector('#wisdom_output').value = AR;
    var select_wisdom = document.querySelector('#wisdom_output').value
    console.log(select_wisdom);
    }

  function findTotal()
  {
    var agility = document.getElementsByName('agility_attribute');
    var charisma = document.getElementById('charisma_attribute');
    var divinity = document.getElementById('divinity_attribute');
    var fortitude = document.getElementById('fortitude_attribute');
    var fortuity = document.getElementById('fortuity_attribute');
    var perception = document.getElementById('perception_attribute');
    var reflexes = document.getElementById('reflexes_attribute');
    var resilience = document.getElementsByName('resilience_attribute');
    var strength = document.getElementById('strength_attribute');
    var survivalism = document.getElementById('survivalism_attribute');
    var vitality = document.getElementsByName('vitality_attribute');
    var wisdom = document.getElementById('wisdom_attribute');
    var selected_points = parseInt(agility_attribute.value) + parseInt(charisma_attribute.value) + parseInt(divinity_attribute.value) 
+ parseInt(fortitude_attribute.value) + parseInt(fortuity_attribute.value) + parseInt(perception_attribute.value) 
+ parseInt(reflexes_attribute.value) + parseInt(resilience_attribute.value) + parseInt(strength_attribute.value) 
+ parseInt(survivalism_attribute.value) + parseInt(vitality_attribute.value) + parseInt(wisdom_attribute.value);
    var tot= {{ myHero.attribute_points }};
    tot -= selected_points;
    document.getElementById('total_points_spent').value = tot;
    sumerror()
}

  function findTotal2()
  {
    var attack_speed = document.getElementById('attack_speed_variable');
    var selected_points = parseInt(attack_speed_variable.value);
    var tot= {{ myHero.secondary_attribute_points }};
    tot -= selected_points;
    document.getElementById('total_secondary_points_spent').value = tot;
    sumerror()
}

function sumerror()
  {
    var sum = document.getElementById('total_points_spent').value;
	
	if (sum < 0) 
  {
    document.getElementById('sumerror').value = '          You do not have enough points';
    document.getElementById("level_button").disabled = true;

	}
  else {

    document.getElementById('sumerror').value = '';
    document.getElementById("level_button").disabled = false;
	}
}
</script>


  </head>
  <body>


  </head>
  <body>

  <div id="page">
    <div id="sidebar">
      <div class="sidebarinfo">
        <img src="/static/images/character.jpg" alt="Sample" style="width:100px;height:100px;">
        <ul>
        <li>Name: {{ myHero.name}} </li>
        <li>Age: {{ myHero.age }}</li>
        <li>Experience: {{ myHero.current_exp }} / {{ myHero.max_exp }}</li>
        <li>Health: {{ myHero.current_health }} / {{ myHero.max_health }}</li></li>
        <li>Sanctity: {{ myHero.current_sanctity }} / {{ myHero.max_sanctity }}
        <li>Endurance: {{ myHero.current_endurance }} / {{ myHero.max_endurance }}</li>
        <li>Gold: {{ myHero.gold }}</li>
        </ul>
      </div>
      <div class="sidebarmenu">
        <ul>
        <li><a href=/home>Profile</a></li>
        <li><a href=/inventory_page>Inventory</a></li>
        {% if myHero.current_city %}
           <li><a href=/{{ myHero.current_city.location_type }}/{{ myHero.current_city.name }}>{{ myHero.current_city.name }}</a></li>
        {% else %}
          <li><a href=/{{ myHero.current_world.location_type }}/{{ myHero.current_world.name }}/{{ myHero.current_location.id }}>{{ myHero.current_world.location_type }}</a></li>
        {% endif %}
        <li><a href=/quest_log>Journal</a></li>
        <li><a href=/ability_tree/Basic>Abilities</a></li>
        <li><a href=/admin>Admin</a></li>
        <li><a href=/display_users>Users</a></li>
        <li><a href=/logout>Logout</a></li>
        </ul>
      </div>
    </div>

<!-- This is where you want to add HTML that will not be contained within the main body of the page -->


<!-- This creates a list of tabs at the top of the main page -->
{% if journal %}
  <div id="content">
     <div class="nav">
     <ul>
       <li><a href=/quest_log>Quests</a></li>
       <li><a href=/bestiary/default>Bestiary</a></li>
       <li><a href=/people_log/default>People</a></li>
       <li><a href=/map_log>Map</a></li>
       <li><a href=/achievement_log>Achievements</a></li>
     </ul>
    </div>
  </div>
{% endif %}

<!-- This is for content that is displayed on the main page -->
 <div id="content">

{% block generic_content %}{% endblock %}

<!-- This calls a notification script to run if the Hero has any new quests completed -->
    {% if myHero.quest_notification %}
      <div class="popup" onclick="quest_popup()" style="color:red">You have complete a quest! (+{{ myHero.quest_notification[1] }}xp)<span class="popupachievement" id="js_popupachievement">{{ myHero.quest_notification[0] }}</span></div> &nbsp; Click <a href=/quest_log>here</a> to go to your Quest Log
    {% endif %}

<!-- You can pass page headings through with this variable-->
    {% if page_heading %}
    <h1>{{ page_heading }}</h1>
    {% endif %}

<!-- You can pass a page image through with this variable -->
    {% if page_image %}
    <img src="/static/images/{{ page_image }}.jpg" alt="{{ page_image }}" style="width:304px;height:228px;">
    {% endif %}

<!-- You can pass through walls of text with this variable -->
    {% if paragraph %}
    <p>{{ paragraph }}</p>
    {% endif %}

<!-- You can pass through a conversation which displays character names with this variable-->
    {% for text in conversation %}
    <br><b>{{ text[0] }}</b> {{ text[1] }}<br>
    {% endfor %}

<!-- I forget what this does :'( -->
    {% for status in status_display %}
      <h2>{{ status[2] }}</h2><b>{{ status[0] }}</b> {{ status[1] }}
    {% endfor %}

<!-- This let's you pass through HTML links with descriptions. Currently used in places such as the Town Square to navigate -->
    {% for link in page_links %}
    <h2>{{ link[0] }}<a href="{{ link[1] }}">{{ link[2] }}</a>{{ link[3] }}</h2>
    {% endfor %}

<!-- This is the ability page IF YOU HAVE UNSPENT points. It let's you learn/upgrade abilities -->
    {% if ability_pages_learn %}
      <br>Ability Points: {{ myHero.ability_points }}
      <br>Arch Points: {{ myHero.archetype_ability_points }}
      <br>Spec Points: {{ myHero.specialization_ability_points }}
      <br>Relig Points: {{ myHero.pantheonic_ability_points }}
      <h1 style="text-align:center;">Abilities</h1>
      {% if archetype_ability_tree %}Choose Archetype (Currently {{ myHero.archetype }}): <button class="command command-woodsman" value="woodsman">Woodsman</button><button class="command command-priest" value="priest">Priest</button><br> You are a <b>{{ myHero.archetype }}</b>{% endif %}
      {% if class_ability_tree %}
Choose Specialization (Currently {{ myHero.specialization }}): <button class="command command-hunter" value="hunter">Hunter</button><button class="command command-trapper" value="trapper">Trapper</button><br> Your class is <b>{{ myHero.specialization }}</b>{% endif %}

      {% if religious_ability_tree %}
      Choose Religion (Currently <span id="{{ myHero.religion }}">{{ myHero.religion }}</span>): <button class="command command-forgoth" value="forgoth">Forgoth</button><button class="command command-dryarch" value="dryarch">Dryarch</button>
      <br> You are a follower of <b><span id="{{ myHero.religion }}">{{ myHero.religion }}</span></b>
      
      {% endif %}
      <h2 style="text-align:left;">Unknown</h2>
        {% for ability in unknown_abilities %}
          <button class="command command-{{ ability.name }}" value="{{ ability.name }}" title="{{ ability.name }} {{ ability.display_name }}: {{ ability.description }}">{{ ability.name }}</button><img src="/static/images/0.jpg" alt="?" style="width:25px;height:25px;"> {{ ability.description }}<br>
        {% endfor %}
      <h2 style="text-align:left;">Known</h2>
        {% for ability in learnable_abilities %}
          <button class="command command-{{ ability.name }}" value="{{ ability.name }}" title="{{ ability.name }} {{ ability.learn_name }}: {{ ability.description }}">{{ ability.name }}</button><img src="/static/images/{{ ability.display_name }}.jpg" alt="?" style="width:25px;height:25px;"> {{ ability.description }}<br>
        {% endfor %}
      <h2 style="text-align:left;">Mastered</h2>
        {% for ability in mastered_abilities %}
          <img src="/static/images/{{ ability.name }}.jpg"; height:70px; width:70px"><img src="/static/images/{{ ability.display_name }}.jpg" alt="?" style="width:25px;height:25px;"> {{ ability.description }}<br>
        {% endfor %}
    {% endif %}

<!-- This is the abilities page IF YOU DONT HAVE ability points. It lets you cast spells and see what you have learned -->
    {% if ability_pages_use %}
      <h1 style="text-align:center;">All Known Abilities</h1>
      {% for ability in learnable_abilities %}
        {{ ability.name }}<img src="/static/images/{{ ability.display_name }}.jpg" alt="?" style="width:25px;height:25px;">: {{ ability.description }}{% if ability.activated %}<button class="command command-{{ ability.name }}_use" value="{{ ability.name }}_use" title="Use {{ ability.name }}">   Use</button> (Costs {{ ability.cost }} Sanctity){% endif %}<br>
      {% endfor %}
    {% endif %}

<!-- This is the tavern and let's you choose dialogue options -->
    {% if tavern %}
      <form action="" method="post">
	I would like to
        <select name="tavern_choice">
        {% for key,value in dialogue_options.items() %}
	<option value={{ key }}>{{ value }}</option>
        {% endfor %}
	</select>
      <input class="btn btn-default" type="submit" value="Next">
      </form>
    {% endif %}

<!-- This shows the quest log within the journal -->
    {% if quest_log %}
      <h1>Current Quests</h1>
      {% for path in myHero.quest_paths if path.active %}
          <h2><br><b>{{ path.quest.name }}</b></h2>
          {{ path.quest.current_description }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(Stage: {{ path.stage }}/{{ path.stages }})
        {% endfor %}
      <h1>Completed Quests</h1>
      {% for path in myHero.quest_paths if path.completed %}
          <h2><br><b>{{ path.quest.name }}</b></h2>
          (Reward: {{ path.quest.reward_xp }} xp)
        {% endfor %}
     {% endif %}

<!-- This shows the bestiary within the journal -->
    {% if bestiary %}
      <div class="rightside">
        {% for monster in myHero.bestiary %}
          <ul>
            <li><a href=/bestiary/{{ monster.monster_id }}>{{ monster.name }}</a></li>
          </ul>
        {% endfor %}
    </div>
      <h1 style="text-align:center;">Bestiary</h1>
        {% if current_monster %}
          <h2>Entry:</h2><br>
          Name: {{ current_monster.name }}<br><br>
          Age: {{ current_monster.level }}<br><br>
          Type: {{ current_monster.species }} <br><br>
          <img src="/static/images/{{ current_monster.monster_id }}_display_picture.jpg" alt="{{ current_monster.name }} Picture" style="width:125px;height:125px;">
        {% else %}
          Here is a list of all of the beasts you have encountered!
        {% endif %}
    {% endif %}

<!-- This shows the People Log within the journal-->
    {% if people_log %}
      <div class="rightside">
        {% for npc in npc_data %}
          <ul>
            <li><a href=/people_log/{{ npc.npc_id }}>{{ npc.name }}</a></li>
          </ul>
        {% endfor %}
    </div>
      <h1 style="text-align:center;">People Log</h1>
        {% if current_npc %}
          <h2>Entry:</h2><br>
          Name: {{ current_npc.name }}<br><br>
          Age: {{ current_npc.age }}<br><br>
          Race: {{ current_npc.race }}
        {% else %}
          Here is a list of all of the notable people you have encountered!
        {% endif %}
    {% endif %}

<!-- This shows the achievement log within the journal -->
    {% if achievement_log %}
      <h1>Achievements</h1>
      {% if completed_achievements %}
        {% for achievement in completed_achievements %}
          <h2><br><b>{{ achievement[0] }}  &nbsp; &nbsp; &nbsp; (+{{ achievement[1] }} experience)</b></h2>
        {% endfor %}
      {% else %}
        No completed achievements.
      {% endif %}
      <h1>All Achievements</h1>
      {% for achievement in kill_achievements %}
          <h2><br><b>{{ achievement[0] }}</b></h2>
      {% endfor %}
      <h1> Current Kill Statistics </h1> 
         {% for key, value in myHero.kill_quests.items() %}
              {{ key }}: {{ value }}<br>
         {% endfor %}
    {% endif %}

<!-- This shows the map log within the journal -->
    {% if map_log %}
      <h1>Maps</h1>
      {% for map in myHero.known_locations %}
        {{ map }}
      {% endfor %}
    {% endif %}

<!-- This variable can be passed the add links to the bottom of any page -->
    {% for link in bottom_page_links %}
      <h2>{{ link[0] }}<a href="{{ link[1] }}">{{ link[2] }}</a>{{ link[3] }}</h2>
    {% endfor %}

<!-- This is the Home page -->	
  {% if home %}
    <center>
      <img src="/static/images/character.jpg" alt="Sample" style="width:100px;height:100px;"><br>
      {{ myHero.name }}
    </center>
    <h1>General Statistics</h1>
    <h2> 
      Name: {{ myHero.character_name}}
      <br>Age: {{ myHero.age }}
      <br>Archetype: {{ myHero.archetype }}
      <br>Specialization: {{ myHero.specialization }}
      <br>Religion: {{ myHero.religion }}
      <br>Experience: {{ myHero.current_exp }} / {{ myHero.max_exp }}
      <br>Carrying Capacity: {{ myHero.current_carrying_capacity }} / {{ myHero.max_carrying_capacity }}
      <br>Gold: {{ myHero.gold }}
      <br>Endurance: {{ myHero.current_endurance }} / {{ myHero.max_endurance }}
    </h2>
    <h1>Attributes</h1><h2>
    {% for attribute,value in myHero.get_primary_attributes() %}
      {{ attribute }}: {{ value }}<br>
    {% endfor %}</h2>
    <a href=/learn_basic_skills><h1>View Details</h1></a>
   {% endif %}

<!-- Basic Skill Page -->
    {% if basic_skill_page %}
      <form method="post" class="level_up_form">
        <section class="attribute_container">
          <div class="left-half">
            You have {{ myHero.attribute_points }} primary points to spend.<br><br>
        Agility: <input type="range" min="0" max="{{ myHero.attribute_points }}" value="0" id="agility_attribute" name="Agility" step="1" oninput="agility_updater(value)" onchange="findTotal()">
                 <output for="Agility" id="agility_output">0</output> (Current: {{ myHero.primary_attributes["Agility"] }})</br>
	Charisma: <input type="range" min="0" max="{{ myHero.attribute_points }}" value="0" id="charisma_attribute" name="Charisma" step="1" oninput="charisma_updater(value)" onchange="findTotal()">
                 <output for="Charisma" id="charisma_output">0</output> (Current: {{ myHero.primary_attributes["Charisma"] }})</br>
	Divinity: <input type="range" min="0" max="{{ myHero.attribute_points }}" value="0" id="divinity_attribute" name="Divinity" step="1" oninput="divinity_updater(value)" onchange="findTotal()">
                 <output for="Divinity" id="divinity_output">0</output> (Current: {{ myHero.primary_attributes["Divinity"] }})</br>
	Fortitude: <input type="range" min="0" max="{{ myHero.attribute_points }}" value="0" id="fortitude_attribute" name="Fortitude" step="1" oninput="fortitude_updater(value)" onchange="findTotal()">
                  <output for="Fortitude" id="fortitude_output">0</output> (Current: {{ myHero.primary_attributes["Fortitude"] }})</br>
	Fortuity: <input type="range" min="0" max="{{ myHero.attribute_points }}" value="0" id="fortuity_attribute" name="Fortuity" step="1" oninput="fortuity_updater(value)" onchange="findTotal()">
                 <output for="Fortuity" id="fortuity_output">0</output> (Current: {{ myHero.primary_attributes["Fortuity"] }})</br>
	Perception: <input type="range" min="0" max="{{ myHero.attribute_points }}" value="0" id="perception_attribute" name="Perception" step="1" oninput="perception_updater(value)" onchange="findTotal()">
                 <output for="Perception" id="perception_output">0</output> (Current: {{ myHero.primary_attributes["Perception"] }})</br>
	Reflexes: <input type="range" min="0" max="{{ myHero.attribute_points }}" value="0" id="reflexes_attribute" name="Reflexes" step="1" oninput="reflexes_updater(value)" onchange="findTotal()">
                 <output for="Reflexes" id="reflexes_output">0</output> (Current: {{ myHero.primary_attributes["Reflexes"] }})</br>
	Resilience: <input type="range" min="0" max="{{ myHero.attribute_points }}" value="0" id="resilience_attribute" name="Resilience" step="1" oninput="resilience_updater(value)" onchange="findTotal()">
                 <output for="Resilience" id="resilience_output">0</output> (Current: {{ myHero.primary_attributes["Resilience"] }})</br>
	Strength: <input type="range" min="0" max="{{ myHero.attribute_points }}" value="0" id="strength_attribute" name="Strength" step="1" oninput="strength_updater(value)" onchange="findTotal()">
                  <output for="Strength" id="strength_output">0</output> (Current: {{ myHero.primary_attributes["Strength"] }})</br>
	Survivalism: <input type="range" min="0" max="{{ myHero.attribute_points }}" value="0" id="survivalism_attribute" name="Survivalism" step="1" oninput="survivalism_updater(value)" onchange="findTotal()">
                 <output for="Survivalism" id="survivalism_output">0</output> (Current: {{ myHero.primary_attributes["Survivalism"] }})</br>
	Vitality: <input type="range" min="0" max="{{ myHero.attribute_points }}" value="0" id="vitality_attribute" name="Vitality" step="1" oninput="vitality_updater(value)" onchange="findTotal()">
                 <output for="Vitality" id="vitality_output">0</output> (Current: {{ myHero.primary_attributes["Vitality"] }})</br>
	Wisdom: <input type="range" min="0" max="{{ myHero.attribute_points }}" value="0" id="wisdom_attribute" name="Wisdom" step="1" oninput="wisdom_updater(value)" onchange="findTotal()">
                  <output for="Wisdom" id="wisdom_output">0</output> (Current: {{ myHero.primary_attributes["Wisdom"] }})</br>
            <br>Points remaining:
            <output type="text" name="total" id="total_points_spent" value="{{ myHero.attribute_points }}"/>{{ myHero.attribute_points }}</output>
            <output type="text" name="sumerror" id="sumerror" value="" style="color:red;" /></output>
          </div>
          <div class="right-half">
            You have {{ myHero.secondary_attribute_points }} secondary points to spend.<br><br>
            Attack Speed: <input type="range" min="0" max="{{ myHero.secondary_attribute_points }}" value="0" id="attack_speed_variable" name="attack_speed" step="1">(Current: {{ myHero.attack_speed_skill }})<br><br><br><br>
            <br>Points remaining:
            <output type="text" name="total2" id="total_secondary_points_spent" value="{{ myHero.secondary_attribute_points }}"/>{{ myHero.secondary_attribute_points }}</output>
            <output type="text" name="sumerror" id="sumerror" value="" style="color:red;" /></output>

            <br><br><br><br><input class="btn btn-default" type="submit" value="Save" id="level_button">
          </div>
        </section>
        Why can't I see this text....?
      </form>
    {% endif %}

<!-- You can pass Red Error messages through this variable -->
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}

<!-- This ends the main body container of the page -->
    </div>
  </body>
</html>



<script>
// Only run what comes next *after* the page has loaded
document.addEventListener("DOMContentLoaded", function () {
    "use strict";
    // Grab all of the elements with a class of command
    // (which all of the buttons we just created have)
    var commandButtons = document.querySelectorAll(".command");

    // Iterate through the NodeList created by "querySelectorAll"
    commandButtons.forEach(function (button) {
        // For each button, listen for the "click" event
        button.addEventListener("click", function (e) {
            // When a click happens, stop the button
            // from submitting our form (if we have one)
            e.preventDefault();

            var clickedButton = e.target;
            var command = clickedButton.value;

            //get buttons class and save it as the .
            console.log("Button clicked was:", clickedButton);
            var buttonClass = clickedButton.class;

            // Now we need to send the data to our server
            // without reloading the page - this is the domain of
            // AJAX (Asynchronous JavaScript And XML)
            // We will create a new request object
            // and set up a handler for the response
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                // Wait until response gets full formed .. and isn't an error.
                if (xhttp.readyState === 4 && xhttp.status === 200) {
                    // Current response format must be of the form key=value
                    // I will put some error checking in to make sure that this happens at some point.
                    //
                    // If response can't be used to find content to update (old code)
                    // Then the whole page is reloaded instead. See if (!objectIDs.length).
                    var requestArray = xhttp.responseText.split("=");
                    var key = requestArray[0];
                    var value = requestArray[1];
                    console.log("Response: key=" + key + ", value=" + value);

                    // Get all locations/objects that are going to be updated by this response.
                    // currently all info to be updated must be of the form
                    // <span id="{{ myHero.religion }}">{{ myHero.religion }}</span>
                    // which might really looks like <span id="Forgoth">Forgoth</span>
                    // when the folling loop executes both the id and value between
                    // the span tags gets updated.

                    // There is probably a faster way cleaner way. Maybe having a default
                    // <span id="update_me">html to be updated</span> would be better?
                    // And leaving the id the same? Instead of dynamically updating it?
                    // Perhaps I could build all Jinja2 variables inside an update_me span tag?
                    // That way all of the dynamic content would get updated?
                    var idElements = document.querySelectorAll("#" + key);
                    // For backwards compatability until I update all of the old code.
                    // Runs if no objectIDs are found.
                    if (!idElements.length) {
                        location.reload();
                    } else {
                        console.log("Elements to be updated:", idElements);
                        // Iterate through the NodeList created by "querySelectorAll"
                        idElements.forEach(function (item, index) {
                            console.log("object " + index + ": " + item);
                            item.innerHTML = value;
                            item.id = value;
                        });
                    }
                }
            };
            // We point the request at the appropriate command
            // Send data to python. To send no string args you must not use the "+" operator.
            // Then you can send the data raw or in lots of other formats.
            // See https://www.w3schools.com/xml/ajax_xmlhttprequest_send.asp
            //
            // Note: command == button.value so <button value="foo"> command == "foo"
            //
            // While buttonClass == button.class (which might be able to be multiple values?)
            // such that <button class="classFoo"> buttonClass = "classFoo"
            //
            // I don't know what would happen if a button has multiple classes
            // e.g. <button class="foo otherFoo">
            //
            // "&&" acts like the "," in pythonic {key:value, key2:value2}
            xhttp.open("GET", "/" + command + "?class=" + buttonClass + "&&key2=value2", true);
            // and then we send it off
            xhttp.send();
        });
    });
}, true);
</script>





