<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Here is your hero!</h1>

{% if not myHero.attribute_points %}
<h2> 
<br>Name: {{ myHero.name}}
<br>Class: {{ myHero.starting_class }}
<br>Level: {{ myHero.level }}
<br>Experience: {{ myHero.current_exp }} / {{ myHero.max_exp }}
<br>Damage: {{ myHero.damage }}
<br>Health: {{ myHero.current_hp }} / {{ myHero.max_hp }}
<br>Wins: {{ myHero.wins }}
<br>Item(s): {{ myHero.items[0].name }}
<br>
<br>Attribute Points: {{ myHero.attribute_points }}
<br>Strength: {{ myHero.strength }}
<br>Endurance: {{ myHero.endurance }}
<br>Vitality: {{ myHero.vitality }}
<br>Agility: {{ myHero.agility }}
<br>Dexterity: {{ myHero.dexterity }}
<br>Devotion: {{ myHero.devotion }}
<br>Resistance: {{ myHero.resistance }}
<br>Wisdom: {{ myHero.wisdom }}
<br>Charm: {{ myHero.charm }}
<br>Instinct: {{ myHero.instinct }}
</h2>
{% endif %}
{% if myHero.attribute_points %}
You have {{ myHero.attribute_points }} points to spend
<br>
<br>

<form method="post" action="">
    <div>
        <label for="name">Endurance: {{ myHero.endurance }}</label>
        <input type="text" placeholder="0" name="endurance_upgrade" pattern="[0-{{ myHero.attribute_points }}]{1,2}" title="Numbers only" value="{{ request.form.endurance_upgrade }}">
        <br>
        <label for="name">Strength: {{ myHero.strength }}</label>
        <input type="text" placeholder="0" name="strength_upgrade" pattern="[0-{{ myHero.attribute_points }}]{1,2}" title="Numbers only" value="{{ request.form.strength_upgrade }}">
    </div>
<input class="btn btn-default" type="submit" value="Submit">
</form>

<br>Vitality: {{ myHero.vitality }}
<br>Agility: {{ myHero.agility }}
<br>Dexterity: {{ myHero.dexterity }}
<br>Devotion: {{ myHero.devotion }}
<br>Resistance: {{ myHero.resistance }}
<br>Wisdom: {{ myHero.wisdom }}
<br>Charm: {{ myHero.charm }}
<br>Instinct: {{ myHero.instinct }}
<br>&emsp; &emsp; &emsp; &emsp; <b>Points remaining {{ myHero.attribute_points }}</b>
{% endif %}
</h2>

<br>

      <p>Click <a href="/createcharacter">here</a> to reset your character.</p>
      <p>Click <a href="/">here</a> to go to the main menu.</p>
      <p>Click <a href="/logout">here</a> to logout.</p>
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
  </body>
</html>