<script>
  function agility_updater(AR) {
    document.querySelector('#agility_output').value = AR;
    var select_agility = document.querySelector('#agility_output').value
    console.log(select_agility);
}
  function charisma_updater(AR) {
    document.querySelector('#charisma_output').value = AR;
    var select_charisma = document.querySelector('#charisma_output').value
    console.log(select_charisma); 
}
  function divinity_updater(AR) {
    document.querySelector('#divinity_output').value = AR;
    var select_divinity = document.querySelector('#divinity_output').value
    console.log(select_divinity);
}
  function fortitude_updater(AR) {
    document.querySelector('#fortitude_output').value = AR;
    var select_fortitude = document.querySelector('#fortitude_output').value
    console.log(select_fortitude);
}
  function fortuity_updater(AR) {
    document.querySelector('#fortuity_output').value = AR;
    var select_fortuity = document.querySelector('#fortuity_output').value
    console.log(select_fortuity);
}
  function perception_updater(AR) {
    document.querySelector('#perception_output').value = AR;
    var select_perception = document.querySelector('#perception_output').value
    console.log(select_perception);
}
  function reflexes_updater(AR) {
    document.querySelector('#reflexes_output').value = AR;
    var select_reflexes = document.querySelector('#reflexes_output').value
    console.log(select_reflexes);
}
  function resilience_updater(AR) {
    document.querySelector('#resilience_output').value = AR;
    var select_resilience = document.querySelector('#resilience_output').value
    console.log(select_resilience);
}
  function strength_updater(AR) {
    document.querySelector('#strength_output').value = AR;
    var select_strength = document.querySelector('#strength_output').value
    console.log(select_strength); 
}
  function survivalism_updater(AR) {
    document.querySelector('#survivalism_output').value = AR;
    var select_survivalism = document.querySelector('#survivalism_output').value
    console.log(select_survivalism);
}
  function vitality_updater(AR) {
    document.querySelector('#vitality_output').value = AR;
    var select_vitality = document.querySelector('#vitality_output').value
    console.log(select_vitality);
}
  function wisdom_updater(AR) {
    document.querySelector('#wisdom_output').value = AR;
    var select_wisdom = document.querySelector('#wisdom_output').value
    console.log(select_wisdom);
}

  function findTotal() {
    var agility = document.getElementsByName('agility_attribute');
    var charisma = document.getElementById('charisma_attribute');
    var divinity = document.getElementById('divinity_attribute');
    var fortitude = document.getElementById('fortitude_attribute');
    var fortuity = document.getElementById('fortuity_attribute');
    var perception = document.getElementById('perception_attribute');
    var reflexes = document.getElementById('reflexes_attribute');
    var resilience = document.getElementsByName('resilience_attribute');
    var strength = document.getElementById('strength_attribute');
    var survivalism = document.getElementById('survivalism_attribute');
    var vitality = document.getElementsByName('vitality_attribute');
    var wisdom = document.getElementById('wisdom_attribute');
    var selected_points = parseInt(agility_attribute.value) + parseInt(charisma_attribute.value) + parseInt(divinity_attribute.value) 
    + parseInt(fortitude_attribute.value) + parseInt(fortuity_attribute.value) + parseInt(perception_attribute.value) 
    + parseInt(reflexes_attribute.value) + parseInt(resilience_attribute.value) + parseInt(strength_attribute.value) 
    + parseInt(survivalism_attribute.value) + parseInt(vitality_attribute.value) + parseInt(wisdom_attribute.value);
    var tot= {{ myHero.attribute_points }};
    tot -= selected_points;
    document.getElementById('total_points_spent').value = tot;
    sumerror()
}

  function findTotal2() {
    var attack_speed = document.getElementById('attack_speed_variable');
    var selected_points = parseInt(attack_speed_variable.value);
    var tot= {{ myHero.secondary_attribute_points }};
    tot -= selected_points;
    document.getElementById('total_secondary_points_spent').value = tot;
    sumerror()
}

function sumerror() {
  var sum = document.getElementById('total_points_spent').value;
	
	if (sum < 0) {
    document.getElementById('sumerror').value = '          You do not have enough points';
    document.getElementById("level_button").disabled = true;
  }
  else {
    document.getElementById('sumerror').value = '';
    document.getElementById("level_button").disabled = false;
	}
}
</script>

{% extends "profile_template.html" %}
{% block block2 %}
<!-- Basic Skill Page -->
      <form method="post" class="level_up_form">
        <section class="attribute_container">
    
          <div class="right-half">
            You have {{ myHero.secondary_attribute_points }} secondary points to spend.<br><br>
            Attack Speed: <input type="range" min="0" max="{{ myHero.secondary_attribute_points }}" value="0" id="attack_speed_variable" name="attack_speed" step="1">(Current: {{ myHero.attack_speed_skill }})<br><br><br><br>
            <br>Points remaining:
            <output type="text" name="total2" id="total_secondary_points_spent" value="{{ myHero.secondary_attribute_points }}"/>{{ myHero.secondary_attribute_points }}</output>
            <output type="text" name="sumerror" id="sumerror" value="" style="color:red;" /></output>

            <br><br><br><br><input class="btn btn-default" type="submit" value="Save" id="level_button">
          </div>
        </section>
      </form>  

{% endblock %}