{% extends "layout.html" %}
{% block nav_bar %}

<div class="topbar">
	<ul>
		{% if profile %}
			<li><a class="topbarActive" href="/home">Profile</a></li>
		{% else %}
			<li><a class="" href="/home">Profile</a></li>
		{% endif %}
		{% if attributes %}
			<li><a class="topbarActive" href="/attributes">Attributes</a></li>
		{% elif myHero.attribute_points %}
			<li><a class="topbarGlowing" href="/attributes">Level Up!</a></li>
		{% else %}
			<li><a class="" href="/attributes">Attributes</a></li>
		{% endif %}
		{% if proficiencies %}
			<li><a class="topbarActive" ref="/proficiencies">Proficiencies</a></li>
		{% else %}
			<li><a href="/proficiencies">Proficiencies</a></li>
		{% endif %}
	</ul>
<div class="dropdown">
<button class="dropbtn">Abilities</button>
  <div class="dropdown-content">
    <a href="/ability_tree/Basic">Basic</a>
    <a href="/ability_tree/Archetype">Archetype</a>
    <a href="/ability_tree/Class">Class</a>
    <a href="/ability_tree/Religious">Religious</a>
  </div>
</div>
</div>

{% endblock %}

