<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Here is your hero!</h1>

{% if myHero %}
<h2> 
<br>Name: {{ myHero.name}}
<br>Class: {{ myHero.starting_class }}
<br>Level: {{ myHero.level }}

<br>Damage: {{ myHero.damage }}
<br>Affinity: {{ myHero.affinity }}
<br>Wisdom: {{ myHero.wisdom}}
<br>Health: {{ myHero.hp }} / {{ myHero.max_hp }}
<br>Wins: {{ myHero.wins }}
</h2>
{% endif %}
<br>

      <p>Click <a href="/createcharacter">here</a> to reset your character.</p>
      <p>Click <a href="/">here</a> to go to the main menu.</p>
      <p>Click <a href="/logout">here</a> to logout.</p>
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
  </body>
</html>