{% extends "profile_template.html" %}
{% block block1 %}

<!-- Basic Skill Page -->
<div class="profilePage">
        Points Remaining:<output type="text" name="testplz"> {{ myHero.proficiency_points }}</output>
</div>
<form method="post">
    <div style="clear: both;"></div>
    <div class="proficiencyPage">
		<div class="proficiencyPageInner">
			<h1>Offense</h1>
			<ul>
                {%- for proficiency in myHero.proficiencies %}
                {%- if proficiency.type == "Offense" %}
                <li>{{ proficiency.name}}: {{ proficiency.level }}</li> <!--<input type="int" name="testplz" value="0">-->
                {%- endif %}
                {%- endfor %}
			</ul>
			<h1>Stealth</h1>
			<ul>
				<li>Concealment: {{ myHero.proficiencies.stealth.level }}</li>
				<li>Pickpocketing: {{ myHero.proficiencies.pickpocketing.level }}</li>
			</ul>
		</div>
		<div class="proficiencyPageInner">
			<h1>Defence</h1>
			<ul>
				<li>Defence: {{ myHero.proficiencies.defence.level }}</li>
				<li>Evasion: {{ myHero.proficiencies.evade.level }}</li>
				<li>Parry: {{ myHero.proficiencies.parry.level }}</li>
				<li>Riposte: {{ myHero.proficiencies.riposte.level }}</li>
				<li>Block: {{ myHero.proficiencies.block.level }}</li>
			</ul>
			<h1>Resistances</h1>
			<ul>
				<li>Frost: {{ myHero.proficiencies.resist_frost.level }}</li>
				<li>Flame: {{ myHero.proficiencies.resist_flame.level }}</li>
				<li>Shadow: {{ myHero.proficiencies.resist_shadow.level }}</li>
				<li>Holy: {{ myHero.proficiencies.resist_holy.level }}</li>
				<li>Piercing: {{ myHero.proficiencies.resist_piercing.level }}</li>
				<li>Slashing: {{ myHero.proficiencies.resist_slashing.level }}</li>
				<li>Blunt: {{ myHero.proficiencies.resist_blunt.level }}</li>
			</ul>
		</div>
		<div class="proficiencyPageInner">
			<h1>Diplomacy</h1>
			<ul>
				<li>Oration: {{ myHero.proficiencies.oration.level }}</li>
				<li>Bartering: {{ myHero.proficiencies.bartering.level }}</li>
			</ul>
			<h1>Divinity</h1>
			<ul>
				<li>Faith: {{ myHero.proficiencies.faith.level }}</li>
				<li>Knowledge: {{ myHero.proficiencies.knowledge.level }}</li>
			</ul>
			{% if myHero.proficiency_points %}
				<input class="btn btn-default submitButton" type="submit" value="Save" id="level_button">
			{% endif %}
		</div>
    </div>	
	<div style="clear: both;"></div>
</form>
{% endblock %}
