{% extends "profile_template.html" %}
{% block block1 %}
<!-- Basic Skill Page -->
<form method="post" class="level_up_form">
    <div style="clear: both;"></div>
    <div class="proficiencyPage">
		<div class="proficiencyPageInner">
			<h1>Offense</h1>
			<ul>
				<li>Damage: {{ myHero.proficiency_attack_damage }}</li>
				<li>Attack Speed: {{ myHero.proficiency_attack_speed }}</li>
				<li>Accuracy: {{ myHero.proficiency_attack_accuracy }}</li>
				<li>First Strike: {{ myHero.proficiency_first_strike }}</li>
				<li>Critical Hit: {{ myHero.proficiency_critical_hit }}</li>
			</ul>
			<h1>Stealth</h1>
			<ul>
				<li>Concealment: {{ myHero.proficiency_stealth }}</li>
				<li>Pickpocketing: {{ myHero.proficiency_pickpocketing }}</li>
			</ul>
		</div>
		<div class="proficiencyPageInner">
			<h1>Defence</h1>
			<ul>
				<li>Defence: {{ myHero.proficiency_defence }}</li>
				<li>Evasion: {{ myHero.proficiency_evade }}</li>
				<li>Parry: {{ myHero.proficiency_parry }}</li>
				<li>Riposte: {{ myHero.proficiency_riposte }}</li>
				<li>Block: {{ myHero.proficiency_block }}</li>
			</ul>
			<h1>Resistances</h1>
			<ul>
				<li>Frost: {{ myHero.proficiency_resist_frost }}</li>
				<li>Flame: {{ myHero.proficiency_resist_flame }}</li>
				<li>Shadow: {{ myHero.proficiency_resist_shadow }}</li>
				<li>Holy: {{ myHero.proficiency_resist_holy }}</li>
				<li>Piercing: {{ myHero.proficiency_resist_piercing }}</li>
				<li>Slashing: {{ myHero.proficiency_resist_slashing }}</li>
				<li>Blunt: {{ myHero.proficiency_resist_blunt }}</li>
			</ul>
		</div>
		<div class="proficiencyPageInner">
			<h1>Diplomacy</h1>
			<ul>
				<li>Oration: {{ myHero.proficiency_oration }}</li>
				<li>Bartering: {{ myHero.proficiency_bartering }}</li>
			</ul>
			<h1>Divinity</h1>
			<ul>
				<li>Faith: {{ myHero.proficiency_faith }}</li>
				<li>Knowledge: {{ myHero.proficiency_knowledge }}</li>
			</ul>
			{% if myHero.secondary_attribute_points %}
				<input class="btn btn-default submitButton" type="submit" value="Save" id="level_button">
			{% endif %}
		</div>
    </div>	
	<div style="clear: both;"></div>
</form>
<div class="profilePage">
        Points Remaining:<output type="text" name="total" id="pointsRemaining" value="{{ myHero.secondary_attribute_points }}"/> {{ myHero.secondary_attribute_points }}</output>
    </div>

{% endblock %}