<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
  <div class="sidebar">
  <ul>
        <li><h1><a href="/createcharacter">New Character</a></h1></li>
        <li><h1><a href="/profile">Profile</a></h1></li>
        <li><h1><a href="/arena">Arena</a></h1></li>
        <li><h1><a href="/store_greeting">Store</a></h1></li>
        <li><h1><a href="/logout">Logout</a></h1></li>
  </ul>
</div>
<div class="content">

{% if not myHero.attribute_points %}
<h1>General Statistics</h1>
<h2> 
Name: {{ myHero.name}}
<br>Class: {{ myHero.starting_class }}
<br>Level: {{ myHero.level }}
<br>Experience: {{ myHero.current_exp }} / {{ myHero.max_exp }}
</h2>

<h1>Battle Statistics</h1>
<h2>
Damage: {{ myHero.damage }}
<br>Health: {{ myHero.current_hp }} / {{ myHero.max_hp }}
</h2>

<h1>Inventory</h1>
<h2>
Item(s): {{ myHero.items[0].name }}
</h2>

<h1>Attributes</h1>
<h2>
Strength: {{ myHero.strength }}
<br>Endurance: {{ myHero.endurance }}
<br>Vitality: {{ myHero.vitality }}
<br>Agility: {{ myHero.agility }}
<br>Dexterity: {{ myHero.dexterity }}
<br>Devotion: {{ myHero.devotion }}
<br>Resistance: {{ myHero.resistance }}
<br>Wisdom: {{ myHero.wisdom }}
<br>Charm: {{ myHero.charm }}
<br>Instinct: {{ myHero.instinct }}
</h2>
{% endif %}
{% if myHero.attribute_points %}
You have {{ myHero.attribute_points }} points to spend
<br>
<br>

<form method="post" action="">
    <div>
        <label for="name">Endurance: {{ myHero.endurance }}</label>
        <input type="text" placeholder="0" name="endurance_upgrade" pattern="[0-{{ myHero.attribute_points }}]{1,2}" title="Numbers only" value="{{ request.form.endurance_upgrade }}">
        <br>
        <label for="name">Strength: {{ myHero.strength }}</label>
        <input type="text" placeholder="0" name="strength_upgrade" pattern="[0-{{ myHero.attribute_points }}]{1,2}" title="Numbers only" value="{{ request.form.strength_upgrade }}">
    	<br>
        <label for="name">Vitality: {{ myHero.vitality }}</label>
        <input type="text" placeholder="0" name="vitality_upgrade" pattern="[0-{{ myHero.attribute_points }}]{1,2}" title="Numbers only" value="{{ request.form.vitality_upgrade }}">
</div>
<input class="btn btn-default" type="submit" value="Submit">
</form>

<br>Vitality: {{ myHero.vitality }}
<br>Agility: {{ myHero.agility }}
<br>Dexterity: {{ myHero.dexterity }}
<br>Devotion: {{ myHero.devotion }}
<br>Resistance: {{ myHero.resistance }}
<br>Wisdom: {{ myHero.wisdom }}
<br>Charm: {{ myHero.charm }}
<br>Instinct: {{ myHero.instinct }}
<br>&emsp; &emsp; &emsp; &emsp; <b>Points remaining {{ myHero.attribute_points }}</b>
{% endif %}
</h2>

<br>

      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
  </body>
</html>