{% extends "profile_template.html" %}
{% block block1 %}

<!-- This is the Home page -->	
<img class="profileImage" src="/static/images/character_background.jpg" alt="Sample">
<div style="clear: both;"></div>
<div class="profileContainer">
<h1>General Statistics</h1>
	<div class="profileColumn">
		<ul> 
			<li>Name: {{ myHero.character_name}}</li>
			<li>Age: {{ myHero.age }}</li>
			{% if myHero.renown %}}
				<li>Renown: {{ myHero.character_name}}</li>
			{% endif %}
			{% if myHero.devotion %}}
				<li>Devotion: {{ myHero.age }}</li>
			{% endif %}
			{% if myHero.specialization %}}
				<li>Specialization: {{ myHero.specialization }}</li>
			{% endif %}
			{% if myHero.religion %}}
				<li>Religion: {{ myHero.religion }}</li>
			{% endif %}
		</ul>
	</div>
	<div class="profileColumn">
		<ul> 
			<li>???: ???</li>
		</ul>
	</div>
</div>
<div style="clear: both;"></div>
<div class="profileContainer">
<h1>Battle Statistics</h1>
	<div class="profileColumn">
		<ul> 
			<li>Health: {{ myHero.health }} / {{ myHero.health_maximum }}</li>
		</ul>
	</div>
	<div class="profileColumn">
		<ul> 
			<li>Endurance: {{ myHero.endurance }} / {{ myHero.endurance_maximum }}</li>
		</ul>
	</div>
</div>
<div style="clear: both;"></div>

{% endblock %}

